Repository cozy/cozy-libs, changes with the owners that CODEOWNERS names for each.
All owners: @kosssi, @ptbrowne, @cedricmessiant, @cpatchane, @enguerran, @Crash--, @gregorylegarec, @y-lohse, @ylohse, @doubleface

fix: Dont redirect to root after refresh (#515)
  packages/playgrounds/src/common/App.jsx
Owners: none

feat: Documents fields based on template
  packages/cozy-procedures/src/components/Documents.jsx
  packages/cozy-procedures/src/locales/en.json
  packages/cozy-procedures/src/locales/fr.json
Owners: none

fix: More accurate empty document button
  packages/cozy-procedures/src/components/documents/EmptyDocumentHolder.jsx
Owners: none

fix: Accurate document holder colors
  packages/cozy-procedures/src/components/Documents.jsx
  packages/cozy-procedures/src/components/documents/DocumentHolder.jsx
  packages/cozy-procedures/src/components/documents/LoadingDocumentHolder.jsx
Owners: none

[skip ci] Publish
  packages/cozy-procedures/CHANGELOG.md
  packages/cozy-procedures/package.json
Owners: none

fix(cozy-app-publish): Handle snake case cli options
  packages/cozy-app-publish/cozy-app-publish.js
Owners: @cpatchane, @gregorylegarec, @y-lohse

fix: Remove custom margins on personnal data form (#520)
  packages/cozy-procedures/src/components/PersonalDataForm.jsx
Owners: none

[skip ci] Publish
  packages/cozy-procedures/CHANGELOG.md
  packages/cozy-procedures/package.json
Owners: none

fix(procedures): Change numberOfKids to numberOfDependents
  packages/cozy-procedures/src/locales/en.json
  packages/cozy-procedures/src/locales/fr.json
  packages/cozy-procedures/src/templates/creditApplicationTemplate.js
Owners: none

fix(procedures): Change some French translations
  packages/cozy-procedures/src/locales/fr.json
Owners: none

fix(procedures): Change some French translations
  packages/cozy-procedures/src/locales/fr.json
Owners: none

fix(procedures): Change numberOfKids to numberOfDependents
  packages/cozy-procedures/src/locales/en.json
  packages/cozy-procedures/src/locales/fr.json
  packages/cozy-procedures/src/templates/creditApplicationTemplate.js
Owners: none

[skip ci] Publish
  packages/cozy-procedures/CHANGELOG.md
  packages/cozy-procedures/package.json
Owners: none

feat(harvest): Trigger manual release to get last translations 🌐
  packages/cozy-harvest-lib/.manual.log
Owners: @gregorylegarec, @cpatchane

[skip ci] Publish
  packages/cozy-harvest-lib/CHANGELOG.md
  packages/cozy-harvest-lib/package.json
Owners: @gregorylegarec, @cpatchane

[skip ci] Publish
  packages/cozy-app-publish/CHANGELOG.md
  packages/cozy-app-publish/package.json
Owners: @cpatchane, @gregorylegarec, @y-lohse

chore(procedures): Add more jest/eslint setup and enzyme-to-json
  packages/cozy-procedures/.eslintrc.json
  packages/cozy-procedures/babel-transformer.js
  packages/cozy-procedures/jestSetup.js
  packages/cozy-procedures/package.json
  yarn.lock
Owners: none

chore(procedures): Add more jest/eslint setup and enzyme-to-json
  packages/cozy-procedures/.eslintrc.json
  packages/cozy-procedures/babel-transformer.js
  packages/cozy-procedures/jestSetup.js
  packages/cozy-procedures/package.json
  yarn.lock
Owners: none

[skip ci] Publish
  packages/cozy-procedures/CHANGELOG.md
  packages/cozy-procedures/package.json
Owners: none

fix: Playground dependencies (#519)
  packages/playgrounds/package.json
Owners: none

test(procedures): Add test for SelectBoxAdapter
  packages/cozy-procedures/package.json
  packages/cozy-procedures/src/components/form/SelectBoxAdapter.jsx
  packages/cozy-procedures/src/components/form/SelectBoxAdapter.spec.jsx
  packages/cozy-procedures/src/components/form/__snapshots__/SelectBoxAdapter.spec.jsx.snap
  packages/cozy-procedures/test/__mocks__/fileMock.js
  packages/cozy-procedures/test/__mocks__/tMock.js
Owners: none

fix(cozy-app-publish): Argparse generates null default values
  packages/cozy-app-publish/cozy-app-publish.js
Owners: @cpatchane, @gregorylegarec, @y-lohse

test(procedures): Add test for FieldTemplate
  packages/cozy-procedures/src/components/form/FieldTemplate.jsx
  packages/cozy-procedures/src/components/form/FieldTemplate.spec.jsx
  packages/cozy-procedures/src/components/form/__snapshots__/FieldTemplate.spec.jsx.snap
Owners: none

test(procedures): Add test for InputAdapter
  packages/cozy-procedures/src/components/form/InputAdapter.jsx
  packages/cozy-procedures/src/components/form/InputAdapter.spec.jsx
  packages/cozy-procedures/src/components/form/__snapshots__/InputAdapter.spec.jsx.snap
Owners: none

test(procedures): Add test for InputWithUnit
  packages/cozy-procedures/src/components/form/InputWithUnit.jsx
  packages/cozy-procedures/src/components/form/InputWithUnit.spec.jsx
  packages/cozy-procedures/src/components/form/__snapshots__/InputWithUnit.spec.jsx.snap
Owners: none

test(procedures): Add test for ObjectFieldTemplate
  packages/cozy-procedures/src/components/form/ObjectFieldTemplate.spec.jsx
  packages/cozy-procedures/src/components/form/__snapshots__/ObjectFieldTemplate.spec.jsx.snap
Owners: none

[skip ci] Publish
  packages/cozy-app-publish/CHANGELOG.md
  packages/cozy-app-publish/package.json
Owners: @cpatchane, @gregorylegarec, @y-lohse

fix(procedures): Use payload in fetchMyselfError and fetchMyselfLoading
  packages/cozy-procedures/src/redux/personalDataSlice.js
Owners: none

test(procedures): Add tests for fetchMyself* reducers
  packages/cozy-procedures/src/redux/personalDataSlice.spec.js
Owners: none

fix(procedures): Use payload in fetchMyselfError and fetchMyselfLoading
  packages/cozy-procedures/src/redux/personalDataSlice.js
Owners: none

test(procedures): Add test for FieldTemplate
  packages/cozy-procedures/src/components/form/FieldTemplate.jsx
  packages/cozy-procedures/src/components/form/FieldTemplate.spec.jsx
  packages/cozy-procedures/src/components/form/__snapshots__/FieldTemplate.spec.jsx.snap
Owners: none

test(procedures): Add test for InputWithUnit
  packages/cozy-procedures/src/components/form/InputWithUnit.jsx
  packages/cozy-procedures/src/components/form/InputWithUnit.spec.jsx
  packages/cozy-procedures/src/components/form/__snapshots__/InputWithUnit.spec.jsx.snap
Owners: none

test(procedures): Add tests for fetchMyself* reducers
  packages/cozy-procedures/src/redux/personalDataSlice.spec.js
Owners: none

test(procedures): Add test for SelectBoxAdapter
  packages/cozy-procedures/package.json
  packages/cozy-procedures/src/components/form/SelectBoxAdapter.jsx
  packages/cozy-procedures/src/components/form/SelectBoxAdapter.spec.jsx
  packages/cozy-procedures/src/components/form/__snapshots__/SelectBoxAdapter.spec.jsx.snap
  packages/cozy-procedures/test/__mocks__/fileMock.js
  packages/cozy-procedures/test/__mocks__/tMock.js
Owners: none

test(procedures): Add test for ObjectFieldTemplate
  packages/cozy-procedures/src/components/form/ObjectFieldTemplate.spec.jsx
  packages/cozy-procedures/src/components/form/__snapshots__/ObjectFieldTemplate.spec.jsx.snap
Owners: none

test(procedures): Add test for InputAdapter
  packages/cozy-procedures/src/components/form/InputAdapter.jsx
  packages/cozy-procedures/src/components/form/InputAdapter.spec.jsx
  packages/cozy-procedures/src/components/form/__snapshots__/InputAdapter.spec.jsx.snap
Owners: none

[skip ci] Publish
  packages/cozy-procedures/CHANGELOG.md
  packages/cozy-procedures/package.json
Owners: none

feat(procedures): Add form status to personal data form
  packages/cozy-procedures/src/components/FormFillingStatus.jsx
  packages/cozy-procedures/src/components/FormFillingStatus.spec.jsx
  packages/cozy-procedures/src/components/PersonalDataForm.jsx
  packages/cozy-procedures/src/components/__snapshots__/FormFillingStatus.spec.jsx.snap
  packages/cozy-procedures/src/containers/FormFillingStatus.jsx
  packages/cozy-procedures/src/containers/FormFillingStatus.spec.jsx
  packages/cozy-procedures/src/locales/en.json
  packages/cozy-procedures/src/locales/fr.json
  packages/cozy-procedures/src/redux/personalDataSlice.js
  packages/cozy-procedures/src/redux/personalDataSlice.spec.js
Owners: none

refactor(procedures): Use get*Fields selectors in Overview
  packages/cozy-procedures/src/components/Overview.jsx
  packages/cozy-procedures/src/containers/Overview.jsx
Owners: none

fix(procedures): Pluralize FormFillingStatus
  packages/cozy-procedures/src/components/FormFillingStatus.jsx
  packages/cozy-procedures/src/components/__snapshots__/FormFillingStatus.spec.jsx.snap
  packages/cozy-procedures/src/locales/en.json
  packages/cozy-procedures/src/locales/fr.json
Owners: none

CODEOWNERS:

packages/cozy-device-helper @kosssi @ptbrowne
packages/cozy-flags @ptbrowne @cedricmessiant
packages/cozy-realtime @kosssi
packages/babel-preset-cozy-app @cpatchane @cedricmessiant
packages/eslint-config-cozy-app @cpatchane @cedricmessiant
packages/commitlint-config-cozy @kosssi @enguerran @cedricmessiant
packages/browserslist-config-cozy @cpatchane @Crash--
packages/cozy-app-publish @cpatchane @gregorylegarec @y-lohse
packages/cozy-ci-utils @y-lohse @cedricmessiant
packages/cozy-harvest-lib @gregorylegarec @cpatchane
packages/cozy-interapp @gregorylegarec @kosssi
packages/cozy-doctypes @ptbrowne @kosssi
packages/cozy-release @gregorylegarec @cpatchane @cedricmessiant
packages/renovate-config-cozy @ylohse @doubleface @kosssi
