Repository cozy/cozy-libs, changes with the owners that CODEOWNERS names for each.
All owners: @kosssi, @ptbrowne, @gregorylegarec, @cpatchane, @enguerran, @Crash--, @y-lohse, @doubleface

CODEOWNERS:

packages/cozy-device-helper @kosssi @ptbrowne
packages/cozy-flags @ptbrowne
packages/cozy-realtime @gregorylegarec @cpatchane
packages/babel-preset-cozy-app @cpatchane
packages/eslint-config-cozy-app @cpatchane
packages/commitlint-config-cozy @kosssi @enguerran
packages/browserslist-config-cozy @cpatchane @Crash--
packages/cozy-app-publish @cpatchane @gregorylegarec @y-lohse
packages/cozy-ci-utils @y-lohse
packages/cozy-harvest-lib @gregorylegarec @cpatchane
packages/cozy-interapp @gregorylegarec @kosssi
packages/cozy-doctypes @ptbrowne @kosssi
packages/cozy-release @gregorylegarec @cpatchane
packages/renovate-config-cozy @y-lohse @doubleface @kosssi

feat: Add cozy-authentication
  packages/cozy-authentication/.babelrc
  packages/cozy-authentication/.gitignore
  packages/cozy-authentication/README.md
  packages/cozy-authentication/examples/index.html
  packages/cozy-authentication/examples/index.js
  packages/cozy-authentication/jest.setup.js
  packages/cozy-authentication/package.json
  packages/cozy-authentication/preprocess.js
  packages/cozy-authentication/scripts/get-translations.sh
  packages/cozy-authentication/src/Authentication.jsx
  packages/cozy-authentication/src/Authentication.spec.jsx
  packages/cozy-authentication/src/LinkManager.jsx
  packages/cozy-authentication/src/Revoked.jsx
  packages/cozy-authentication/src/Standalone.jsx
  packages/cozy-authentication/src/client-compat.js
  packages/cozy-authentication/src/index.js
  packages/cozy-authentication/src/locales/en.json
  packages/cozy-authentication/src/locales/fr.json
  packages/cozy-authentication/src/steps/ButtonLinkRegistration.jsx
  packages/cozy-authentication/src/steps/SelectServer.jsx
  packages/cozy-authentication/src/steps/Welcome.jsx
  packages/cozy-authentication/src/styles.styl
  packages/cozy-authentication/yarn.lock
  yarn.lock
Owners: none

chore: Add cozy-flags as dependency
  packages/cozy-authentication/package.json
Owners: none

chore: Build before testing for workspace deps
  .travis.yml
Owners: none

[skip ci] Publish
  packages/cozy-authentication/CHANGELOG.md
  packages/cozy-authentication/package.json
Owners: none

chore: Ran yarn upgrade -i
  yarn.lock
Owners: none

fix(babel-preset-cozy-app): Publish validate.js file
  packages/babel-preset-cozy-app/package.json
Owners: @cpatchane

fix(babel-preset-cozy-app): Publish validate.js file
  packages/babel-preset-cozy-app/package.json
Owners: @cpatchane

[skip ci] Publish
  packages/babel-preset-cozy-app/CHANGELOG.md
  packages/babel-preset-cozy-app/package.json
  packages/commitlint-config-cozy/CHANGELOG.md
  packages/commitlint-config-cozy/package.json
  packages/cozy-authentication/CHANGELOG.md
  packages/cozy-authentication/package.json
  packages/cozy-device-helper/CHANGELOG.md
  packages/cozy-device-helper/package.json
  packages/cozy-doctypes/CHANGELOG.md
  packages/cozy-doctypes/package.json
  packages/cozy-flags/CHANGELOG.md
  packages/cozy-flags/package.json
  packages/cozy-harvest-lib/CHANGELOG.md
  packages/cozy-harvest-lib/package.json
  packages/cozy-interapp/CHANGELOG.md
  packages/cozy-interapp/package.json
  packages/cozy-realtime/CHANGELOG.md
  packages/cozy-realtime/package.json
Owners: @cpatchane, @kosssi, @enguerran, @ptbrowne, @gregorylegarec

feat(harvest): KonnectorJobError now detects user errors ✨
  packages/cozy-harvest-lib/src/helpers/konnectors.js
  packages/cozy-harvest-lib/test/helpers/konnectors.spec.js
Owners: @gregorylegarec, @cpatchane

feat(harvest): Export KonnectorJobError from module ✨
  packages/cozy-harvest-lib/src/index.js
  packages/cozy-harvest-lib/test/index.spec.js
Owners: @gregorylegarec, @cpatchane

fix(interapp): :bug: Export correctly as default module
  packages/cozy-interapp/src/index.js
Owners: @gregorylegarec, @kosssi

refactor: Use helper to get date
  packages/cozy-doctypes/src/banking/BankTransaction.js
Owners: @ptbrowne, @kosssi

refactor: Clearer name
  packages/cozy-doctypes/src/banking/BankTransaction.js
Owners: @ptbrowne, @kosssi

feat: Do not reconciliate with transactions that are too old
  packages/cozy-doctypes/src/banking/BankTransaction.js
  packages/cozy-doctypes/src/banking/BankTransaction.spec.js
  packages/cozy-doctypes/src/banking/BankingReconciliator.spec.js
  packages/cozy-doctypes/src/banking/__snapshots__/BankingReconciliator.spec.js.snap
Owners: @ptbrowne, @kosssi

fix(cozy-authentication): Remove lock file
  packages/cozy-authentication/yarn.lock
Owners: none

fix(cozy-authentication): Remove lock file (#349)
  packages/cozy-authentication/yarn.lock
Owners: none

[skip ci] Publish
  packages/cozy-authentication/CHANGELOG.md
  packages/cozy-authentication/package.json
Owners: none

[skip ci] Publish
  packages/cozy-harvest-lib/CHANGELOG.md
  packages/cozy-harvest-lib/package.json
Owners: @gregorylegarec, @cpatchane

[skip ci] Publish
  packages/cozy-doctypes/CHANGELOG.md
  packages/cozy-doctypes/package.json
Owners: @ptbrowne, @kosssi

feat(app-publish/downcloud): Use buildDir option
  packages/cozy-app-publish/lib/hooks/pre/downcloud.js
  packages/cozy-app-publish/lib/publisher.js
  packages/cozy-app-publish/test/__snapshots__/manual.spec.js.snap
  packages/cozy-app-publish/test/__snapshots__/travis.spec.js.snap
Owners: @cpatchane, @gregorylegarec, @y-lohse

refactor(app-publish/downcloud): Extract helpers
  packages/cozy-app-publish/lib/hooks/pre/downcloud.js
  packages/cozy-app-publish/lib/hooks/pre/helpers.js
Owners: @cpatchane, @gregorylegarec, @y-lohse

test(app-publish/downcloud): Add tests
  packages/cozy-app-publish/lib/hooks/pre/__mocks__/helpers.js
  packages/cozy-app-publish/lib/hooks/pre/downcloud.spec.js
Owners: @cpatchane, @gregorylegarec, @y-lohse

[skip ci] Publish
  packages/cozy-app-publish/CHANGELOG.md
  packages/cozy-app-publish/package.json
Owners: @cpatchane, @gregorylegarec, @y-lohse

feat(app-publish/downcloud): Use space name in remote path
  packages/cozy-app-publish/lib/hooks/pre/helpers.js
  packages/cozy-app-publish/lib/hooks/pre/helpers.spec.js
Owners: @cpatchane, @gregorylegarec, @y-lohse

feat(app-publish/downcloud): Use space name in remote path
  packages/cozy-app-publish/lib/hooks/pre/helpers.js
  packages/cozy-app-publish/lib/hooks/pre/helpers.spec.js
Owners: @cpatchane, @gregorylegarec, @y-lohse

[skip ci] Publish
  packages/cozy-app-publish/CHANGELOG.md
  packages/cozy-app-publish/package.json
Owners: @cpatchane, @gregorylegarec, @y-lohse

feat: Add an utility to open or redirect for a deeplink
  packages/cozy-device-helper/src/deeplink.js
  packages/cozy-device-helper/src/index.js
Owners: @kosssi, @ptbrowne

feat: Add an utility to open or redirect for a deeplink (#354)
  packages/cozy-device-helper/src/deeplink.js
  packages/cozy-device-helper/src/index.js
Owners: @kosssi, @ptbrowne

[skip ci] Publish
  packages/cozy-authentication/CHANGELOG.md
  packages/cozy-authentication/package.json
  packages/cozy-device-helper/CHANGELOG.md
  packages/cozy-device-helper/package.json
Owners: @kosssi, @ptbrowne

chore(deps): update dependency enzyme to v3.9.0
  packages/cozy-harvest-lib/package.json
  yarn.lock
Owners: @gregorylegarec, @cpatchane

fix(deps): update dependency eslint to v5.15.3
  packages/eslint-config-cozy-app/package.json
  yarn.lock
Owners: @cpatchane

[skip ci] Publish
  packages/cozy-interapp/CHANGELOG.md
  packages/cozy-interapp/package.json
Owners: @gregorylegarec, @kosssi

refactor(realtime): Set up new API relying internally on legacy code 🛠
  packages/cozy-realtime/src/index.js
  packages/cozy-realtime/test/e2e.spec.js
  packages/cozy-realtime/test/realtime.spec.js
Owners: @gregorylegarec, @cpatchane

test(realtime): End to end tests with mocked server ☔️
  packages/cozy-realtime/test/ServerMock.js
  packages/cozy-realtime/test/__snapshots__/e2e.spec.js.snap
  packages/cozy-realtime/test/e2e.spec.js
Owners: @gregorylegarec, @cpatchane

refactor(realtime): Duplicate old code to legacy 🛠
  packages/cozy-realtime/src/legacy.js
  packages/cozy-realtime/test/api.spec.js
  packages/cozy-realtime/test/cozySocket.spec.js
  packages/cozy-realtime/test/createWebSocket.spec.js
  packages/cozy-realtime/test/e2e.spec.js
  packages/cozy-realtime/test/subscribe.spec.js
Owners: @gregorylegarec, @cpatchane

test(realtime): Add target test ☔️
  packages/cozy-realtime/test/e2e.spec.js
Owners: @gregorylegarec, @cpatchane

refactor(realtime): Creates RealtimeSubscriptions class 🛠
  packages/cozy-realtime/src/RealtimeSubscriptions.js
  packages/cozy-realtime/test/RealtimeSubscriptions.spec.js
Owners: @gregorylegarec, @cpatchane

refactor(realtime): Extract CozyRealtime from index 🛠
  packages/cozy-realtime/src/CozyRealtime.js
  packages/cozy-realtime/src/helpers/Validator.js
  packages/cozy-realtime/src/helpers/url.js
  packages/cozy-realtime/src/index.js
  packages/cozy-realtime/test/CozyRealtime.spec.js
  packages/cozy-realtime/test/ServerMock.js
  packages/cozy-realtime/test/e2e.spec.js
  packages/cozy-realtime/test/realtime.spec.js
Owners: @gregorylegarec, @cpatchane

refactor(realtime): Loop over event tests 🛠
  packages/cozy-realtime/test/e2e.spec.js
Owners: @gregorylegarec, @cpatchane

Update dependency cozy-client to v6.19.0
  packages/cozy-harvest-lib/package.json
  yarn.lock
Owners: @gregorylegarec, @cpatchane
