Repository cozy/cozy-libs, changes with the owners that CODEOWNERS names for each.
All owners: @trollepierre, @acezard, @doubleface, @Ldoppea, @Merkur39, @JF-Cozy, @PolariTOON

refactor(mespapiers): Add the contact step directly in the config file
  packages/cozy-mespapiers-lib/src/components/Contexts/StepperDialogProvider.jsx
  packages/cozy-mespapiers-lib/src/constants/papersDefinitions.json
Owners: @Merkur39, @JF-Cozy, @PolariTOON

feat(mespapiers): Add PageEditDesktop component
  packages/cozy-mespapiers-lib/src/components/ModelSteps/Edit/PageEdit/PageEditDesktop.jsx
Owners: @Merkur39, @JF-Cozy, @PolariTOON

feat(mespapiers): Create paths and use editPathByModelProps of Viewer
  packages/cozy-mespapiers-lib/src/components/Viewer/FilesViewer.jsx
Owners: @Merkur39, @JF-Cozy, @PolariTOON

feat(mespapiers): Add useCurrentEditInformation hook
  packages/cozy-mespapiers-lib/src/components/ModelSteps/Edit/useCurrentEditInformation.jsx
  packages/cozy-mespapiers-lib/src/helpers/queries.js
Owners: @Merkur39, @JF-Cozy, @PolariTOON

feat(mespapiers): Add InformationEditWrapper component
  packages/cozy-mespapiers-lib/src/components/ModelSteps/Edit/InformationEditWrapper.jsx
  packages/cozy-mespapiers-lib/src/components/ModelSteps/Edit/helpers.js
  packages/cozy-mespapiers-lib/src/components/ModelSteps/Edit/helpers.spec.js
  packages/cozy-mespapiers-lib/src/locales/en.json
  packages/cozy-mespapiers-lib/src/locales/fr.json
Owners: @Merkur39, @JF-Cozy, @PolariTOON

feat(mespapiers): Add PageEditItems component
  packages/cozy-mespapiers-lib/src/components/ModelSteps/Edit/PageEdit/PageEditItems.jsx
  packages/cozy-mespapiers-lib/src/locales/en.json
  packages/cozy-mespapiers-lib/src/locales/fr.json
Owners: @Merkur39, @JF-Cozy, @PolariTOON

feat(mespapiers): Add PageEditMobile component
  packages/cozy-mespapiers-lib/src/components/ModelSteps/Edit/PageEdit/PageEditMobile.jsx
Owners: @Merkur39, @JF-Cozy, @PolariTOON

feat(mespapiers): Update cozy-client to 33.0.6
  packages/cozy-mespapiers-lib/package.json
  yarn.lock
Owners: @Merkur39, @JF-Cozy, @PolariTOON, @trollepierre, @acezard

refactor(mespapiers): Information component
  packages/cozy-mespapiers-lib/src/components/ModelSteps/Information.jsx
Owners: @Merkur39, @JF-Cozy, @PolariTOON

fix(mespapiers): Manage breaking change of cozy-ui 71.0.0
  packages/cozy-mespapiers-lib/src/components/Actions/ActionMenuItemWrapper.jsx
  packages/cozy-mespapiers-lib/src/components/CompositeHeader/CompositeHeader.jsx
  packages/cozy-mespapiers-lib/src/components/CompositeHeader/CompositeHeaderImage.jsx
  packages/cozy-mespapiers-lib/src/components/Home/FilterButton.jsx
  packages/cozy-mespapiers-lib/src/components/ImportDropdown/ImportDropdownItems.jsx
  packages/cozy-mespapiers-lib/src/components/ModelSteps/AcquisitionResult.jsx
  packages/cozy-mespapiers-lib/src/components/ModelSteps/widgets/InputDateAdapter.jsx
  packages/cozy-mespapiers-lib/src/components/Multiselect/GhostButton.jsx
  packages/cozy-mespapiers-lib/src/components/Multiselect/MultiselectViewActions.jsx
  packages/cozy-mespapiers-lib/src/components/Papers/PaperCardItem.jsx
  packages/cozy-mespapiers-lib/src/components/Papers/PaperItem.jsx
  packages/cozy-mespapiers-lib/src/components/Papers/Renaming/RenameInput.jsx
  packages/cozy-mespapiers-lib/src/components/PapersFab/PapersFab.jsx
  packages/cozy-mespapiers-lib/src/components/Placeholders/PlaceholderListModal/PlaceholdersList.jsx
  packages/cozy-mespapiers-lib/src/components/SearchInput/SearchInput.jsx
  packages/cozy-mespapiers-lib/src/components/StepperDialog/StepperDialog.jsx
Owners: @Merkur39, @JF-Cozy, @PolariTOON

refactor: Use Stylus instead makeStyle
  packages/cozy-mespapiers-lib/src/components/ModelSteps/Edit/InformationEditWrapper.jsx
  packages/cozy-mespapiers-lib/src/components/ModelSteps/Edit/styles.styl
Owners: @Merkur39, @JF-Cozy, @PolariTOON

fix: Deal with empty and malformed encrypted values
  packages/cozy-harvest-lib/src/services/utils.js
  packages/cozy-harvest-lib/src/services/utils.spec.js
Owners: @doubleface, @trollepierre

fix(mespapiers): Manage breaking change of cozy-ui 71.0.0
  packages/cozy-mespapiers-lib/src/components/Actions/ActionMenuItemWrapper.jsx
  packages/cozy-mespapiers-lib/src/components/CompositeHeader/CompositeHeader.jsx
  packages/cozy-mespapiers-lib/src/components/CompositeHeader/CompositeHeaderImage.jsx
  packages/cozy-mespapiers-lib/src/components/Home/FilterButton.jsx
  packages/cozy-mespapiers-lib/src/components/ImportDropdown/ImportDropdownItems.jsx
  packages/cozy-mespapiers-lib/src/components/ModelSteps/AcquisitionResult.jsx
  packages/cozy-mespapiers-lib/src/components/ModelSteps/widgets/InputDateAdapter.jsx
  packages/cozy-mespapiers-lib/src/components/Multiselect/GhostButton.jsx
  packages/cozy-mespapiers-lib/src/components/Multiselect/MultiselectViewActions.jsx
  packages/cozy-mespapiers-lib/src/components/Papers/PaperCardItem.jsx
  packages/cozy-mespapiers-lib/src/components/Papers/PaperItem.jsx
  packages/cozy-mespapiers-lib/src/components/Papers/Renaming/RenameInput.jsx
  packages/cozy-mespapiers-lib/src/components/PapersFab/PapersFab.jsx
  packages/cozy-mespapiers-lib/src/components/Placeholders/PlaceholderListModal/PlaceholdersList.jsx
  packages/cozy-mespapiers-lib/src/components/SearchInput/SearchInput.jsx
  packages/cozy-mespapiers-lib/src/components/StepperDialog/StepperDialog.jsx
Owners: @Merkur39, @JF-Cozy, @PolariTOON

refactor(mespapiers): Add the contact step directly in the config file
  packages/cozy-mespapiers-lib/src/components/Contexts/StepperDialogProvider.jsx
  packages/cozy-mespapiers-lib/src/constants/papersDefinitions.json
Owners: @Merkur39, @JF-Cozy, @PolariTOON

feat(mespapiers): Update cozy-client to 33.0.6
  packages/cozy-mespapiers-lib/package.json
  yarn.lock
Owners: @Merkur39, @JF-Cozy, @PolariTOON, @trollepierre, @acezard

feat(mespapiers): Add PageEditMobile component
  packages/cozy-mespapiers-lib/src/components/ModelSteps/Edit/PageEdit/PageEditMobile.jsx
Owners: @Merkur39, @JF-Cozy, @PolariTOON

refactor: Use Stylus instead makeStyle
  packages/cozy-mespapiers-lib/src/components/ModelSteps/Edit/InformationEditWrapper.jsx
  packages/cozy-mespapiers-lib/src/components/ModelSteps/Edit/styles.styl
Owners: @Merkur39, @JF-Cozy, @PolariTOON

feat(mespapiers): Add PageEditWrapper component
  packages/cozy-mespapiers-lib/src/components/ModelSteps/Edit/PageEdit/index.jsx
Owners: @Merkur39, @JF-Cozy, @PolariTOON

feat(mespapiers): Add useCurrentEditInformation hook
  packages/cozy-mespapiers-lib/src/components/ModelSteps/Edit/useCurrentEditInformation.jsx
  packages/cozy-mespapiers-lib/src/helpers/queries.js
Owners: @Merkur39, @JF-Cozy, @PolariTOON

feat(mespapiers): Add PageEditDesktop component
  packages/cozy-mespapiers-lib/src/components/ModelSteps/Edit/PageEdit/PageEditDesktop.jsx
Owners: @Merkur39, @JF-Cozy, @PolariTOON

feat(mespapiers): Create paths and use editPathByModelProps of Viewer
  packages/cozy-mespapiers-lib/src/components/Viewer/FilesViewer.jsx
Owners: @Merkur39, @JF-Cozy, @PolariTOON

refactor(mespapiers): Information component
  packages/cozy-mespapiers-lib/src/components/ModelSteps/Information.jsx
Owners: @Merkur39, @JF-Cozy, @PolariTOON

feat(mespapiers): Add InformationEditWrapper component
  packages/cozy-mespapiers-lib/src/components/ModelSteps/Edit/InformationEditWrapper.jsx
  packages/cozy-mespapiers-lib/src/components/ModelSteps/Edit/helpers.js
  packages/cozy-mespapiers-lib/src/components/ModelSteps/Edit/helpers.spec.js
  packages/cozy-mespapiers-lib/src/locales/en.json
  packages/cozy-mespapiers-lib/src/locales/fr.json
Owners: @Merkur39, @JF-Cozy, @PolariTOON

refactor(mespapiers): Rename getInputsInformationStep helper
  packages/cozy-mespapiers-lib/src/components/ModelSteps/Edit/InformationEditWrapper.jsx
  packages/cozy-mespapiers-lib/src/components/ModelSteps/Information.jsx
  packages/cozy-mespapiers-lib/src/helpers/makeInputsInformationStep.js
  packages/cozy-mespapiers-lib/src/helpers/makeInputsInformationStep.spec.js
Owners: @Merkur39, @JF-Cozy, @PolariTOON

feat(mespapiers): Add helper to manage which input to display
  packages/cozy-mespapiers-lib/src/helpers/getInputsInformationStep.js
  packages/cozy-mespapiers-lib/src/helpers/getInputsInformationStep.spec.js
Owners: @Merkur39, @JF-Cozy, @PolariTOON

feat(mespapiers): Add two routes for edit file attributes
  packages/cozy-mespapiers-lib/src/components/AppRouter.jsx
Owners: @Merkur39, @JF-Cozy, @PolariTOON

feat(mespapiers): Add PageEditItems component
  packages/cozy-mespapiers-lib/src/components/ModelSteps/Edit/PageEdit/PageEditItems.jsx
  packages/cozy-mespapiers-lib/src/locales/en.json
  packages/cozy-mespapiers-lib/src/locales/fr.json
Owners: @Merkur39, @JF-Cozy, @PolariTOON

feat(mespapiers): Update cozy-ui to 74.7.0
  packages/cozy-mespapiers-lib/package.json
  yarn.lock
Owners: @Merkur39, @JF-Cozy, @PolariTOON, @trollepierre, @acezard

refactor(mespapiers): Use of paths rather than history to navigate
  packages/cozy-mespapiers-lib/src/components/Papers/PaperItem.jsx
  packages/cozy-mespapiers-lib/src/components/Placeholders/PlaceholderListModal/PlaceholdersList.jsx
  packages/cozy-mespapiers-lib/src/components/StepperDialog/CreatePaperModal.jsx
  packages/cozy-mespapiers-lib/src/components/Viewer/FileViewerWithQuery.jsx
Owners: @Merkur39, @JF-Cozy, @PolariTOON

[skip ci] Publish
  packages/cozy-mespapiers-lib/CHANGELOG.md
  packages/cozy-mespapiers-lib/package.json
Owners: @Merkur39, @JF-Cozy, @PolariTOON

fix: Deal with empty and malformed encrypted values
  packages/cozy-harvest-lib/src/services/utils.js
  packages/cozy-harvest-lib/src/services/utils.spec.js
Owners: @doubleface, @trollepierre

[skip ci] Publish
  packages/cozy-harvest-lib/CHANGELOG.md
  packages/cozy-harvest-lib/package.json
  packages/cozy-mespapiers-lib/CHANGELOG.md
  packages/cozy-mespapiers-lib/package.json
Owners: @doubleface, @trollepierre, @Merkur39, @JF-Cozy, @PolariTOON

feat(mesPapiers): Add step to define paper name for other revenue
  packages/cozy-mespapiers-lib/src/constants/papersDefinitions.json
Owners: @Merkur39, @JF-Cozy, @PolariTOON

feat(mesPapiers): Add step to define paper name for other revenue
  packages/cozy-mespapiers-lib/src/constants/papersDefinitions.json
Owners: @Merkur39, @JF-Cozy, @PolariTOON

[skip ci] Publish
  packages/cozy-mespapiers-lib/CHANGELOG.md
  packages/cozy-mespapiers-lib/package.json
Owners: @Merkur39, @JF-Cozy, @PolariTOON

feat: Show error when putting only spaces in a document name
  packages/cozy-mespapiers-lib/src/components/ModelSteps/widgets/InputTextAdapter.jsx
  packages/cozy-mespapiers-lib/src/locales/en.json
  packages/cozy-mespapiers-lib/src/locales/fr.json
Owners: @Merkur39, @JF-Cozy, @PolariTOON

feat: Prohibits putting only spaces in a document name
  packages/cozy-mespapiers-lib/src/components/ModelSteps/widgets/InputTextAdapter.jsx
  packages/cozy-mespapiers-lib/src/utils/input.js
  packages/cozy-mespapiers-lib/src/utils/input.spec.js
Owners: @Merkur39, @JF-Cozy, @PolariTOON

test: Add some test to verify prohibition of only space in doc name
  packages/cozy-mespapiers-lib/src/utils/input.spec.js
Owners: @Merkur39, @JF-Cozy, @PolariTOON

test: Add some test to verify prohibition of only space in doc name
  packages/cozy-mespapiers-lib/src/utils/input.spec.js
Owners: @Merkur39, @JF-Cozy, @PolariTOON

feat: Prohibits putting only spaces in a document name
  packages/cozy-mespapiers-lib/src/components/ModelSteps/widgets/InputTextAdapter.jsx
  packages/cozy-mespapiers-lib/src/utils/input.js
  packages/cozy-mespapiers-lib/src/utils/input.spec.js
Owners: @Merkur39, @JF-Cozy, @PolariTOON

CODEOWNERS:

# General code owners
*       @trollepierre @acezard

# Based on the Paper of the Technical maintainers of 2022
packages/cozy-harvest-lib            @doubleface @trollepierre
packages/cozy-doctypes/              @doubleface @trollepierre
packages/cozy-flags/                 @acezard @trollepierre @Ldoppea
packages/cozy-app-publish/           @acezard @doubleface @trollepierre
packages/cozy-interapp/              @Ldoppea @acezard @trollepierre
packages/cozy-intent/                @Ldoppea @acezard
packages/cozy-realtime/              @Ldoppea @trollepierre
packages/eslint-config-cozy-app/     @acezard @trollepierre
packages/renovate-config-cozy/       @doubleface @trollepierre
packages/renovate-config-cozy-libs/  @doubleface @trollepierre
packages/cozy-sharing/               @Ldoppea @acezard @trollepierre
packages/cozy-mespapiers-lib/        @Merkur39 @JF-Cozy @PolariTOON
