Repository cozy/cozy-libs, changes with the owners that CODEOWNERS names for each.
All owners: @kosssi, @ptbrowne, @gregorylegarec, @cpatchane, @enguerran, @Crash--, @y-lohse, @doubleface

CODEOWNERS:

packages/cozy-device-helper @kosssi @ptbrowne
packages/cozy-flags @ptbrowne
packages/cozy-realtime @gregorylegarec @cpatchane
packages/babel-preset-cozy-app @cpatchane
packages/eslint-config-cozy-app @cpatchane
packages/commitlint-config-cozy @kosssi @enguerran
packages/browserslist-config-cozy @cpatchane @Crash--
packages/cozy-app-publish @cpatchane @gregorylegarec @y-lohse
packages/cozy-ci-utils @y-lohse
packages/cozy-harvest-lib @gregorylegarec @cpatchane
packages/cozy-interapp @gregorylegarec @kosssi
packages/cozy-doctypes @ptbrowne @kosssi
packages/cozy-release @gregorylegarec @cpatchane
packages/renovate-config-cozy @y-lohse @doubleface @kosssi

feat(harvest): Stop exposing AccountForm, not used anymore 🔥
  packages/cozy-harvest-lib/src/index.js
Owners: @gregorylegarec, @cpatchane

[skip ci] Publish
  packages/cozy-harvest-lib/CHANGELOG.md
  packages/cozy-harvest-lib/package.json
Owners: @gregorylegarec, @cpatchane

fix(deps): update dependency cozy-ui to v19.21.2 ⬆️
  packages/cozy-harvest-lib/package.json
  yarn.lock
Owners: @gregorylegarec, @cpatchane

feat(cozy-mjml): Update cozy-mjml integration for cozy-stack
  packages/cozy-mjml/src/index.js
Owners: none

[skip ci] Publish
  packages/cozy-harvest-lib/CHANGELOG.md
  packages/cozy-harvest-lib/package.json
Owners: @gregorylegarec, @cpatchane

[skip ci] Publish
  packages/cozy-mjml/CHANGELOG.md
  packages/cozy-mjml/package.json
Owners: none

fix(harvest): Better realtime initialisation 📝
  packages/cozy-harvest-lib/src/connections/triggers.js
  packages/cozy-harvest-lib/test/connections/triggers.spec.js
Owners: @gregorylegarec, @cpatchane

[skip ci] Publish
  packages/cozy-harvest-lib/CHANGELOG.md
  packages/cozy-harvest-lib/package.json
Owners: @gregorylegarec, @cpatchane

fix: :bug: Use the correct realtime version
  packages/cozy-harvest-lib/package.json
  packages/cozy-harvest-lib/src/connections/triggers.js
  yarn.lock
Owners: @gregorylegarec, @cpatchane

[skip ci] Publish
  packages/cozy-harvest-lib/CHANGELOG.md
  packages/cozy-harvest-lib/package.json
Owners: @gregorylegarec, @cpatchane

docs: Add some docs to cozy-release's README
  packages/cozy-release/README.md
Owners: @gregorylegarec, @cpatchane

[skip ci] Publish
  packages/cozy-release/CHANGELOG.md
  packages/cozy-release/package.json
Owners: @gregorylegarec, @cpatchane

fix(cozy-device-helper): Don't deeplink on iOS 12_2 or 12_3
  packages/cozy-device-helper/src/deeplink.js
Owners: @kosssi, @ptbrowne

fix(cozy-device-helper): Don't deeplink on iOS 12_2 or 12_3 (#377)
  packages/cozy-device-helper/src/deeplink.js
Owners: @kosssi, @ptbrowne

[skip ci] Publish
  packages/cozy-authentication/CHANGELOG.md
  packages/cozy-authentication/package.json
  packages/cozy-device-helper/CHANGELOG.md
  packages/cozy-device-helper/package.json
Owners: @kosssi, @ptbrowne

fix(cozy-realtime): Imperfect fix for unsubscribe
  packages/cozy-realtime/src/index.js
Owners: @gregorylegarec, @cpatchane

fix(cozy-realtime): Imperfect fix for unsubscribe (#378)
  packages/cozy-realtime/src/index.js
Owners: @gregorylegarec, @cpatchane

fix: Upgrade Auth
  packages/cozy-authentication/MobileRouter.jsx
  packages/cozy-authentication/MobileRouter.spec.jsx
  packages/cozy-authentication/OnboardingPropTypes.js
  packages/cozy-authentication/src/Authentication.jsx
  packages/cozy-authentication/src/Authentication.spec.jsx
  packages/cozy-authentication/src/LinkManager.jsx
  packages/cozy-authentication/src/Revoked.jsx
  packages/cozy-authentication/src/Standalone.jsx
  packages/cozy-authentication/src/steps/ButtonLinkRegistration.jsx
  packages/cozy-authentication/src/steps/SelectServer.jsx
  packages/cozy-authentication/src/steps/Welcome.jsx
  packages/cozy-authentication/src/styles.styl
  packages/cozy-authentication/src/utils/onboarding.js
Owners: none

[skip ci] Publish
  packages/cozy-harvest-lib/CHANGELOG.md
  packages/cozy-harvest-lib/package.json
  packages/cozy-realtime/CHANGELOG.md
  packages/cozy-realtime/package.json
Owners: @gregorylegarec, @cpatchane

fix: Add localforage as dep
  packages/cozy-authentication/package.json
  yarn.lock
Owners: none

fix: Don't use drive lib logger
  packages/cozy-authentication/MobileRouter.jsx
Owners: none

fix: Use transpiled version of UI
  packages/cozy-authentication/src/Revoked.jsx
  packages/cozy-authentication/src/Standalone.jsx
  packages/cozy-authentication/src/steps/ButtonLinkRegistration.jsx
  packages/cozy-authentication/src/steps/SelectServer.jsx
  packages/cozy-authentication/src/steps/Welcome.jsx
Owners: none

fix: Lang loader
  packages/cozy-authentication/src/Standalone.jsx
Owners: none

fix: Use client-compat
  packages/cozy-authentication/MobileRouter.jsx
  packages/cozy-authentication/src/Authentication.jsx
  packages/cozy-authentication/src/Revoked.jsx
Owners: none

docs(harvest): Document AccountField 📚
  packages/cozy-harvest-lib/src/components/AccountForm/AccountField.jsx
Owners: @gregorylegarec, @cpatchane

docs(harvest): Update README 📚
  packages/cozy-harvest-lib/README.md
Owners: @gregorylegarec, @cpatchane

refactor(harvest): Move up onKeyUp handler from AccountFields 🛠
  packages/cozy-harvest-lib/src/components/AccountForm/AccountFields.jsx
  packages/cozy-harvest-lib/src/components/AccountForm/index.jsx
  packages/cozy-harvest-lib/test/components/__snapshots__/AccountForm.spec.js.snap
Owners: @gregorylegarec, @cpatchane

docs(harvest): Document AccountForm 📚
  packages/cozy-harvest-lib/src/components/AccountForm/index.jsx
Owners: @gregorylegarec, @cpatchane

docs(harvest): Document TriggerManager 📚
  packages/cozy-harvest-lib/src/components/TriggerManager.jsx
Owners: @gregorylegarec, @cpatchane

refactor(harvest): Rename manifestFields to fields for consistency 🛠
  packages/cozy-harvest-lib/src/components/AccountForm/AccountFields.jsx
  packages/cozy-harvest-lib/src/components/AccountForm/index.jsx
  packages/cozy-harvest-lib/test/components/AccountFields.spec.js
  packages/cozy-harvest-lib/test/components/__snapshots__/AccountFields.spec.js.snap
  packages/cozy-harvest-lib/test/components/__snapshots__/AccountForm.spec.js.snap
Owners: @gregorylegarec, @cpatchane

docs(harvest): Document AccountFields 📚
  packages/cozy-harvest-lib/src/components/AccountForm/AccountFields.jsx
Owners: @gregorylegarec, @cpatchane

refactor(harvest): Watch konnector job ✨
  packages/cozy-harvest-lib/src/components/TriggerManager.jsx
  packages/cozy-harvest-lib/src/connections/triggers.js
Owners: @gregorylegarec, @cpatchane

refactor(harvest): Create a KonnectorJobWatcher class ✨
  packages/cozy-harvest-lib/src/connections/triggers.js
  packages/cozy-harvest-lib/src/models/konnector/KonnectorJobWatcher.js
Owners: @gregorylegarec, @cpatchane

[skip ci] Publish
  packages/cozy-harvest-lib/CHANGELOG.md
  packages/cozy-harvest-lib/package.json
Owners: @gregorylegarec, @cpatchane

URL already has scheme
  packages/cozy-mjml/src/components/MJFooter.js
Owners: none

[skip ci] Publish
  packages/cozy-authentication/CHANGELOG.md
  packages/cozy-authentication/package.json
Owners: none

fix: Move OnboardingPropTypes and MobileRouter to be transpiled
  packages/cozy-authentication/src/Authentication.jsx
  packages/cozy-authentication/src/MobileRouter.jsx
  packages/cozy-authentication/src/MobileRouter.spec.jsx
  packages/cozy-authentication/src/OnboardingPropTypes.js
  packages/cozy-authentication/src/steps/SelectServer.jsx
  packages/cozy-authentication/src/steps/Welcome.jsx
Owners: none

Publish
  packages/cozy-authentication/CHANGELOG.md
  packages/cozy-authentication/package.json
Owners: none

chore: Spaces
  packages/cozy-authentication/src/MobileRouter.jsx
  packages/cozy-authentication/src/utils/onboarding.js
Owners: none

fix: Check request status before JSON parsing
  packages/cozy-authentication/src/utils/onboarding.js
Owners: none
