Repository cozy/cozy-libs, changes with the owners that CODEOWNERS names for each.
All owners: @kosssi, @ptbrowne, @cedricmessiant, @cpatchane, @enguerran, @Crash--, @gregorylegarec, @y-lohse, @ylohse, @doubleface

CODEOWNERS:

packages/cozy-device-helper @kosssi @ptbrowne
packages/cozy-flags @ptbrowne @cedricmessiant
packages/cozy-realtime @kosssi
packages/babel-preset-cozy-app @cpatchane @cedricmessiant
packages/eslint-config-cozy-app @cpatchane @cedricmessiant
packages/commitlint-config-cozy @kosssi @enguerran @cedricmessiant
packages/browserslist-config-cozy @cpatchane @Crash--
packages/cozy-app-publish @cpatchane @gregorylegarec @y-lohse
packages/cozy-ci-utils @y-lohse @cedricmessiant
packages/cozy-harvest-lib @gregorylegarec @cpatchane
packages/cozy-interapp @gregorylegarec @kosssi
packages/cozy-doctypes @ptbrowne @kosssi
packages/cozy-release @gregorylegarec @cpatchane @cedricmessiant
packages/renovate-config-cozy @ylohse @doubleface @kosssi

[skip ci] Publish
  packages/cozy-harvest-lib/CHANGELOG.md
  packages/cozy-harvest-lib/package.json
Owners: @gregorylegarec, @cpatchane

fix(harvest): :nail_care: Better delete button proptypes handling
  packages/cozy-harvest-lib/src/components/AccountForm/AccountField.jsx
  packages/cozy-harvest-lib/src/components/AccountForm/index.jsx
  packages/cozy-harvest-lib/src/components/DeleteAccountButton.jsx
  packages/cozy-harvest-lib/src/components/hoc/withLocales.js
  packages/cozy-harvest-lib/src/helpers/proptypes.js
Owners: @gregorylegarec, @cpatchane

fix(harvest): :bug: Call Delete button callbacks after setState
  packages/cozy-harvest-lib/src/components/DeleteAccountButton.jsx
  packages/cozy-harvest-lib/test/components/DeleteAccountButton.spec.js
Owners: @gregorylegarec, @cpatchane

[skip ci] Publish
  packages/cozy-harvest-lib/CHANGELOG.md
  packages/cozy-harvest-lib/package.json
Owners: @gregorylegarec, @cpatchane

feat: Basic admin procedure doctype
  packages/cozy-doctypes/src/administrativeProcedures/AdministrativeProcedure.js
Owners: @ptbrowne, @kosssi

feat(harvest): Trigger manual release to get last translations 🌐
  packages/cozy-harvest-lib/.manual.log
Owners: @gregorylegarec, @cpatchane

refactor: Use same method to throw "Not implemented in new cozy-client"
  packages/cozy-doctypes/src/Document.js
Owners: @ptbrowne, @kosssi

fix: :bug: Correctly wrap TriggerLaunche into withLocales
  packages/cozy-harvest-lib/src/components/DeleteAccountButton.jsx
  packages/cozy-harvest-lib/src/components/TriggerLauncher.jsx
Owners: @gregorylegarec, @cpatchane

[skip ci] Publish
  packages/cozy-harvest-lib/CHANGELOG.md
  packages/cozy-harvest-lib/package.json
Owners: @gregorylegarec, @cpatchane

refactor: Use stack client getAll
  packages/cozy-doctypes/src/Document.js
  packages/cozy-doctypes/src/Document.spec.js
Owners: @ptbrowne, @kosssi

refactor: Mock reset in afterAll removes duplication
  packages/cozy-doctypes/src/Document.spec.js
Owners: @ptbrowne, @kosssi

refactor: Use stack client fetchAll
  packages/cozy-doctypes/src/Document.js
  packages/cozy-doctypes/src/Document.spec.js
Owners: @ptbrowne, @kosssi

refactor: Fetch changes is now in cozy-stack-client
  packages/cozy-doctypes/src/Document.js
  packages/cozy-doctypes/src/Document.spec.js
Owners: @ptbrowne, @kosssi

refactor: preparation
  packages/cozy-doctypes/src/Document.spec.js
Owners: @ptbrowne, @kosssi

refactor: Get uses new cozyClient behind the scene
  packages/cozy-doctypes/src/Document.js
  packages/cozy-doctypes/src/Document.spec.js
  packages/cozy-doctypes/src/testUtils.js
Owners: @ptbrowne, @kosssi

feat: Add delete method
  packages/cozy-doctypes/src/Document.js
Owners: @ptbrowne, @kosssi

refactor: Use stack client updateAll
  packages/cozy-doctypes/src/Document.js
  packages/cozy-doctypes/src/Document.spec.js
Owners: @ptbrowne, @kosssi

[skip ci] Publish
  packages/cozy-harvest-lib/CHANGELOG.md
  packages/cozy-harvest-lib/package.json
Owners: @gregorylegarec, @cpatchane

chore: Lint
  packages/cozy-doctypes/src/Document.js
Owners: @ptbrowne, @kosssi

[skip ci] Publish
  packages/cozy-harvest-lib/CHANGELOG.md
  packages/cozy-harvest-lib/package.json
Owners: @gregorylegarec, @cpatchane

feat(procedures): Add procedures lib
  packages/cozy-procedures/babel.config.js
  packages/cozy-procedures/package.json
  packages/cozy-procedures/src/Procedure.jsx
  packages/cozy-procedures/src/components/OtherComp.jsx
  packages/cozy-procedures/src/components/Overview.jsx
  packages/cozy-procedures/src/components/PersonalDataForm.jsx
  packages/cozy-procedures/src/components/PersonalDataForm.spec.jsx
  packages/cozy-procedures/src/components/form/FieldTemplate.jsx
  packages/cozy-procedures/src/components/form/InputAdapter.jsx
  packages/cozy-procedures/src/components/form/InputWithUnit.jsx
  packages/cozy-procedures/src/components/form/ObjectFieldTemplate.jsx
  packages/cozy-procedures/src/components/form/SelectBoxAdapter.jsx
  packages/cozy-procedures/src/components/form/TextareaAdapter.jsx
  packages/cozy-procedures/src/components/form/index.jsx
  packages/cozy-procedures/src/components/form/stripInvalidInputProps.js
  packages/cozy-procedures/src/containers/Overview.jsx
  packages/cozy-procedures/src/containers/PersonalDataForm.jsx
  packages/cozy-procedures/src/index.js
  packages/cozy-procedures/src/locales/en.json
  packages/cozy-procedures/src/locales/fr.json
  packages/cozy-procedures/src/redux/amountSlice.js
  packages/cozy-procedures/src/redux/context.js
  packages/cozy-procedures/src/redux/documentsSlice.js
  packages/cozy-procedures/src/redux/durationSlice.js
  packages/cozy-procedures/src/redux/personalDataSlice.js
  packages/cozy-procedures/src/redux/personalDataSlice.spec.js
  packages/cozy-procedures/src/redux/rootReducer.js
  packages/cozy-procedures/src/redux/store.js
  packages/cozy-procedures/src/templates/creditApplicationTemplate.js
  packages/cozy-procedures/src/withLocales.jsx
  packages/playgrounds/src/common/App.jsx
  packages/playgrounds/src/procedures.html
  packages/playgrounds/src/procedures.jsx
  yarn.lock
Owners: none

feat(procedures): Add procedures lib
  packages/cozy-procedures/babel.config.js
  packages/cozy-procedures/package.json
  packages/cozy-procedures/src/Procedure.jsx
  packages/cozy-procedures/src/components/OtherComp.jsx
  packages/cozy-procedures/src/components/Overview.jsx
  packages/cozy-procedures/src/components/PersonalDataForm.jsx
  packages/cozy-procedures/src/components/PersonalDataForm.spec.jsx
  packages/cozy-procedures/src/components/form/FieldTemplate.jsx
  packages/cozy-procedures/src/components/form/InputAdapter.jsx
  packages/cozy-procedures/src/components/form/InputWithUnit.jsx
  packages/cozy-procedures/src/components/form/ObjectFieldTemplate.jsx
  packages/cozy-procedures/src/components/form/SelectBoxAdapter.jsx
  packages/cozy-procedures/src/components/form/TextareaAdapter.jsx
  packages/cozy-procedures/src/components/form/index.jsx
  packages/cozy-procedures/src/components/form/stripInvalidInputProps.js
  packages/cozy-procedures/src/containers/Overview.jsx
  packages/cozy-procedures/src/containers/PersonalDataForm.jsx
  packages/cozy-procedures/src/index.js
  packages/cozy-procedures/src/locales/en.json
  packages/cozy-procedures/src/locales/fr.json
  packages/cozy-procedures/src/redux/amountSlice.js
  packages/cozy-procedures/src/redux/context.js
  packages/cozy-procedures/src/redux/documentsSlice.js
  packages/cozy-procedures/src/redux/durationSlice.js
  packages/cozy-procedures/src/redux/personalDataSlice.js
  packages/cozy-procedures/src/redux/personalDataSlice.spec.js
  packages/cozy-procedures/src/redux/rootReducer.js
  packages/cozy-procedures/src/redux/store.js
  packages/cozy-procedures/src/templates/creditApplicationTemplate.js
  packages/cozy-procedures/src/withLocales.jsx
  packages/playgrounds/src/common/App.jsx
  packages/playgrounds/src/procedures.html
  packages/playgrounds/src/procedures.jsx
  yarn.lock
Owners: none

[skip ci] Publish
  packages/cozy-procedures/CHANGELOG.md
  packages/cozy-procedures/package.json
Owners: none

fix: Better procedure translations
  packages/cozy-procedures/src/Procedure.jsx
  packages/cozy-procedures/src/components/PersonalDataForm.jsx
  packages/cozy-procedures/src/components/form/FieldTemplate.jsx
  packages/cozy-procedures/src/components/form/InputAdapter.jsx
  packages/cozy-procedures/src/components/form/InputWithUnit.jsx
  packages/cozy-procedures/src/components/form/SelectBoxAdapter.jsx
Owners: none

Update dependency commander to v2.20.0
  packages/cozy-app-publish/package.json
  yarn.lock
Owners: @cpatchane, @gregorylegarec, @y-lohse

feat: Use argparse
  packages/cozy-app-publish/cozy-app-publish.js
  packages/cozy-app-publish/package.json
  yarn.lock
Owners: @cpatchane, @gregorylegarec, @y-lohse

fix: Better procedure translations
  packages/cozy-procedures/src/Procedure.jsx
  packages/cozy-procedures/src/components/PersonalDataForm.jsx
  packages/cozy-procedures/src/components/form/FieldTemplate.jsx
  packages/cozy-procedures/src/components/form/InputAdapter.jsx
  packages/cozy-procedures/src/components/form/InputWithUnit.jsx
  packages/cozy-procedures/src/components/form/SelectBoxAdapter.jsx
Owners: none

[skip ci] Publish
  packages/cozy-procedures/CHANGELOG.md
  packages/cozy-procedures/package.json
Owners: none

[skip ci] Publish
  packages/cozy-app-publish/CHANGELOG.md
  packages/cozy-app-publish/package.json
Owners: @cpatchane, @gregorylegarec, @y-lohse

fix(procedures): Add missing values to employment and property statuses
  packages/cozy-procedures/src/locales/en.json
  packages/cozy-procedures/src/locales/fr.json
  packages/cozy-procedures/src/templates/creditApplicationTemplate.js
Owners: none

fix(procedures): Add missing values to employment and property statuses
  packages/cozy-procedures/src/locales/en.json
  packages/cozy-procedures/src/locales/fr.json
  packages/cozy-procedures/src/templates/creditApplicationTemplate.js
Owners: none

fix(procedures): Translate form title and button, add subtitle
  packages/cozy-procedures/src/components/PersonalDataForm.jsx
  packages/cozy-procedures/src/locales/en.json
  packages/cozy-procedures/src/locales/fr.json
Owners: none

[skip ci] Publish
  packages/cozy-procedures/CHANGELOG.md
  packages/cozy-procedures/package.json
Owners: none

feat(harvest): Add display names to HOC 📝
  packages/cozy-harvest-lib/src/components/hoc/utils.js
  packages/cozy-harvest-lib/src/components/hoc/withKonnectorJob.jsx
  packages/cozy-harvest-lib/src/components/hoc/withKonnectorModal.jsx
Owners: @gregorylegarec, @cpatchane

feat: Update credit application template
  packages/cozy-procedures/src/templates/creditApplicationTemplate.js
Owners: none

fix(procedures): Use Title and SubTitle components
  packages/cozy-procedures/src/components/PersonalDataForm.jsx
Owners: none

feat: Update credit application template
  packages/cozy-procedures/src/templates/creditApplicationTemplate.js
Owners: none

[skip ci] Publish
  packages/cozy-procedures/CHANGELOG.md
  packages/cozy-procedures/package.json
Owners: none

fix(procedures): Use Title and SubTitle components
  packages/cozy-procedures/src/components/PersonalDataForm.jsx
Owners: none

fix(procedures): Translate form title and button, add subtitle
  packages/cozy-procedures/src/components/PersonalDataForm.jsx
  packages/cozy-procedures/src/locales/en.json
  packages/cozy-procedures/src/locales/fr.json
Owners: none
