Repository cozy/cozy-libs, changes with the owners that CODEOWNERS names for each.
All owners: @trollepierre, @acezard, @doubleface, @Ldoppea, @Merkur39, @JF-Cozy, @PolariTOON

feat(mespapiers): Add stranger driver license paper
  packages/cozy-mespapiers-lib/src/constants/papersDefinitions.json
Owners: @Merkur39, @JF-Cozy, @PolariTOON

feat(mespapiers): Add findPlaceholderByLabelAndCountry helper
  packages/cozy-mespapiers-lib/src/helpers/findPlaceholders.js
  packages/cozy-mespapiers-lib/src/helpers/findPlaceholders.spec.js
  packages/cozy-mespapiers-lib/test/mockPaperDefinitions.js
Owners: @Merkur39, @JF-Cozy, @PolariTOON

feat(mespapiers): Add country key to national_id_car & driver_license
  packages/cozy-mespapiers-lib/src/constants/papersDefinitions.json
Owners: @Merkur39, @JF-Cozy, @PolariTOON

feat(mespapiers): Update cozy-ui to 75.3.0
  packages/cozy-mespapiers-lib/package.json
  yarn.lock
Owners: @Merkur39, @JF-Cozy, @PolariTOON, @trollepierre, @acezard

feat(mespapiers): Update cozy-client to 33.1.0
  packages/cozy-mespapiers-lib/package.json
  yarn.lock
Owners: @Merkur39, @JF-Cozy, @PolariTOON, @trollepierre, @acezard

feat(mespapiers): Add getPaperDefinitionByFile helper
  packages/cozy-mespapiers-lib/src/components/ModelSteps/Edit/helpers.js
  packages/cozy-mespapiers-lib/src/components/ModelSteps/Edit/helpers.spec.js
  packages/cozy-mespapiers-lib/src/components/ModelSteps/Edit/useCurrentEditInformations.jsx
Owners: @Merkur39, @JF-Cozy, @PolariTOON

feat(mespapiers): Add stranger driver license paper
  packages/cozy-mespapiers-lib/src/constants/papersDefinitions.json
Owners: @Merkur39, @JF-Cozy, @PolariTOON

feat(mespapiers): Add Country parameter
  packages/cozy-mespapiers-lib/src/components/Contexts/ScannerI18nProvider.jsx
  packages/cozy-mespapiers-lib/src/components/Placeholders/PlaceholderListModal/PlaceholdersList.jsx
  packages/cozy-mespapiers-lib/src/components/StepperDialog/StepperDialogWrapper.jsx
Owners: @Merkur39, @JF-Cozy, @PolariTOON

feat(mespapiers): Add new translations for stranger driver license
  packages/cozy-mespapiers-lib/src/locales/en.json
  packages/cozy-mespapiers-lib/src/locales/fr.json
Owners: @Merkur39, @JF-Cozy, @PolariTOON

feat(mespapiers): Add country searchParam to creation of paper route
  packages/cozy-mespapiers-lib/src/components/Placeholders/FeaturedPlaceholdersList.jsx
  packages/cozy-mespapiers-lib/src/components/Placeholders/PlaceholderListModal/PlaceholdersList.jsx
  packages/cozy-mespapiers-lib/src/components/Placeholders/PlaceholderListModal/PlaceholdersList.spec.jsx
  packages/cozy-mespapiers-lib/src/components/StepperDialog/CreatePaperModal.jsx
Owners: @Merkur39, @JF-Cozy, @PolariTOON

[skip ci] Publish
  packages/cozy-mespapiers-lib/CHANGELOG.md
  packages/cozy-mespapiers-lib/package.json
Owners: @Merkur39, @JF-Cozy, @PolariTOON

fix(mespapiers): Path of import ContactEditWrapper component
  packages/cozy-mespapiers-lib/src/components/AppRouter.jsx
Owners: @Merkur39, @JF-Cozy, @PolariTOON

fix(mespapiers): Path of import ContactEditWrapper component
  packages/cozy-mespapiers-lib/src/components/AppRouter.jsx
Owners: @Merkur39, @JF-Cozy, @PolariTOON

[skip ci] Publish
  packages/cozy-mespapiers-lib/CHANGELOG.md
  packages/cozy-mespapiers-lib/package.json
Owners: @Merkur39, @JF-Cozy, @PolariTOON

fix: Bind this automatically with arrow function
  packages/cozy-sharing/src/SharingProvider.jsx
Owners: @Ldoppea, @acezard, @trollepierre

feat(mespapiers): Upgrade cozy-ui from 75.3.0 to 75.4.0
  packages/cozy-mespapiers-lib/package.json
  yarn.lock
Owners: @Merkur39, @JF-Cozy, @PolariTOON, @trollepierre, @acezard

feat(mespapiers): We can now edit a metadata even if it didn't exist
  packages/cozy-mespapiers-lib/src/components/ModelSteps/Edit/helpers.js
  packages/cozy-mespapiers-lib/src/components/ModelSteps/Edit/helpers.spec.js
Owners: @Merkur39, @JF-Cozy, @PolariTOON

feat(mespapiers): Upgrade cozy-ui from 75.3.0 to 75.4.0
  packages/cozy-mespapiers-lib/package.json
  yarn.lock
Owners: @Merkur39, @JF-Cozy, @PolariTOON, @trollepierre, @acezard

feat(mespapiers): We can now edit a metadata even if it didn't exist
  packages/cozy-mespapiers-lib/src/components/ModelSteps/Edit/helpers.js
  packages/cozy-mespapiers-lib/src/components/ModelSteps/Edit/helpers.spec.js
Owners: @Merkur39, @JF-Cozy, @PolariTOON

[skip ci] Publish
  packages/cozy-mespapiers-lib/CHANGELOG.md
  packages/cozy-mespapiers-lib/package.json
Owners: @Merkur39, @JF-Cozy, @PolariTOON

CODEOWNERS:

# General code owners
*       @trollepierre @acezard

# Based on the Paper of the Technical maintainers of 2022
packages/cozy-harvest-lib            @doubleface @trollepierre
packages/cozy-doctypes/              @doubleface @trollepierre
packages/cozy-flags/                 @acezard @trollepierre @Ldoppea
packages/cozy-app-publish/           @acezard @doubleface @trollepierre
packages/cozy-interapp/              @Ldoppea @acezard @trollepierre
packages/cozy-intent/                @Ldoppea @acezard
packages/cozy-realtime/              @Ldoppea @trollepierre
packages/eslint-config-cozy-app/     @acezard @trollepierre
packages/renovate-config-cozy/       @doubleface @trollepierre
packages/renovate-config-cozy-libs/  @doubleface @trollepierre
packages/cozy-sharing/               @Ldoppea @acezard @trollepierre
packages/cozy-mespapiers-lib/        @Merkur39 @JF-Cozy @PolariTOON
