Repository cozy/cozy-libs, changes with the owners that CODEOWNERS names for each.
All owners: @kosssi, @ptbrowne, @cedricmessiant, @cpatchane, @enguerran, @Crash--, @gregorylegarec, @y-lohse, @ylohse, @doubleface

CODEOWNERS:

packages/cozy-device-helper @kosssi @ptbrowne
packages/cozy-flags @ptbrowne @cedricmessiant
packages/cozy-realtime @kosssi
packages/babel-preset-cozy-app @cpatchane @cedricmessiant
packages/eslint-config-cozy-app @cpatchane @cedricmessiant
packages/commitlint-config-cozy @kosssi @enguerran @cedricmessiant
packages/browserslist-config-cozy @cpatchane @Crash--
packages/cozy-app-publish @cpatchane @gregorylegarec @y-lohse
packages/cozy-ci-utils @y-lohse @cedricmessiant
packages/cozy-harvest-lib @gregorylegarec @cpatchane
packages/cozy-interapp @gregorylegarec @kosssi
packages/cozy-doctypes @ptbrowne @kosssi
packages/cozy-release @gregorylegarec @cpatchane @cedricmessiant
packages/renovate-config-cozy @ylohse @doubleface @kosssi

[skip ci] Publish
  packages/cozy-procedures/CHANGELOG.md
  packages/cozy-procedures/package.json
Owners: none

[skip ci] Publish
  packages/cozy-harvest-lib/CHANGELOG.md
  packages/cozy-harvest-lib/package.json
Owners: @gregorylegarec, @cpatchane

fix(harvest): Konnector modal title 🌐
  packages/cozy-harvest-lib/src/locales/en.json
Owners: @gregorylegarec, @cpatchane

fix(harvest): Fix locale 🌐
  packages/cozy-harvest-lib/src/locales/en.json
Owners: @gregorylegarec, @cpatchane

[skip ci] Publish
  packages/cozy-harvest-lib/CHANGELOG.md
  packages/cozy-harvest-lib/package.json
Owners: @gregorylegarec, @cpatchane

[skip ci] Publish
  packages/cozy-harvest-lib/CHANGELOG.md
  packages/cozy-harvest-lib/package.json
Owners: @gregorylegarec, @cpatchane

refactor(harvest): Use HOC to extend I18n with konnector locales 🛠
  packages/cozy-harvest-lib/src/components/AccountForm/index.jsx
  packages/cozy-harvest-lib/src/components/hoc/withKonnectorLocales.jsx
Owners: @gregorylegarec, @cpatchane

refactor(harvest): Rename AccountFormError to TriggerErrorInfo 🛠
  packages/cozy-harvest-lib/src/components/AccountForm/index.jsx
  packages/cozy-harvest-lib/src/components/infos/TriggerErrorInfo.jsx
  packages/cozy-harvest-lib/test/components/__snapshots__/AccountForm.spec.js.snap
  packages/cozy-harvest-lib/test/components/infos/TriggerErrorInfo.spec.js
  packages/cozy-harvest-lib/test/components/infos/__snapshots__/TriggerErrorInfo.spec.js.snap
Owners: @gregorylegarec, @cpatchane

feat(harvest): Let KonnectorModal display trigger error 📝
  packages/cozy-harvest-lib/src/components/KonnectorModal.jsx
Owners: @gregorylegarec, @cpatchane

feat(harvest): Give callbacks to TriggerLauncher ✨
  packages/cozy-harvest-lib/src/components/TriggerLauncher.jsx
Owners: @gregorylegarec, @cpatchane

feat(harvest): Pass props from LaunchTriggerCard to TriggerLauncher 📝
  packages/cozy-harvest-lib/src/components/TriggerLauncher.jsx
  packages/cozy-harvest-lib/src/components/cards/LaunchTriggerCard.jsx
Owners: @gregorylegarec, @cpatchane

feat(harvest): Do not show error when job running on KonnectorModal ✨
  packages/cozy-harvest-lib/src/components/KonnectorModal.jsx
Owners: @gregorylegarec, @cpatchane

fix(harvest): Fix style prop to not make React crash 🚑
  packages/cozy-harvest-lib/src/components/cards/LaunchTriggerCard.jsx
Owners: @gregorylegarec, @cpatchane

feat: Unlink a file
  packages/cozy-procedures/src/components/Documents.jsx
  packages/cozy-procedures/src/components/documents/DocumentHolder.jsx
  packages/cozy-procedures/src/components/documents/DocumentsGroups.jsx
  packages/cozy-procedures/src/containers/DocumentsDataForm.jsx
  packages/cozy-procedures/src/redux/documentsDataSlice.js
Owners: none

Update Documents.jsx
  packages/cozy-procedures/src/components/Documents.jsx
Owners: none

[skip ci] Publish
  packages/cozy-harvest-lib/CHANGELOG.md
  packages/cozy-harvest-lib/package.json
Owners: @gregorylegarec, @cpatchane

feat: Almost a full template
  packages/cozy-procedures/src/templates/creditApplicationTemplate.js
Owners: none

feat: Almost a full template (#540)
  packages/cozy-procedures/src/templates/creditApplicationTemplate.js
Owners: none

[skip ci] Publish
  packages/cozy-procedures/CHANGELOG.md
  packages/cozy-procedures/package.json
Owners: none

feat: Simple amount view
  packages/cozy-procedures/src/components/Amount.jsx
  packages/cozy-procedures/src/locales/en.json
  packages/cozy-procedures/src/locales/fr.json
Owners: none

feat: Connected amount view
  packages/cozy-procedures/src/components/Amount.jsx
  packages/cozy-procedures/src/containers/Amount.jsx
  packages/cozy-procedures/src/index.js
  packages/cozy-procedures/src/redux/amountSlice.js
Owners: none

feat: Dumb duration view
  packages/cozy-procedures/package.json
  packages/cozy-procedures/src/components/Duration.jsx
  packages/cozy-procedures/src/locales/en.json
  packages/cozy-procedures/src/locales/fr.json
  packages/playgrounds/package.json
  yarn.lock
Owners: none

feat: Duration container
  packages/cozy-procedures/src/components/Duration.jsx
  packages/cozy-procedures/src/containers/Duration.jsx
  packages/cozy-procedures/src/index.js
  packages/cozy-procedures/src/locales/en.json
  packages/cozy-procedures/src/locales/fr.json
  packages/cozy-procedures/src/redux/durationSlice.js
  packages/cozy-procedures/src/templates/creditApplicationTemplate.js
Owners: none

fix: Upgrade cozy-ui
  packages/cozy-procedures/package.json
  packages/cozy-procedures/src/components/Duration.jsx
  packages/playgrounds/package.json
  yarn.lock
Owners: none

feat: Connect Overview screen
  packages/cozy-procedures/src/components/Amount.jsx
  packages/cozy-procedures/src/components/Duration.jsx
  packages/cozy-procedures/src/components/Overview.jsx
  packages/cozy-procedures/src/containers/Overview.jsx
  packages/cozy-procedures/src/locales/en.json
  packages/cozy-procedures/src/locales/fr.json
  packages/cozy-procedures/src/redux/amountSlice.js
  packages/cozy-procedures/src/redux/durationSlice.js
  packages/cozy-procedures/src/templates/creditApplicationTemplate.js
Owners: none

fix: Better UX
  packages/cozy-procedures/src/components/Amount.jsx
  packages/cozy-procedures/src/components/Duration.jsx
  packages/cozy-procedures/src/components/Overview.jsx
Owners: none

fix(harvest): Disable button when editing if an error exists 🚑
  packages/cozy-harvest-lib/src/components/AccountForm/index.jsx
  packages/cozy-harvest-lib/test/components/AccountForm.spec.js
Owners: @gregorylegarec, @cpatchane

[skip ci] Publish
  packages/cozy-harvest-lib/CHANGELOG.md
  packages/cozy-harvest-lib/package.json
Owners: @gregorylegarec, @cpatchane

refactor(harvest): Clarify condition in AccountForm.isSubmittable 📝
  packages/cozy-harvest-lib/src/components/AccountForm/index.jsx
Owners: @gregorylegarec, @cpatchane

fix: Lock file
  yarn.lock
Owners: none

fix: Lock file
  yarn.lock
Owners: none

feat: Duration container
  packages/cozy-procedures/src/components/Duration.jsx
  packages/cozy-procedures/src/containers/Duration.jsx
  packages/cozy-procedures/src/index.js
  packages/cozy-procedures/src/locales/en.json
  packages/cozy-procedures/src/locales/fr.json
  packages/cozy-procedures/src/redux/durationSlice.js
  packages/cozy-procedures/src/templates/creditApplicationTemplate.js
Owners: none

fix: Upgrade cozy-ui
  packages/cozy-procedures/package.json
  packages/cozy-procedures/src/components/Duration.jsx
  packages/playgrounds/package.json
  yarn.lock
Owners: none

feat: Simple amount view
  packages/cozy-procedures/src/components/Amount.jsx
  packages/cozy-procedures/src/locales/en.json
  packages/cozy-procedures/src/locales/fr.json
Owners: none

feat: Dumb duration view
  packages/cozy-procedures/package.json
  packages/cozy-procedures/src/components/Duration.jsx
  packages/cozy-procedures/src/locales/en.json
  packages/cozy-procedures/src/locales/fr.json
  packages/playgrounds/package.json
  yarn.lock
Owners: none

feat: Connected amount view
  packages/cozy-procedures/src/components/Amount.jsx
  packages/cozy-procedures/src/containers/Amount.jsx
  packages/cozy-procedures/src/index.js
  packages/cozy-procedures/src/redux/amountSlice.js
Owners: none

feat: Connect Overview screen
  packages/cozy-procedures/src/components/Amount.jsx
  packages/cozy-procedures/src/components/Duration.jsx
  packages/cozy-procedures/src/components/Overview.jsx
  packages/cozy-procedures/src/containers/Overview.jsx
  packages/cozy-procedures/src/locales/en.json
  packages/cozy-procedures/src/locales/fr.json
  packages/cozy-procedures/src/redux/amountSlice.js
  packages/cozy-procedures/src/redux/durationSlice.js
  packages/cozy-procedures/src/templates/creditApplicationTemplate.js
Owners: none

fix: Better UX
  packages/cozy-procedures/src/components/Amount.jsx
  packages/cozy-procedures/src/components/Duration.jsx
  packages/cozy-procedures/src/components/Overview.jsx
Owners: none

[skip ci] Publish
  packages/cozy-procedures/CHANGELOG.md
  packages/cozy-procedures/package.json
Owners: none

feat(playground): Add files access
  packages/cozy-doctypes/src/File.js
  packages/cozy-procedures/src/components/OtherComp.jsx
  packages/cozy-procedures/src/containers/DocumentsDataForm.jsx
  packages/cozy-procedures/src/index.js
  packages/playgrounds/src/common/client.js
Owners: @ptbrowne, @kosssi
