Repository cozy/cozy-libs, changes with the owners that CODEOWNERS names for each.
All owners: @kosssi, @ptbrowne, @cedricmessiant, @cpatchane, @enguerran, @Crash--, @gregorylegarec, @y-lohse, @ylohse, @doubleface

CODEOWNERS:

packages/cozy-device-helper @kosssi @ptbrowne
packages/cozy-flags @ptbrowne @cedricmessiant
packages/cozy-realtime @kosssi
packages/babel-preset-cozy-app @cpatchane @cedricmessiant
packages/eslint-config-cozy-app @cpatchane @cedricmessiant
packages/commitlint-config-cozy @kosssi @enguerran @cedricmessiant
packages/browserslist-config-cozy @cpatchane @Crash--
packages/cozy-app-publish @cpatchane @gregorylegarec @y-lohse
packages/cozy-ci-utils @y-lohse @cedricmessiant
packages/cozy-harvest-lib @gregorylegarec @cpatchane
packages/cozy-interapp @gregorylegarec @kosssi
packages/cozy-doctypes @ptbrowne @kosssi
packages/cozy-release @gregorylegarec @cpatchane @cedricmessiant
packages/renovate-config-cozy @ylohse @doubleface @kosssi

fix: Topbar back button
  packages/cozy-procedures/src/components/Topbar.jsx
  packages/cozy-procedures/src/locales/en.json
  packages/cozy-procedures/src/locales/fr.json
Owners: none

[skip ci] Publish
  packages/cozy-procedures/CHANGELOG.md
  packages/cozy-procedures/package.json
Owners: none

feat: Unlink Docs
  packages/cozy-procedures/src/components/Documents.jsx
  packages/cozy-procedures/src/components/documents/DocumentHolder.jsx
  packages/cozy-procedures/src/components/documents/DocumentsGroup.jsx
  packages/cozy-procedures/src/containers/DocumentsDataForm.jsx
  packages/cozy-procedures/src/redux/documentsDataSlice.js
Owners: none

feat: Unlink Docs (#551)
  packages/cozy-procedures/src/components/Documents.jsx
  packages/cozy-procedures/src/components/documents/DocumentHolder.jsx
  packages/cozy-procedures/src/components/documents/DocumentsGroup.jsx
  packages/cozy-procedures/src/containers/DocumentsDataForm.jsx
  packages/cozy-procedures/src/redux/documentsDataSlice.js
Owners: none

[skip ci] Publish
  packages/cozy-procedures/CHANGELOG.md
  packages/cozy-procedures/package.json
Owners: none

feat: Upload Doc
  packages/cozy-procedures/src/components/Documents.jsx
  packages/cozy-procedures/src/components/documents/DocumentsGroup.jsx
  packages/cozy-procedures/src/components/documents/EmptyDocumentHolder.jsx
  packages/cozy-procedures/src/containers/DocumentsDataForm.jsx
  packages/cozy-procedures/src/redux/documentsDataSlice.js
Owners: none

feat: Upgrade cozy-client to use metaData
  packages/cozy-procedures/src/components/documents/EmptyDocumentHolder.jsx
  packages/cozy-procedures/src/containers/DocumentsDataForm.jsx
  packages/cozy-procedures/src/redux/documentsDataSlice.js
  packages/playgrounds/package.json
  yarn.lock
Owners: none

fix: Use lastModified for datetime
  packages/cozy-procedures/src/components/documents/EmptyDocumentHolder.jsx
Owners: none

fix: Path to get the template
  packages/cozy-procedures/src/components/documents/EmptyDocumentHolder.jsx
  packages/cozy-procedures/src/redux/documentsDataSlice.js
Owners: none

(procedures) Upload files (#552)
  packages/cozy-procedures/src/components/Documents.jsx
  packages/cozy-procedures/src/components/documents/DocumentsGroup.jsx
  packages/cozy-procedures/src/components/documents/EmptyDocumentHolder.jsx
  packages/cozy-procedures/src/containers/DocumentsDataForm.jsx
  packages/cozy-procedures/src/redux/documentsDataSlice.js
  packages/playgrounds/package.json
  yarn.lock
Owners: none

feat(doctypes): Add create and createJson to AdministrativeProcedure
  packages/cozy-doctypes/package.json
  packages/cozy-doctypes/src/administrativeProcedures/AdministrativeProcedure.js
  packages/cozy-doctypes/src/administrativeProcedures/AdministrativeProcedure.spec.js
  packages/cozy-doctypes/src/administrativeProcedures/__snapshots__/AdministrativeProcedure.spec.js.snap
  yarn.lock
Owners: @ptbrowne, @kosssi

[skip ci] Publish
  packages/cozy-procedures/CHANGELOG.md
  packages/cozy-procedures/package.json
Owners: none

feat(procedures): Submit the procedure
  packages/cozy-procedures/src/components/Overview.jsx
  packages/cozy-procedures/src/containers/Overview.jsx
  packages/cozy-procedures/src/locales/en.json
  packages/cozy-procedures/src/locales/fr.json
  packages/playgrounds/src/common/client.js
Owners: none

fix(procedures): Move Alerter in playgrounds
  packages/cozy-procedures/src/components/Overview.jsx
  packages/playgrounds/src/common/App.jsx
  packages/playgrounds/src/index.jsx
Owners: none

feat(doctypes): Add create and createJson to AdministrativeProcedure
  packages/cozy-doctypes/package.json
  packages/cozy-doctypes/src/administrativeProcedures/AdministrativeProcedure.js
  packages/cozy-doctypes/src/administrativeProcedures/AdministrativeProcedure.spec.js
  packages/cozy-doctypes/src/administrativeProcedures/__snapshots__/AdministrativeProcedure.spec.js.snap
  yarn.lock
Owners: @ptbrowne, @kosssi

feat(procedures): Submit the procedure
  packages/cozy-procedures/src/components/Overview.jsx
  packages/cozy-procedures/src/containers/Overview.jsx
  packages/cozy-procedures/src/locales/en.json
  packages/cozy-procedures/src/locales/fr.json
  packages/playgrounds/src/common/client.js
Owners: none

fix(procedures): Move Alerter in playgrounds
  packages/cozy-procedures/src/components/Overview.jsx
  packages/playgrounds/src/common/App.jsx
  packages/playgrounds/src/index.jsx
Owners: none

[skip ci] Publish
  packages/cozy-doctypes/CHANGELOG.md
  packages/cozy-doctypes/package.json
  packages/cozy-procedures/CHANGELOG.md
  packages/cozy-procedures/package.json
Owners: @ptbrowne, @kosssi

fix: Use credit template only in render
  packages/cozy-procedures/src/components/PersonalDataForm.jsx
Owners: none

fix: Use credit template only in render
  packages/cozy-procedures/src/components/PersonalDataForm.jsx
Owners: none

[skip ci] Publish
  packages/cozy-procedures/CHANGELOG.md
  packages/cozy-procedures/package.json
Owners: none

feat(procedures): Add files to zip when we submit the procedure
  packages/cozy-procedures/src/components/Overview.jsx
  packages/cozy-procedures/src/containers/Overview.jsx
Owners: none

fix: Upgrade cozy-ui
  packages/cozy-procedures/package.json
  packages/cozy-procedures/src/components/Topbar.jsx
  packages/playgrounds/package.json
  yarn.lock
Owners: none

feat(procedures): Add files to zip when we submit the procedure
  packages/cozy-procedures/src/components/Overview.jsx
  packages/cozy-procedures/src/containers/Overview.jsx
Owners: none

refactor(procedures): Add createJsonFile method
  packages/cozy-procedures/src/components/Overview.jsx
Owners: none

fix(harvest): Fix TriggerErrorInfo bottom margin 🚑
  packages/cozy-harvest-lib/src/components/AccountForm/index.jsx
  packages/cozy-harvest-lib/src/components/infos/TriggerErrorInfo.jsx
  packages/cozy-harvest-lib/test/components/__snapshots__/AccountForm.spec.js.snap
Owners: @gregorylegarec, @cpatchane

[skip ci] Publish
  packages/cozy-procedures/CHANGELOG.md
  packages/cozy-procedures/package.json
Owners: none

fix: Adjust margins
  packages/cozy-procedures/src/components/Amount.jsx
  packages/cozy-procedures/src/components/Duration.jsx
  packages/cozy-procedures/src/components/Overview.jsx
  packages/cozy-procedures/src/components/PersonalDataForm.jsx
  yarn.lock
Owners: none

[skip ci] Publish
  packages/cozy-harvest-lib/CHANGELOG.md
  packages/cozy-harvest-lib/package.json
Owners: @gregorylegarec, @cpatchane

refactor(procedures): Add createJsonFile method
  packages/cozy-procedures/src/components/Overview.jsx
Owners: none

fix: Adjust margins
  packages/cozy-procedures/src/components/Amount.jsx
  packages/cozy-procedures/src/components/Duration.jsx
  packages/cozy-procedures/src/components/Overview.jsx
  packages/cozy-procedures/src/components/PersonalDataForm.jsx
  yarn.lock
Owners: none

fix: Upgrade cozy-ui
  packages/cozy-procedures/package.json
  packages/cozy-procedures/src/components/Topbar.jsx
  packages/playgrounds/package.json
  yarn.lock
Owners: none

[skip ci] Publish
  packages/cozy-procedures/CHANGELOG.md
  packages/cozy-procedures/package.json
Owners: none

Update dependency husky to v2
  package.json
  yarn.lock
Owners: none

feat: Upload Menu for Mobile
  packages/cozy-procedures/src/components/documents/EmptyDocumentHolder.jsx
  packages/cozy-procedures/src/components/documents/UploadInputLabel.jsx
  packages/cozy-procedures/src/locales/en.json
  packages/cozy-procedures/src/locales/fr.json
Owners: none

chore: Added a watch task
  packages/cozy-procedures/package.json
Owners: none

fix(procedures): Change FormFillingStatus to CompletedFromMyselfStatus
  packages/cozy-procedures/src/components/FormFillingStatus.jsx
  packages/cozy-procedures/src/components/FormFillingStatus.spec.jsx
  packages/cozy-procedures/src/components/__snapshots__/FormFillingStatus.spec.jsx.snap
  packages/cozy-procedures/src/containers/FormFillingStatus.jsx
  packages/cozy-procedures/src/containers/FormFillingStatus.spec.jsx
  packages/cozy-procedures/src/redux/personalDataSlice.js
  packages/cozy-procedures/src/redux/personalDataSlice.spec.js
Owners: none

fix(harvest): Fix undefined proptypes when transpiled 🚑
  packages/cozy-harvest-lib/src/components/cards/LaunchTriggerCard.jsx
Owners: @gregorylegarec, @cpatchane

Update packages/cozy-procedures/src/locales/en.json
  packages/cozy-procedures/src/locales/en.json
Owners: none

Update packages/cozy-procedures/src/locales/en.json
  packages/cozy-procedures/src/locales/en.json
Owners: none
