Repository cozy/cozy-libs, changes with the owners that CODEOWNERS names for each.
All owners: @trollepierre, @acezard, @doubleface, @Ldoppea, @Merkur39, @JF-Cozy, @PolariTOON

feat: Do not use the MoreOptions component anymore
  packages/cozy-mespapiers-lib/src/components/MesPapiersLib.jsx
  packages/cozy-mespapiers-lib/src/components/MoreOptions/MoreOptions.jsx
Owners: @Merkur39, @JF-Cozy, @PolariTOON

fix: Image showing the position of the expiration date of a National ID
  packages/cozy-mespapiers-lib/src/assets/images/IlluIdCardExpirationDateHelp.png
Owners: @Merkur39, @JF-Cozy, @PolariTOON

feat: Limit max width of bitmap images
  packages/cozy-mespapiers-lib/src/components/CompositeHeader/CompositeHeaderImage.jsx
Owners: @Merkur39, @JF-Cozy, @PolariTOON

feat: Limit max width of bitmap images
  packages/cozy-mespapiers-lib/src/components/CompositeHeader/CompositeHeaderImage.jsx
Owners: @Merkur39, @JF-Cozy, @PolariTOON

fix: Image showing the position of the expiration date of a National ID
  packages/cozy-mespapiers-lib/src/assets/images/IlluIdCardExpirationDateHelp.png
Owners: @Merkur39, @JF-Cozy, @PolariTOON

feat: Do not use the MoreOptions component anymore
  packages/cozy-mespapiers-lib/src/components/MesPapiersLib.jsx
  packages/cozy-mespapiers-lib/src/components/MoreOptions/MoreOptions.jsx
Owners: @Merkur39, @JF-Cozy, @PolariTOON

[skip ci] Publish
  packages/cozy-mespapiers-lib/CHANGELOG.md
  packages/cozy-mespapiers-lib/package.json
Owners: @Merkur39, @JF-Cozy, @PolariTOON

fix: Remove a reconnection step
  packages/cozy-harvest-lib/src/components/OAuthForm.jsx
  packages/cozy-harvest-lib/src/components/OAuthForm.spec.js
  packages/cozy-harvest-lib/src/components/__snapshots__/OAuthForm.spec.js.snap
Owners: @doubleface, @trollepierre

fix: Remove unused request to BI connection
  packages/cozy-harvest-lib/src/services/biWebView.js
  packages/cozy-harvest-lib/src/services/biWebView.spec.js
Owners: @doubleface, @trollepierre

fix: Let OAuthForm component decide when to remove the OAuth window
  packages/cozy-harvest-lib/src/components/OAuthWindow.jsx
Owners: @doubleface, @trollepierre

feat: Close OAuthWindow only on login success
  packages/cozy-harvest-lib/src/components/OAuthForm.jsx
  packages/cozy-harvest-lib/src/components/OAuthForm.spec.js
Owners: @doubleface, @trollepierre

[skip ci] Publish
  packages/cozy-harvest-lib/CHANGELOG.md
  packages/cozy-harvest-lib/package.json
  packages/cozy-mespapiers-lib/CHANGELOG.md
  packages/cozy-mespapiers-lib/package.json
Owners: @doubleface, @trollepierre, @Merkur39, @JF-Cozy, @PolariTOON

fix: Let OAuthForm component decide when to remove the OAuth window
  packages/cozy-harvest-lib/src/components/OAuthWindow.jsx
Owners: @doubleface, @trollepierre

feat: Close OAuthWindow only on login success
  packages/cozy-harvest-lib/src/components/OAuthForm.jsx
  packages/cozy-harvest-lib/src/components/OAuthForm.spec.js
Owners: @doubleface, @trollepierre

[skip ci] Publish
  packages/cozy-harvest-lib/CHANGELOG.md
  packages/cozy-harvest-lib/package.json
  packages/cozy-mespapiers-lib/CHANGELOG.md
  packages/cozy-mespapiers-lib/package.json
Owners: @doubleface, @trollepierre, @Merkur39, @JF-Cozy, @PolariTOON

feat: Detect reconnect explicitely
  packages/cozy-harvest-lib/src/components/OAuthForm.jsx
  packages/cozy-harvest-lib/src/components/OAuthForm.spec.js
  packages/cozy-harvest-lib/src/services/biWebView.js
  packages/cozy-harvest-lib/src/services/biWebView.spec.js
Owners: @doubleface, @trollepierre

feat: Use BI account creation webview to handle accounts synchonization
  packages/cozy-harvest-lib/src/components/KonnectorConfiguration/ConfigurationTab/BIContractActivationWindow.spec.jsx
  packages/cozy-harvest-lib/src/components/KonnectorConfiguration/ConfigurationTab/BiContractActivationWindow.jsx
  packages/cozy-harvest-lib/src/services/biWebView.js
  packages/cozy-harvest-lib/src/services/biWebView.spec.js
Owners: @doubleface, @trollepierre

feat: Handle cas with multiple bank ids
  packages/cozy-harvest-lib/src/services/biWebView.js
  packages/cozy-harvest-lib/src/services/biWebView.spec.js
Owners: @doubleface, @trollepierre

fix: RefreshContracts now updates contracts in realtime
  packages/cozy-harvest-lib/src/components/KonnectorConfiguration/ConfigurationTab/BiContractActivationWindow.jsx
  packages/cozy-harvest-lib/src/services/biWebView.js
  packages/cozy-harvest-lib/src/services/biWebView.spec.js
Owners: @doubleface, @trollepierre

feat: Filter button already displayed on Mobile
  packages/cozy-mespapiers-lib/src/components/Home/Home.jsx
Owners: @Merkur39, @JF-Cozy, @PolariTOON

refactor: Split Filter button
  packages/cozy-mespapiers-lib/src/components/Home/FilterButton.jsx
  packages/cozy-mespapiers-lib/src/components/Home/Home.jsx
Owners: @Merkur39, @JF-Cozy, @PolariTOON

feat: Filter button already displayed on Mobile
  packages/cozy-mespapiers-lib/src/components/Home/Home.jsx
Owners: @Merkur39, @JF-Cozy, @PolariTOON

refactor: Split Filter button
  packages/cozy-mespapiers-lib/src/components/Home/FilterButton.jsx
  packages/cozy-mespapiers-lib/src/components/Home/Home.jsx
Owners: @Merkur39, @JF-Cozy, @PolariTOON

[skip ci] Publish
  packages/cozy-mespapiers-lib/CHANGELOG.md
  packages/cozy-mespapiers-lib/package.json
Owners: @Merkur39, @JF-Cozy, @PolariTOON

feat(mespapiers-lib): Update `cozy-ui` dependency to v70.5.1
  packages/cozy-mespapiers-lib/package.json
  yarn.lock
Owners: @Merkur39, @JF-Cozy, @PolariTOON, @trollepierre, @acezard

feat(mespapiers-lib): Update `cozy-ui` dependency to v70.5.1
  packages/cozy-mespapiers-lib/package.json
  yarn.lock
Owners: @Merkur39, @JF-Cozy, @PolariTOON, @trollepierre, @acezard

[skip ci] Publish
  packages/cozy-mespapiers-lib/CHANGELOG.md
  packages/cozy-mespapiers-lib/package.json
Owners: @Merkur39, @JF-Cozy, @PolariTOON

fix: Use correct image size
  packages/cozy-mespapiers-lib/src/assets/images/IlluIdCardExpirationDateHelp.png
Owners: @Merkur39, @JF-Cozy, @PolariTOON

fix: Use correct image size
  packages/cozy-mespapiers-lib/src/assets/images/IlluIdCardExpirationDateHelp.png
Owners: @Merkur39, @JF-Cozy, @PolariTOON

[skip ci] Publish
  packages/cozy-mespapiers-lib/CHANGELOG.md
  packages/cozy-mespapiers-lib/package.json
Owners: @Merkur39, @JF-Cozy, @PolariTOON

fix(mespapiers-lib): Show the display name instead of the fullname
  packages/cozy-mespapiers-lib/src/components/ModelSteps/Contact.jsx
Owners: @Merkur39, @JF-Cozy, @PolariTOON

fix(mespapiers-lib): Do not attempt to merge names when one is missing
  packages/cozy-mespapiers-lib/src/components/Papers/helpers.js
Owners: @Merkur39, @JF-Cozy, @PolariTOON

fix(mespapiers-lib): Show the display name instead of the fullname
  packages/cozy-mespapiers-lib/src/components/ModelSteps/Contact.jsx
Owners: @Merkur39, @JF-Cozy, @PolariTOON

fix(mespapiers-lib): Do not attempt to merge names when one is missing
  packages/cozy-mespapiers-lib/src/components/Papers/helpers.js
Owners: @Merkur39, @JF-Cozy, @PolariTOON

[skip ci] Publish
  packages/cozy-mespapiers-lib/CHANGELOG.md
  packages/cozy-mespapiers-lib/package.json
Owners: @Merkur39, @JF-Cozy, @PolariTOON

feat: WIP
  packages/cozy-mespapiers-lib/jest.config.js
  packages/cozy-mespapiers-lib/package.json
  packages/cozy-mespapiers-lib/test/jestLib/custom-test-env.js
  packages/cozy-mespapiers-lib/test/jestLib/resolver.js
Owners: @Merkur39, @JF-Cozy, @PolariTOON

fix(deps): Use same React and React DOM version everywhere
  packages/cozy-authentication/package.json
  packages/cozy-flags/package.json
  packages/cozy-harvest-lib/package.json
  packages/cozy-intent/package.json
  packages/cozy-mespapiers-lib/jest.config.js
  packages/cozy-mespapiers-lib/package.json
  packages/cozy-mespapiers-lib/src/components/Contexts/ModalProvider.jsx
  packages/cozy-mespapiers-lib/src/components/Papers/PapersListByContact.spec.jsx
  packages/cozy-mespapiers-lib/test/components/AppLike.jsx
  packages/cozy-mespapiers-lib/test/jestLib/custom-test-env.js
  packages/cozy-procedures/package.json
  packages/cozy-scanner/package.json
  packages/cozy-sharing/package.json
  packages/playgrounds/package.json
  yarn.lock
Owners: @trollepierre, @acezard, @Ldoppea, @doubleface, @Merkur39, @JF-Cozy, @PolariTOON

feat: Update React to 18 and Jest to 28 everywhere
  packages/cli-tree/package.json
  packages/commitlint-config-cozy/package.json
  packages/cozy-app-publish/package.json
  packages/cozy-authentication/package.json
  packages/cozy-codemods/package.json
  packages/cozy-device-helper/package.json
  packages/cozy-doctypes/package.json
  packages/cozy-flags/package.json
  packages/cozy-harvest-lib/package.json
  packages/cozy-intent/package.json
  packages/cozy-interapp/package.json
  packages/cozy-mespapiers-lib/jest.config.js
  packages/cozy-mespapiers-lib/package.json
  packages/cozy-mespapiers-lib/test/jestLib/custom-test-env.js
  packages/cozy-mespapiers-lib/test/jestLib/resolver.js
  packages/cozy-procedures/package.json
  packages/cozy-scanner/package.json
  packages/cozy-sharing/package.json
  packages/playgrounds/package.json
  yarn.lock
Owners: @trollepierre, @acezard, @doubleface, @Ldoppea, @Merkur39, @JF-Cozy, @PolariTOON

feat: Add SearchResultLine component
  packages/cozy-mespapiers-lib/src/components/SearchResult/SearchResultLine.jsx
Owners: @Merkur39, @JF-Cozy, @PolariTOON

feat: Build of actions for the SearchResultLine component
  packages/cozy-mespapiers-lib/src/components/SearchResult/SearchResult.jsx
Owners: @Merkur39, @JF-Cozy, @PolariTOON

CODEOWNERS:

# General code owners
*       @trollepierre @acezard

# Based on the Paper of the Technical maintainers of 2022
packages/cozy-harvest-lib            @doubleface @trollepierre
packages/cozy-doctypes/              @doubleface @trollepierre
packages/cozy-flags/                 @acezard @trollepierre @Ldoppea
packages/cozy-app-publish/           @acezard @doubleface @trollepierre
packages/cozy-interapp/              @Ldoppea @acezard @trollepierre
packages/cozy-intent/                @Ldoppea @acezard
packages/cozy-realtime/              @Ldoppea @trollepierre
packages/eslint-config-cozy-app/     @acezard @trollepierre
packages/renovate-config-cozy/       @doubleface @trollepierre
packages/renovate-config-cozy-libs/  @doubleface @trollepierre
packages/cozy-sharing/               @Ldoppea @acezard @trollepierre
packages/cozy-mespapiers-lib/        @Merkur39 @JF-Cozy @PolariTOON
