Repository cozy/cozy-libs, changes with the owners that CODEOWNERS names for each.
All owners: @kosssi, @ptbrowne, @cedricmessiant, @cpatchane, @enguerran, @Crash--, @gregorylegarec, @y-lohse, @ylohse, @doubleface

fix: Use now() to set the metadata datetime during upload
  packages/cozy-procedures/src/components/documents/EmptyDocumentHolder.jsx
Owners: none

feat(procedures): Add status for documents completed from Drive
  packages/cozy-procedures/src/components/CompletedFromDriveStatus.jsx
  packages/cozy-procedures/src/components/CompletedFromDriveStatus.spec.jsx
  packages/cozy-procedures/src/components/Documents.jsx
  packages/cozy-procedures/src/components/Overview.jsx
  packages/cozy-procedures/src/components/__snapshots__/CompletedFromDriveStatus.spec.jsx.snap
  packages/cozy-procedures/src/containers/CompletedFromDriveStatus.jsx
  packages/cozy-procedures/src/containers/CompletedFromDriveStatus.spec.jsx
  packages/cozy-procedures/src/containers/Overview.jsx
  packages/cozy-procedures/src/locales/en.json
  packages/cozy-procedures/src/locales/fr.json
  packages/cozy-procedures/src/redux/documentsDataSlice.js
  packages/cozy-procedures/src/redux/documentsDataSlice.spec.js
Owners: none

[skip ci] Publish
  packages/cozy-doctypes/CHANGELOG.md
  packages/cozy-doctypes/package.json
  packages/cozy-procedures/CHANGELOG.md
  packages/cozy-procedures/package.json
Owners: @ptbrowne, @kosssi

fix(harvest): When refetching, trigger must be retrieved from state
  packages/cozy-harvest-lib/src/components/TriggerManager.jsx
Owners: @gregorylegarec, @cpatchane

feat(harvest): Decrease margin between items in LaunchTriggerCard 💄
  packages/cozy-harvest-lib/src/components/cards/LaunchTriggerCard.jsx
Owners: @gregorylegarec, @cpatchane

feat(procedures): Add status for documents completed from Drive
  packages/cozy-procedures/src/components/CompletedFromDriveStatus.jsx
  packages/cozy-procedures/src/components/CompletedFromDriveStatus.spec.jsx
  packages/cozy-procedures/src/components/Documents.jsx
  packages/cozy-procedures/src/components/Overview.jsx
  packages/cozy-procedures/src/components/__snapshots__/CompletedFromDriveStatus.spec.jsx.snap
  packages/cozy-procedures/src/containers/CompletedFromDriveStatus.jsx
  packages/cozy-procedures/src/containers/CompletedFromDriveStatus.spec.jsx
  packages/cozy-procedures/src/containers/Overview.jsx
  packages/cozy-procedures/src/locales/en.json
  packages/cozy-procedures/src/locales/fr.json
  packages/cozy-procedures/src/redux/documentsDataSlice.js
  packages/cozy-procedures/src/redux/documentsDataSlice.spec.js
Owners: none

fix(procedures): Use cursor pointer on amount and duration
  packages/cozy-procedures/src/components/Overview.jsx
Owners: none

[skip ci] Publish
  packages/cozy-procedures/CHANGELOG.md
  packages/cozy-procedures/package.json
Owners: none

style(procedures): Add margin top to button in personal data form
  packages/cozy-procedures/src/components/PersonalDataForm.jsx
Owners: none

style(procedures): Add margin top to button in personal data form
  packages/cozy-procedures/src/components/PersonalDataForm.jsx
Owners: none

[skip ci] Publish
  packages/cozy-harvest-lib/CHANGELOG.md
  packages/cozy-harvest-lib/package.json
  packages/cozy-procedures/CHANGELOG.md
  packages/cozy-procedures/package.json
Owners: @gregorylegarec, @cpatchane

style(procedures): Use fullwidth on SelectBox
  packages/cozy-procedures/src/components/form/SelectBoxAdapter.jsx
  packages/cozy-procedures/src/components/form/__snapshots__/SelectBoxAdapter.spec.jsx.snap
Owners: none

fix(procedures): Use cursor pointer on amount and duration
  packages/cozy-procedures/src/components/Overview.jsx
Owners: none

style(procedures): Use fullwidth on SelectBox
  packages/cozy-procedures/src/components/form/SelectBoxAdapter.jsx
  packages/cozy-procedures/src/components/form/__snapshots__/SelectBoxAdapter.spec.jsx.snap
Owners: none

[skip ci] Publish
  packages/cozy-procedures/CHANGELOG.md
  packages/cozy-procedures/package.json
Owners: none

fix: Menu again
  packages/cozy-procedures/src/components/documents/UploadInputLabel.jsx
  packages/cozy-procedures/src/components/documents/menuUpload/MenuUploadMobile.jsx
  packages/cozy-procedures/src/locales/en.json
  packages/cozy-procedures/src/locales/fr.json
Owners: none

fix: Menu again (#593)
  packages/cozy-procedures/src/components/documents/UploadInputLabel.jsx
  packages/cozy-procedures/src/components/documents/menuUpload/MenuUploadMobile.jsx
  packages/cozy-procedures/src/locales/en.json
  packages/cozy-procedures/src/locales/fr.json
Owners: none

fix(procedures): Fix maritalStatus values
  packages/cozy-procedures/src/locales/en.json
  packages/cozy-procedures/src/locales/fr.json
  packages/cozy-procedures/src/templates/creditApplicationTemplate.js
Owners: none

[skip ci] Publish
  packages/cozy-procedures/CHANGELOG.md
  packages/cozy-procedures/package.json
Owners: none

fix(procedures): Fix maritalStatus values
  packages/cozy-procedures/src/locales/en.json
  packages/cozy-procedures/src/locales/fr.json
  packages/cozy-procedures/src/templates/creditApplicationTemplate.js
Owners: none

[skip ci] Publish
  packages/cozy-procedures/CHANGELOG.md
  packages/cozy-procedures/package.json
Owners: none

fix(procedures): Initialize completedFromMyself to 0
  packages/cozy-procedures/src/redux/personalDataSlice.js
  packages/cozy-procedures/src/redux/personalDataSlice.spec.js
Owners: none

fix(procedures): Initialize completedFromMyself to 0
  packages/cozy-procedures/src/redux/personalDataSlice.js
  packages/cozy-procedures/src/redux/personalDataSlice.spec.js
Owners: none

[skip ci] Publish
  packages/cozy-procedures/CHANGELOG.md
  packages/cozy-procedures/package.json
Owners: none

fix: :nail_care: Handle missing password for encrypted placeholder
  packages/cozy-harvest-lib/src/components/AccountForm/AccountField.jsx
  packages/cozy-harvest-lib/src/components/AccountForm/AccountFields.jsx
  packages/cozy-harvest-lib/src/helpers/fields.js
  packages/cozy-harvest-lib/test/helpers/fields.spec.js
Owners: @gregorylegarec, @cpatchane

[skip ci] Publish
  packages/cozy-harvest-lib/CHANGELOG.md
  packages/cozy-harvest-lib/package.json
Owners: @gregorylegarec, @cpatchane

feat: Hide nav footer bar on focus
  packages/cozy-procedures/src/components/form/InputAdapter.jsx
  packages/cozy-procedures/src/components/form/InputWithUnit.jsx
Owners: none

fix: :bug: Correctly check initialValues if exists
  packages/cozy-harvest-lib/src/components/AccountForm/AccountFields.jsx
Owners: @gregorylegarec, @cpatchane

fix: Use needclick on the fileinput label
  packages/cozy-procedures/src/components/documents/UploadInputLabel.jsx
Owners: none

fix: Hide nav bottom when focus
  packages/cozy-procedures/src/components/form/__snapshots__/InputAdapter.spec.jsx.snap
  packages/cozy-procedures/src/components/form/__snapshots__/InputWithUnit.spec.jsx.snap
Owners: none

feat(harvest): Add locales check after tx pull ☑
  packages/cozy-harvest-lib/package.json
  packages/cozy-harvest-lib/scripts/check-locales.sh
Owners: @gregorylegarec, @cpatchane

Update UploadInputLabel.jsx
  packages/cozy-procedures/src/components/documents/UploadInputLabel.jsx
Owners: none

feat: Hide nav footer bar on focus (#600)
  packages/cozy-procedures/src/components/form/InputAdapter.jsx
  packages/cozy-procedures/src/components/form/InputWithUnit.jsx
  packages/cozy-procedures/src/components/form/__snapshots__/InputAdapter.spec.jsx.snap
  packages/cozy-procedures/src/components/form/__snapshots__/InputWithUnit.spec.jsx.snap
Owners: none

fix: Use needclick on the fileinput label (#601)
  packages/cozy-procedures/src/components/documents/UploadInputLabel.jsx
Owners: none

[skip ci] Publish
  packages/cozy-harvest-lib/CHANGELOG.md
  packages/cozy-harvest-lib/package.json
  packages/cozy-procedures/CHANGELOG.md
  packages/cozy-procedures/package.json
Owners: @gregorylegarec, @cpatchane

fix: Template procedure
  packages/cozy-procedures/src/templates/creditApplicationTemplate.js
Owners: none

fix: Add margin to confirm button on documents view
  packages/cozy-procedures/src/components/Documents.jsx
Owners: none

[skip ci] Publish
  packages/cozy-harvest-lib/CHANGELOG.md
  packages/cozy-harvest-lib/package.json
Owners: @gregorylegarec, @cpatchane

fix: Text alignement
  packages/cozy-procedures/src/components/CompletedFromDriveStatus.jsx
  packages/cozy-procedures/src/components/CompletedFromMyselfStatus.jsx
  packages/cozy-procedures/src/components/Documents.jsx
  packages/cozy-procedures/src/components/PersonalDataForm.jsx
  packages/cozy-procedures/src/components/__snapshots__/CompletedFromDriveStatus.spec.jsx.snap
  packages/cozy-procedures/src/components/__snapshots__/CompletedFromMyselfStatus.spec.jsx.snap
Owners: none

fix: Template procedure (#603)
  packages/cozy-procedures/src/templates/creditApplicationTemplate.js
Owners: none

CODEOWNERS:

packages/cozy-device-helper @kosssi @ptbrowne
packages/cozy-flags @ptbrowne @cedricmessiant
packages/cozy-realtime @kosssi
packages/babel-preset-cozy-app @cpatchane @cedricmessiant
packages/eslint-config-cozy-app @cpatchane @cedricmessiant
packages/commitlint-config-cozy @kosssi @enguerran @cedricmessiant
packages/browserslist-config-cozy @cpatchane @Crash--
packages/cozy-app-publish @cpatchane @gregorylegarec @y-lohse
packages/cozy-ci-utils @y-lohse @cedricmessiant
packages/cozy-harvest-lib @gregorylegarec @cpatchane
packages/cozy-interapp @gregorylegarec @kosssi
packages/cozy-doctypes @ptbrowne @kosssi
packages/cozy-release @gregorylegarec @cpatchane @cedricmessiant
packages/renovate-config-cozy @ylohse @doubleface @kosssi
