Repository cozy/cozy-libs, changes with the owners that CODEOWNERS names for each.
All owners: @kosssi, @ptbrowne, @cedricmessiant, @cpatchane, @enguerran, @Crash--, @gregorylegarec, @y-lohse, @ylohse, @doubleface

fix: Set the slider step value
  packages/cozy-procedures/src/components/Duration.jsx
Owners: none

test(procedures): Fix test name
  packages/cozy-procedures/src/redux/personalDataSlice.spec.js
Owners: none

refactor(procedures): Rename FormFillingStatus
  packages/cozy-procedures/src/components/CompletedFromMyselfStatus.jsx
  packages/cozy-procedures/src/components/CompletedFromMyselfStatus.spec.jsx
  packages/cozy-procedures/src/components/PersonalDataForm.jsx
  packages/cozy-procedures/src/components/__snapshots__/CompletedFromMyselfStatus.spec.jsx.snap
  packages/cozy-procedures/src/containers/CompletedFromMyselfStatus.jsx
  packages/cozy-procedures/src/containers/CompletedFromMyselfStatus.spec.jsx
Owners: none

chore(procedures): More precise French translation
  packages/cozy-procedures/src/locales/fr.json
Owners: none

test(procedures): Fix test name
  packages/cozy-procedures/src/redux/personalDataSlice.spec.js
Owners: none

fix(procedures): Change FormFillingStatus to CompletedFromMyselfStatus
  packages/cozy-procedures/src/components/FormFillingStatus.jsx
  packages/cozy-procedures/src/components/FormFillingStatus.spec.jsx
  packages/cozy-procedures/src/components/__snapshots__/FormFillingStatus.spec.jsx.snap
  packages/cozy-procedures/src/containers/FormFillingStatus.jsx
  packages/cozy-procedures/src/containers/FormFillingStatus.spec.jsx
  packages/cozy-procedures/src/redux/personalDataSlice.js
  packages/cozy-procedures/src/redux/personalDataSlice.spec.js
Owners: none

refactor(procedures): Rename FormFillingStatus
  packages/cozy-procedures/src/components/CompletedFromMyselfStatus.jsx
  packages/cozy-procedures/src/components/CompletedFromMyselfStatus.spec.jsx
  packages/cozy-procedures/src/components/PersonalDataForm.jsx
  packages/cozy-procedures/src/components/__snapshots__/CompletedFromMyselfStatus.spec.jsx.snap
  packages/cozy-procedures/src/containers/CompletedFromMyselfStatus.jsx
  packages/cozy-procedures/src/containers/CompletedFromMyselfStatus.spec.jsx
Owners: none

chore(procedures): More precise French translation
  packages/cozy-procedures/src/locales/fr.json
Owners: none

chore: Added a watch task
  packages/cozy-procedures/package.json
Owners: none

fix: Set the slider step value
  packages/cozy-procedures/src/components/Duration.jsx
Owners: none

feat: Upload Menu for Mobile (#558)
  packages/cozy-procedures/src/components/documents/EmptyDocumentHolder.jsx
  packages/cozy-procedures/src/components/documents/UploadInputLabel.jsx
  packages/cozy-procedures/src/locales/en.json
  packages/cozy-procedures/src/locales/fr.json
Owners: none

fix: A file can not have the lastModifiedInformation
  packages/cozy-procedures/src/components/documents/EmptyDocumentHolder.jsx
Owners: none

[skip ci] Publish
  packages/cozy-procedures/CHANGELOG.md
  packages/cozy-procedures/package.json
Owners: none

fix: A file can not have the lastModifiedInformation (#563)
  packages/cozy-procedures/src/components/documents/EmptyDocumentHolder.jsx
Owners: none

[skip ci] Publish
  packages/cozy-procedures/CHANGELOG.md
  packages/cozy-procedures/package.json
Owners: none

fix(doctypes): Add relationships to files in AdministrativeProcedure
  packages/cozy-doctypes/src/administrativeProcedures/AdministrativeProcedure.js
  packages/cozy-doctypes/src/administrativeProcedures/AdministrativeProcedure.spec.js
Owners: @ptbrowne, @kosssi

fix(doctypes): Add relationships to files in AdministrativeProcedure
  packages/cozy-doctypes/src/administrativeProcedures/AdministrativeProcedure.js
  packages/cozy-doctypes/src/administrativeProcedures/AdministrativeProcedure.spec.js
Owners: @ptbrowne, @kosssi

[skip ci] Publish
  packages/cozy-doctypes/CHANGELOG.md
  packages/cozy-doctypes/package.json
Owners: @ptbrowne, @kosssi

feat(procedures): Add counters for completed/total documents in Overview
  packages/cozy-procedures/src/components/Overview.jsx
  packages/cozy-procedures/src/containers/Overview.jsx
  packages/cozy-procedures/src/redux/documentsDataSlice.js
  packages/cozy-procedures/src/redux/documentsDataSlice.spec.js
Owners: none

fix(cozy-doctypes): Don't use class property
  packages/cozy-doctypes/src/File.js
Owners: @ptbrowne, @kosssi

feat(procedures): Add counters for completed/total documents in Overview
  packages/cozy-procedures/src/components/Overview.jsx
  packages/cozy-procedures/src/containers/Overview.jsx
  packages/cozy-procedures/src/redux/documentsDataSlice.js
  packages/cozy-procedures/src/redux/documentsDataSlice.spec.js
Owners: none

fix: Stop propagation onClick
  packages/cozy-procedures/src/components/documents/EmptyDocumentHolder.jsx
Owners: none

[skip ci] Publish
  packages/cozy-procedures/CHANGELOG.md
  packages/cozy-procedures/package.json
Owners: none

fix: Stop propagation onClick (#566)
  packages/cozy-procedures/src/components/documents/EmptyDocumentHolder.jsx
Owners: none

[skip ci] Publish
  packages/cozy-procedures/CHANGELOG.md
  packages/cozy-procedures/package.json
Owners: none

fix(cozy-doctypes): Don't use class property (#557)
  packages/cozy-doctypes/src/File.js
Owners: @ptbrowne, @kosssi

[skip ci] Publish
  packages/cozy-doctypes/CHANGELOG.md
  packages/cozy-doctypes/package.json
Owners: @ptbrowne, @kosssi

feat(harvest): Give callbacks to TriggerManager 📝
  packages/cozy-harvest-lib/src/components/KonnectorModal.jsx
  packages/cozy-harvest-lib/src/components/TriggerLauncher.jsx
  packages/cozy-harvest-lib/src/components/TriggerManager.jsx
  packages/cozy-harvest-lib/test/components/TriggerManager.spec.js
Owners: @gregorylegarec, @cpatchane

feat(harvest): Add prop to make LaunchTriggerCard submitting 📝
  packages/cozy-harvest-lib/src/components/KonnectorModal.jsx
  packages/cozy-harvest-lib/src/components/cards/LaunchTriggerCard.jsx
Owners: @gregorylegarec, @cpatchane

fix: Overflow on slider view
  packages/cozy-procedures/src/components/Duration.jsx
Owners: none

fix: Overflow on slider view
  packages/cozy-procedures/src/components/Duration.jsx
Owners: none

[skip ci] Publish
  packages/cozy-procedures/CHANGELOG.md
  packages/cozy-procedures/package.json
Owners: none

[skip ci] Publish
  packages/cozy-harvest-lib/CHANGELOG.md
  packages/cozy-harvest-lib/package.json
Owners: @gregorylegarec, @cpatchane

feat(harvest): Add a way to disable the DeleteButtonCard ✨
  packages/cozy-harvest-lib/src/components/KonnectorModal.jsx
  packages/cozy-harvest-lib/src/components/cards/DeleteAccountCard.jsx
Owners: @gregorylegarec, @cpatchane

refactor(harvest): Better error handling in KonnectorModal 🛠
  packages/cozy-harvest-lib/src/components/KonnectorModal.jsx
Owners: @gregorylegarec, @cpatchane

feat(havest): LaunchTriggerCard is now a component 📝
  packages/cozy-harvest-lib/src/components/cards/LaunchTriggerCard.jsx
Owners: @gregorylegarec, @cpatchane

feat(harvest): Do not render field as errored when disabled 📝
  packages/cozy-harvest-lib/src/components/AccountForm/AccountField.jsx
Owners: @gregorylegarec, @cpatchane

fix(procedures): Display an error and delete files if zip creation fails
  packages/cozy-procedures/src/components/Overview.jsx
  packages/cozy-procedures/src/locales/en.json
  packages/cozy-procedures/src/locales/fr.json
Owners: none

[skip ci] Publish
  packages/cozy-harvest-lib/CHANGELOG.md
  packages/cozy-harvest-lib/package.json
Owners: @gregorylegarec, @cpatchane

fix(procedures): Display an error and delete files if zip creation fails
  packages/cozy-procedures/src/components/Overview.jsx
  packages/cozy-procedures/src/locales/en.json
  packages/cozy-procedures/src/locales/fr.json
Owners: none

CODEOWNERS:

packages/cozy-device-helper @kosssi @ptbrowne
packages/cozy-flags @ptbrowne @cedricmessiant
packages/cozy-realtime @kosssi
packages/babel-preset-cozy-app @cpatchane @cedricmessiant
packages/eslint-config-cozy-app @cpatchane @cedricmessiant
packages/commitlint-config-cozy @kosssi @enguerran @cedricmessiant
packages/browserslist-config-cozy @cpatchane @Crash--
packages/cozy-app-publish @cpatchane @gregorylegarec @y-lohse
packages/cozy-ci-utils @y-lohse @cedricmessiant
packages/cozy-harvest-lib @gregorylegarec @cpatchane
packages/cozy-interapp @gregorylegarec @kosssi
packages/cozy-doctypes @ptbrowne @kosssi
packages/cozy-release @gregorylegarec @cpatchane @cedricmessiant
packages/renovate-config-cozy @ylohse @doubleface @kosssi
