Repository cozy/cozy-libs, changes with the owners that CODEOWNERS names for each.
All owners: @kosssi, @ptbrowne, @gregorylegarec, @cpatchane, @enguerran, @Crash--, @y-lohse, @doubleface

CODEOWNERS:

packages/cozy-device-helper @kosssi @ptbrowne
packages/cozy-flags @ptbrowne
packages/cozy-realtime @gregorylegarec @cpatchane
packages/babel-preset-cozy-app @cpatchane
packages/eslint-config-cozy-app @cpatchane
packages/commitlint-config-cozy @kosssi @enguerran
packages/browserslist-config-cozy @cpatchane @Crash--
packages/cozy-app-publish @cpatchane @gregorylegarec @y-lohse
packages/cozy-ci-utils @y-lohse
packages/cozy-harvest-lib @gregorylegarec @cpatchane
packages/cozy-interapp @gregorylegarec @kosssi
packages/cozy-doctypes @ptbrowne @kosssi
packages/cozy-release @gregorylegarec @cpatchane
packages/renovate-config-cozy @y-lohse @doubleface @kosssi

fix: Use correct attribute for autoFocus
  packages/cozy-authentication/src/steps/SelectServer.jsx
Owners: none

[skip ci] Publish
  packages/cozy-harvest-lib/CHANGELOG.md
  packages/cozy-harvest-lib/package.json
Owners: @gregorylegarec, @cpatchane

[skip ci] Publish
  packages/cozy-authentication/CHANGELOG.md
  packages/cozy-authentication/package.json
Owners: none

feat(auth): Should render custom components
  packages/cozy-authentication/src/Authentication.jsx
Owners: none

[skip ci] Publish
  packages/cozy-harvest-lib/CHANGELOG.md
  packages/cozy-harvest-lib/package.json
Owners: @gregorylegarec, @cpatchane

feat: Store flags in an object to avoid querying localStorage
  packages/cozy-flags/src/browser/flag.js
Owners: @ptbrowne

refactor: Extract list to be able to use it in a page
  packages/cozy-flags/src/browser/FlagSwitcher.jsx
Owners: @ptbrowne

feat: Flag hoc to connect to store
  packages/cozy-flags/package.json
  packages/cozy-flags/src/browser/flag.js
  packages/cozy-flags/src/tests.js
  yarn.lock
Owners: @ptbrowne

refactor(realtime): Remove init function
  packages/cozy-realtime/src/CozyRealtime.js
  packages/cozy-realtime/src/index.js
Owners: @gregorylegarec, @cpatchane

fix(realtime): Translate
  packages/cozy-realtime/src/CozyRealtime.js
Owners: @gregorylegarec, @cpatchane

fix(harvest): Initialize realtime with uri from CozyClient 🚑
  packages/cozy-harvest-lib/src/connections/triggers.js
Owners: @gregorylegarec, @cpatchane

chore: Lint
  packages/cozy-flags/src/browser/FlagSwitcher.jsx
Owners: @ptbrowne

[skip ci] Publish
  packages/cozy-authentication/CHANGELOG.md
  packages/cozy-authentication/package.json
  packages/cozy-flags/CHANGELOG.md
  packages/cozy-flags/package.json
  packages/cozy-harvest-lib/CHANGELOG.md
  packages/cozy-harvest-lib/package.json
Owners: @ptbrowne, @gregorylegarec, @cpatchane

feat(cozy-mjml): Start sharing MJML components
  packages/cozy-mjml/CHANGELOG.md
  packages/cozy-mjml/README.md
  packages/cozy-mjml/example.mjml
  packages/cozy-mjml/package.json
  packages/cozy-mjml/src/components/MJCozyTitle.js
  packages/cozy-mjml/src/components/index.js
  packages/cozy-mjml/src/index.js
  yarn.lock
Owners: none

feat(cozy-mjml): Build the whole cozy-mjml in single file
  packages/cozy-mjml/package.json
  packages/cozy-mjml/src/components/index.js
  packages/cozy-mjml/src/hacks/datauri-index.js
  packages/cozy-mjml/src/hacks/mimer-parser.js
  packages/cozy-mjml/src/hacks/uglify-node.js
  packages/cozy-mjml/webpack.config.js
  yarn.lock
Owners: none

chore(cozy-mjml): Add a test and improve the README
  packages/cozy-mjml/README.md
  packages/cozy-mjml/package.json
  packages/cozy-mjml/test/__snapshots__/components.spec.js.snap
  packages/cozy-mjml/test/components.spec.js
  yarn.lock
Owners: none

feat(cozy-mjml): Expose cozy-mjml as a mjml bin
  packages/cozy-mjml/package.json
  packages/cozy-mjml/src/components/MJCozyTitle.js
  packages/cozy-mjml/src/index.js
  packages/cozy-mjml/webpack.config.js
Owners: none

refactor(cozy-mjml): Make cozy-mjml more maintainable
  packages/cozy-mjml/package.json
  packages/cozy-mjml/src/components/MJCozyTitle.js
  packages/cozy-mjml/src/components/index.js
  packages/cozy-mjml/src/hacks/datauri-index.js
  packages/cozy-mjml/src/hacks/uglify-node.js
  packages/cozy-mjml/src/index.js
  packages/cozy-mjml/test/components.spec.js
  packages/cozy-mjml/webpack.config.js
  yarn.lock
Owners: none

[skip ci] Publish
  packages/cozy-mjml/CHANGELOG.md
  packages/cozy-mjml/package.json
Owners: none

chore: Use flags 1.6.0 --exact
  packages/cozy-authentication/package.json
Owners: none

[skip ci] Publish
  packages/cozy-authentication/CHANGELOG.md
  packages/cozy-authentication/package.json
Owners: none

chore(deps): update dependency enzyme-adapter-react-16 to v1.11.2
  packages/cozy-harvest-lib/package.json
  yarn.lock
Owners: @gregorylegarec, @cpatchane

[skip ci] Publish
  packages/cozy-harvest-lib/CHANGELOG.md
  packages/cozy-harvest-lib/package.json
Owners: @gregorylegarec, @cpatchane

feat(mjml): Add Cozy styles & custom components
  packages/cozy-mjml/README.md
  packages/cozy-mjml/layout.mjml
  packages/cozy-mjml/src/assets/images/appstore-en.png
  packages/cozy-mjml/src/assets/images/appstore-fr.png
  packages/cozy-mjml/src/assets/images/cozy-logo-monCozy.png
  packages/cozy-mjml/src/assets/images/cozy-logo-myCozy.png
  packages/cozy-mjml/src/assets/images/cozy-logo-round.png
  packages/cozy-mjml/src/assets/images/cozycloud.png
  packages/cozy-mjml/src/assets/images/desktop-en.png
  packages/cozy-mjml/src/assets/images/desktop-fr.png
  packages/cozy-mjml/src/assets/images/playstore-en.png
  packages/cozy-mjml/src/assets/images/playstore-fr.png
  packages/cozy-mjml/src/components/MJCozyTitle.js
  packages/cozy-mjml/src/components/MJFooter.js
  packages/cozy-mjml/src/components/MJHeader.js
  packages/cozy-mjml/src/components/index.js
Owners: none

fix(cozy-mjml): Fix tests
  packages/cozy-mjml/test/__snapshots__/components.spec.js.snap
Owners: none

refactor(text/mjml): Extract the i18n parts of the code
  packages/cozy-mjml/src/components/MJFooter.js
  packages/cozy-mjml/src/components/MJHeader.js
  packages/cozy-mjml/test/__snapshots__/components.spec.js.snap
Owners: none

feat(cozy-mjml): Run optipng on images to decrease their sizes
  packages/cozy-mjml/src/assets/images/appstore-en.png
  packages/cozy-mjml/src/assets/images/appstore-fr.png
  packages/cozy-mjml/src/assets/images/cozy-logo-monCozy.png
  packages/cozy-mjml/src/assets/images/cozy-logo-myCozy.png
  packages/cozy-mjml/src/assets/images/cozy-logo-round.png
  packages/cozy-mjml/src/assets/images/cozycloud.png
  packages/cozy-mjml/src/assets/images/desktop-en.png
  packages/cozy-mjml/src/assets/images/desktop-fr.png
  packages/cozy-mjml/src/assets/images/playstore-en.png
  packages/cozy-mjml/src/assets/images/playstore-fr.png
Owners: none

feat(cozy-mjml): Add a <mj-default /> component
  packages/cozy-mjml/README.md
  packages/cozy-mjml/example.mjml
  packages/cozy-mjml/layout.mjml
  packages/cozy-mjml/src/components/MJDefaults.js
  packages/cozy-mjml/src/components/index.js
Owners: none

fix: Do not use localStorage if not available
  packages/cozy-flags/src/browser/flag.js
Owners: @ptbrowne

[skip ci] Publish
  packages/cozy-mjml/CHANGELOG.md
  packages/cozy-mjml/package.json
Owners: none

feat(cozy-mjml): Use external URL for images in emails
  packages/cozy-mjml/src/components/MJFooter.js
  packages/cozy-mjml/src/components/MJHeader.js
  packages/cozy-mjml/test/__snapshots__/components.spec.js.snap
Owners: none

feat(cozy-mjml): Use external URL for images in emails (#365)
  packages/cozy-mjml/src/components/MJFooter.js
  packages/cozy-mjml/src/components/MJHeader.js
  packages/cozy-mjml/test/__snapshots__/components.spec.js.snap
Owners: none

[skip ci] Publish
  packages/cozy-mjml/CHANGELOG.md
  packages/cozy-mjml/package.json
Owners: none

fix(deps): Update cozy-ui to v19.21.0
  packages/cozy-harvest-lib/package.json
  packages/cozy-harvest-lib/test/components/__snapshots__/AccountField.spec.js.snap
  yarn.lock
Owners: @gregorylegarec, @cpatchane

feat(mjml): Add css classes for HTML elements
  packages/cozy-mjml/src/components/MJDefaults.js
Owners: none

fix(mjml): Fix CSS classes for HTML in mjml
  packages/cozy-mjml/src/components/MJDefaults.js
  packages/cozy-mjml/test/__snapshots__/components.spec.js.snap
Owners: none

[skip ci] Publish
  packages/cozy-mjml/CHANGELOG.md
  packages/cozy-mjml/package.json
Owners: none

[skip ci] Publish
  packages/cozy-harvest-lib/CHANGELOG.md
  packages/cozy-harvest-lib/package.json
Owners: @gregorylegarec, @cpatchane

fix(harvest): Ensure translated TriggerManager has context 📝
  packages/cozy-harvest-lib/src/index.js
Owners: @gregorylegarec, @cpatchane

fix(harvest): Handle keyup event from preact AND React 🚑
  packages/cozy-harvest-lib/src/components/AccountForm/index.jsx
Owners: @gregorylegarec, @cpatchane
