Repository cozy/cozy-libs, changes with the owners that CODEOWNERS names for each.
All owners: @kosssi, @ptbrowne, @cedricmessiant, @cpatchane, @enguerran, @Crash--, @gregorylegarec, @y-lohse, @ylohse, @doubleface

[skip ci] Publish
  packages/cozy-procedures/CHANGELOG.md
  packages/cozy-procedures/package.json
Owners: none

[skip ci] Publish
  packages/cozy-harvest-lib/CHANGELOG.md
  packages/cozy-harvest-lib/package.json
Owners: @gregorylegarec, @cpatchane

feat(harvest): Improve margin bottom in KonnectorModal 📝
  packages/cozy-harvest-lib/src/components/KonnectorModal.jsx
Owners: @gregorylegarec, @cpatchane

[skip ci] Publish
  packages/cozy-harvest-lib/CHANGELOG.md
  packages/cozy-harvest-lib/package.json
Owners: @gregorylegarec, @cpatchane

feat(harvest): Add LaunchTriggerCard ✨
  packages/cozy-harvest-lib/src/components/KonnectorModal.jsx
  packages/cozy-harvest-lib/src/components/cards/LaunchTriggerCard.jsx
  packages/cozy-harvest-lib/src/locales/en.json
  packages/cozy-harvest-lib/test/components/cards/LaunchTriggerCard.spec.js
  packages/cozy-harvest-lib/test/components/cards/__snapshots__/LaunchTriggerCard.spec.js.snap
Owners: @gregorylegarec, @cpatchane

fix(harvest): Make TriggerLauncher detects success again 🚑
  packages/cozy-harvest-lib/src/components/TriggerLauncher.jsx
  packages/cozy-harvest-lib/src/components/hoc/withKonnectorJob.jsx
  packages/cozy-harvest-lib/test/components/TriggerLauncher.spec.js
  packages/cozy-harvest-lib/test/components/__snapshots__/TriggerLauncher.spec.js.snap
Owners: @gregorylegarec, @cpatchane

docs(playgrounds): Fix ALLOW_HTTP example in README
  packages/playgrounds/README.md
Owners: none

docs(playgrounds): Fix ALLOW_HTTP example in README
  packages/playgrounds/README.md
Owners: none

feat: All basic routes
  packages/cozy-procedures/src/components/Amount.jsx
  packages/cozy-procedures/src/components/Documents.jsx
  packages/cozy-procedures/src/components/Duration.jsx
  packages/cozy-procedures/src/components/Overview.jsx
  packages/cozy-procedures/src/components/PersonalDataForm.jsx
  packages/cozy-procedures/src/components/Topbar.jsx
  packages/cozy-procedures/src/index.js
  packages/cozy-procedures/src/locales/en.json
Owners: none

feat: Add cozy-ui css in playground
  packages/playgrounds/src/procedures.jsx
Owners: none

feat: Responsive playground
  packages/playgrounds/src/procedures.html
Owners: none

refactor: Reorganized translations
  packages/cozy-procedures/src/components/Amount.jsx
  packages/cozy-procedures/src/components/Documents.jsx
  packages/cozy-procedures/src/components/Duration.jsx
  packages/cozy-procedures/src/components/PersonalDataForm.jsx
  packages/cozy-procedures/src/locales/en.json
  packages/cozy-procedures/src/locales/fr.json
  packages/cozy-procedures/src/templates/creditApplicationTemplate.js
Owners: none

fix: Removed demo component
  packages/cozy-procedures/src/components/OtherComp.jsx
Owners: none

fix: Better topbar UI
  packages/cozy-procedures/src/components/Topbar.jsx
Owners: none

feat: Better overview UI
  packages/cozy-procedures/src/components/Overview.jsx
Owners: none

fix: Linting
  packages/cozy-procedures/src/components/Overview.jsx
Owners: none

fix: Added missing proptypes
  packages/cozy-procedures/src/components/Amount.jsx
  packages/cozy-procedures/src/components/Duration.jsx
Owners: none

feat: Basic documents view
  packages/cozy-procedures/src/components/Documents.jsx
  packages/cozy-procedures/src/components/documents/DocumentHolder.jsx
  packages/cozy-procedures/src/components/documents/EmptyDocumentHolder.jsx
  packages/cozy-procedures/src/components/documents/LoadingDocumentHolder.jsx
  packages/cozy-procedures/src/locales/en.json
  packages/cozy-procedures/src/locales/fr.json
Owners: none

fix: Ghost style for document placeholder
  packages/cozy-procedures/src/components/documents/EmptyDocumentHolder.jsx
Owners: none

feat: Upgrade cozy-ui
  packages/cozy-procedures/package.json
  packages/playgrounds/package.json
  yarn.lock
Owners: none

feat: Better overview screen
  packages/cozy-procedures/src/components/Overview.jsx
  packages/cozy-procedures/src/locales/en.json
  packages/cozy-procedures/src/locales/fr.json
Owners: none

fix: Translation issues
  packages/cozy-procedures/src/components/Overview.jsx
  packages/cozy-procedures/src/components/PersonalDataForm.jsx
  packages/cozy-procedures/src/locales/en.json
  packages/cozy-procedures/src/locales/fr.json
Owners: none

fix: Translation issues
  packages/cozy-procedures/src/components/Overview.jsx
  packages/cozy-procedures/src/components/PersonalDataForm.jsx
  packages/cozy-procedures/src/locales/en.json
  packages/cozy-procedures/src/locales/fr.json
Owners: none

feat: Better overview screen
  packages/cozy-procedures/src/components/Overview.jsx
  packages/cozy-procedures/src/locales/en.json
  packages/cozy-procedures/src/locales/fr.json
Owners: none

feat: Basic documents view
  packages/cozy-procedures/src/components/Documents.jsx
  packages/cozy-procedures/src/components/documents/DocumentHolder.jsx
  packages/cozy-procedures/src/components/documents/EmptyDocumentHolder.jsx
  packages/cozy-procedures/src/components/documents/LoadingDocumentHolder.jsx
  packages/cozy-procedures/src/locales/en.json
  packages/cozy-procedures/src/locales/fr.json
Owners: none

feat: Better overview UI
  packages/cozy-procedures/src/components/Overview.jsx
Owners: none

feat: Add cozy-ui css in playground
  packages/playgrounds/src/procedures.jsx
Owners: none

fix: Removed demo component
  packages/cozy-procedures/src/components/OtherComp.jsx
Owners: none

fix: Linting
  packages/cozy-procedures/src/components/Overview.jsx
Owners: none

feat: Upgrade cozy-ui
  packages/cozy-procedures/package.json
  packages/playgrounds/package.json
  yarn.lock
Owners: none

feat: Responsive playground
  packages/playgrounds/src/procedures.html
Owners: none

feat: All basic routes
  packages/cozy-procedures/src/components/Amount.jsx
  packages/cozy-procedures/src/components/Documents.jsx
  packages/cozy-procedures/src/components/Duration.jsx
  packages/cozy-procedures/src/components/Overview.jsx
  packages/cozy-procedures/src/components/PersonalDataForm.jsx
  packages/cozy-procedures/src/components/Topbar.jsx
  packages/cozy-procedures/src/index.js
  packages/cozy-procedures/src/locales/en.json
Owners: none

fix: Added missing proptypes
  packages/cozy-procedures/src/components/Amount.jsx
  packages/cozy-procedures/src/components/Duration.jsx
Owners: none

fix: Better topbar UI
  packages/cozy-procedures/src/components/Topbar.jsx
Owners: none

fix: Ghost style for document placeholder
  packages/cozy-procedures/src/components/documents/EmptyDocumentHolder.jsx
Owners: none

refactor: Reorganized translations
  packages/cozy-procedures/src/components/Amount.jsx
  packages/cozy-procedures/src/components/Documents.jsx
  packages/cozy-procedures/src/components/Duration.jsx
  packages/cozy-procedures/src/components/PersonalDataForm.jsx
  packages/cozy-procedures/src/locales/en.json
  packages/cozy-procedures/src/locales/fr.json
  packages/cozy-procedures/src/templates/creditApplicationTemplate.js
Owners: none

[skip ci] Publish
  packages/cozy-procedures/CHANGELOG.md
  packages/cozy-procedures/package.json
Owners: none

feat(doctypes): Add getPrimaryPhone and getPersonalData on Contact #WIP
  packages/cozy-doctypes/src/contacts/Contact.js
  packages/cozy-doctypes/src/contacts/Contact.spec.js
Owners: @ptbrowne, @kosssi

feat(playgrounds): Add io.cozy.contacts to client's scope
  packages/playgrounds/src/common/client.js
Owners: none

fix(harvest): :bug: Omit also i18n props from withLocales
  packages/cozy-harvest-lib/src/components/DeleteAccountButton.jsx
Owners: @gregorylegarec, @cpatchane

CODEOWNERS:

packages/cozy-device-helper @kosssi @ptbrowne
packages/cozy-flags @ptbrowne @cedricmessiant
packages/cozy-realtime @kosssi
packages/babel-preset-cozy-app @cpatchane @cedricmessiant
packages/eslint-config-cozy-app @cpatchane @cedricmessiant
packages/commitlint-config-cozy @kosssi @enguerran @cedricmessiant
packages/browserslist-config-cozy @cpatchane @Crash--
packages/cozy-app-publish @cpatchane @gregorylegarec @y-lohse
packages/cozy-ci-utils @y-lohse @cedricmessiant
packages/cozy-harvest-lib @gregorylegarec @cpatchane
packages/cozy-interapp @gregorylegarec @kosssi
packages/cozy-doctypes @ptbrowne @kosssi
packages/cozy-release @gregorylegarec @cpatchane @cedricmessiant
packages/renovate-config-cozy @ylohse @doubleface @kosssi
