Repository cozy/cozy-libs, changes with the owners that CODEOWNERS names for each.
All owners: @trollepierre, @acezard, @doubleface, @Ldoppea, @Merkur39, @JF-Cozy, @PolariTOON

fix: Open file action
  packages/cozy-mespapiers-lib/src/components/Actions/Items/open.js
Owners: @Merkur39, @JF-Cozy, @PolariTOON

fix: Open file action
  packages/cozy-mespapiers-lib/src/components/Actions/Items/open.js
Owners: @Merkur39, @JF-Cozy, @PolariTOON

feat: Add SearchResultLine component
  packages/cozy-mespapiers-lib/src/components/SearchResult/SearchResultLine.jsx
Owners: @Merkur39, @JF-Cozy, @PolariTOON

feat: Build of actions for the SearchResultLine component
  packages/cozy-mespapiers-lib/src/components/SearchResult/SearchResult.jsx
Owners: @Merkur39, @JF-Cozy, @PolariTOON

[skip ci] Publish
  packages/cozy-mespapiers-lib/CHANGELOG.md
  packages/cozy-mespapiers-lib/package.json
Owners: @Merkur39, @JF-Cozy, @PolariTOON

docs: Update documentation
  packages/cozy-mespapiers-lib/README.md
  packages/cozy-mespapiers-lib/docs/papersDefinitions.md
Owners: @Merkur39, @JF-Cozy, @PolariTOON

docs: Update documentation
  packages/cozy-mespapiers-lib/README.md
  packages/cozy-mespapiers-lib/docs/papersDefinitions.md
Owners: @Merkur39, @JF-Cozy, @PolariTOON

[skip ci] Publish
  packages/cozy-mespapiers-lib/CHANGELOG.md
  packages/cozy-mespapiers-lib/package.json
Owners: @Merkur39, @JF-Cozy, @PolariTOON

fix: Use bookmark if present
  packages/cozy-doctypes/src/Document.js
Owners: @doubleface, @trollepierre

feat(mespapiers-lib): Add a helper for renaming a file
  packages/cozy-mespapiers-lib/src/components/Papers/Renaming/helpers.js
  packages/cozy-mespapiers-lib/src/locales/en.json
  packages/cozy-mespapiers-lib/src/locales/fr.json
Owners: @Merkur39, @JF-Cozy, @PolariTOON

feat(mespapiers-lib): Show the input instead of the name when renaming
  packages/cozy-mespapiers-lib/src/components/Papers/PaperItem.jsx
  packages/cozy-mespapiers-lib/src/components/Papers/PaperLine.jsx
  packages/cozy-mespapiers-lib/src/components/SearchResult/SearchResultLine.jsx
Owners: @Merkur39, @JF-Cozy, @PolariTOON

feat(mespapiers-lib): Add a component to rename a paper
  packages/cozy-mespapiers-lib/src/components/Papers/Renaming/RenameInput.jsx
  packages/cozy-mespapiers-lib/src/constants/const.js
  packages/cozy-mespapiers-lib/src/locales/en.json
  packages/cozy-mespapiers-lib/src/locales/fr.json
Owners: @Merkur39, @JF-Cozy, @PolariTOON

feat(mespapiers-lib): Add the "Rename" action to paper context menus
  packages/cozy-mespapiers-lib/src/components/Papers/PapersList.jsx
  packages/cozy-mespapiers-lib/src/components/SearchResult/SearchResult.jsx
Owners: @Merkur39, @JF-Cozy, @PolariTOON

feat(mespapiers-lib): Define a "Rename" action
  packages/cozy-mespapiers-lib/src/components/Actions/Items/rename.js
Owners: @Merkur39, @JF-Cozy, @PolariTOON

docs: Add doc about the "mask" attribute
  packages/cozy-mespapiers-lib/docs/papersDefinitions.md
Owners: @Merkur39, @JF-Cozy, @PolariTOON

feat: Add minLength constraint to InputMask
  packages/cozy-mespapiers-lib/src/utils/input.js
  packages/cozy-mespapiers-lib/src/utils/input.spec.js
Owners: @Merkur39, @JF-Cozy, @PolariTOON

feat(mespapiers-lib): Allow to search papers by owner
  packages/cozy-mespapiers-lib/src/components/Home/Home.jsx
  packages/cozy-mespapiers-lib/src/components/Home/helpers.js
Owners: @Merkur39, @JF-Cozy, @PolariTOON

fix(mespapiers-lib): Update the placeholder in the search field
  packages/cozy-mespapiers-lib/src/locales/en.json
  packages/cozy-mespapiers-lib/src/locales/fr.json
Owners: @Merkur39, @JF-Cozy, @PolariTOON

feat(mespapiers-lib): Show the input instead of the name when renaming
  packages/cozy-mespapiers-lib/src/components/Papers/PaperItem.jsx
  packages/cozy-mespapiers-lib/src/components/Papers/PaperLine.jsx
  packages/cozy-mespapiers-lib/src/components/SearchResult/SearchResultLine.jsx
Owners: @Merkur39, @JF-Cozy, @PolariTOON

feat(mespapiers-lib): Define a "Rename" action
  packages/cozy-mespapiers-lib/src/components/Actions/Items/rename.js
Owners: @Merkur39, @JF-Cozy, @PolariTOON

feat(mespapiers-lib): Add the "Rename" action to paper context menus
  packages/cozy-mespapiers-lib/src/components/Papers/PapersList.jsx
  packages/cozy-mespapiers-lib/src/components/SearchResult/SearchResult.jsx
Owners: @Merkur39, @JF-Cozy, @PolariTOON

feat(mespapiers-lib): Add a helper for renaming a file
  packages/cozy-mespapiers-lib/src/components/Papers/Renaming/helpers.js
  packages/cozy-mespapiers-lib/src/locales/en.json
  packages/cozy-mespapiers-lib/src/locales/fr.json
Owners: @Merkur39, @JF-Cozy, @PolariTOON

feat(mespapiers-lib): Add a component to rename a paper
  packages/cozy-mespapiers-lib/src/components/Papers/Renaming/RenameInput.jsx
  packages/cozy-mespapiers-lib/src/constants/const.js
  packages/cozy-mespapiers-lib/src/locales/en.json
  packages/cozy-mespapiers-lib/src/locales/fr.json
Owners: @Merkur39, @JF-Cozy, @PolariTOON

docs: Add doc about the "mask" attribute
  packages/cozy-mespapiers-lib/docs/papersDefinitions.md
Owners: @Merkur39, @JF-Cozy, @PolariTOON

feat: Add minLength constraint to InputMask
  packages/cozy-mespapiers-lib/src/utils/input.js
  packages/cozy-mespapiers-lib/src/utils/input.spec.js
Owners: @Merkur39, @JF-Cozy, @PolariTOON

[skip ci] Publish
  packages/cozy-mespapiers-lib/CHANGELOG.md
  packages/cozy-mespapiers-lib/package.json
Owners: @Merkur39, @JF-Cozy, @PolariTOON

test(mespapiers-lib): Fix tests for search and add a new one on owners
  packages/cozy-mespapiers-lib/src/components/Home/helpers.spec.js
Owners: @Merkur39, @JF-Cozy, @PolariTOON

test(mespapiers-lib): Fix tests for search and add a new one on owners
  packages/cozy-mespapiers-lib/src/components/Home/helpers.spec.js
Owners: @Merkur39, @JF-Cozy, @PolariTOON

feat(mespapiers-lib): Allow to search papers by owner
  packages/cozy-mespapiers-lib/src/components/Home/Home.jsx
  packages/cozy-mespapiers-lib/src/components/Home/helpers.js
Owners: @Merkur39, @JF-Cozy, @PolariTOON

fix(mespapiers-lib): Update the placeholder in the search field
  packages/cozy-mespapiers-lib/src/locales/en.json
  packages/cozy-mespapiers-lib/src/locales/fr.json
Owners: @Merkur39, @JF-Cozy, @PolariTOON

[skip ci] Publish
  packages/cozy-mespapiers-lib/CHANGELOG.md
  packages/cozy-mespapiers-lib/package.json
Owners: @Merkur39, @JF-Cozy, @PolariTOON

feat: Use BI account creation webview to handle accounts synchonization
  packages/cozy-harvest-lib/src/components/KonnectorConfiguration/ConfigurationTab/BIContractActivationWindow.spec.jsx
  packages/cozy-harvest-lib/src/components/KonnectorConfiguration/ConfigurationTab/BiContractActivationWindow.jsx
  packages/cozy-harvest-lib/src/services/biWebView.js
  packages/cozy-harvest-lib/src/services/biWebView.spec.js
Owners: @doubleface, @trollepierre

feat: Handle cas with multiple bank ids
  packages/cozy-harvest-lib/src/services/biWebView.js
  packages/cozy-harvest-lib/src/services/biWebView.spec.js
Owners: @doubleface, @trollepierre

feat: Detect reconnect explicitely
  packages/cozy-harvest-lib/src/components/OAuthForm.jsx
  packages/cozy-harvest-lib/src/components/OAuthForm.spec.js
  packages/cozy-harvest-lib/src/services/biWebView.js
  packages/cozy-harvest-lib/src/services/biWebView.spec.js
Owners: @doubleface, @trollepierre

[skip ci] Publish
  packages/cozy-harvest-lib/CHANGELOG.md
  packages/cozy-harvest-lib/package.json
  packages/cozy-mespapiers-lib/CHANGELOG.md
  packages/cozy-mespapiers-lib/package.json
Owners: @doubleface, @trollepierre, @Merkur39, @JF-Cozy, @PolariTOON

fix: RefreshContracts now updates contracts in realtime
  packages/cozy-harvest-lib/src/components/KonnectorConfiguration/ConfigurationTab/BiContractActivationWindow.jsx
  packages/cozy-harvest-lib/src/services/biWebView.js
  packages/cozy-harvest-lib/src/services/biWebView.spec.js
Owners: @doubleface, @trollepierre

[skip ci] Publish
  packages/cozy-harvest-lib/CHANGELOG.md
  packages/cozy-harvest-lib/package.json
  packages/cozy-mespapiers-lib/CHANGELOG.md
  packages/cozy-mespapiers-lib/package.json
Owners: @doubleface, @trollepierre, @Merkur39, @JF-Cozy, @PolariTOON

chore: Let's see what turbo can do
  package.json
  turbo.json
  yarn.lock
Owners: @trollepierre, @acezard

chore: Private is a bool
  package.json
Owners: @trollepierre, @acezard

fix: Rename build job
  .travis.yml
Owners: @trollepierre, @acezard

CODEOWNERS:

# General code owners
*       @trollepierre @acezard

# Based on the Paper of the Technical maintainers of 2022
packages/cozy-harvest-lib            @doubleface @trollepierre
packages/cozy-doctypes/              @doubleface @trollepierre
packages/cozy-flags/                 @acezard @trollepierre @Ldoppea
packages/cozy-app-publish/           @acezard @doubleface @trollepierre
packages/cozy-interapp/              @Ldoppea @acezard @trollepierre
packages/cozy-intent/                @Ldoppea @acezard
packages/cozy-realtime/              @Ldoppea @trollepierre
packages/eslint-config-cozy-app/     @acezard @trollepierre
packages/renovate-config-cozy/       @doubleface @trollepierre
packages/renovate-config-cozy-libs/  @doubleface @trollepierre
packages/cozy-sharing/               @Ldoppea @acezard @trollepierre
packages/cozy-mespapiers-lib/        @Merkur39 @JF-Cozy @PolariTOON
