Repository cozy/cozy-libs, changes with the owners that CODEOWNERS names for each.
All owners: @acezard, @doubleface, @Merkur39, @JF-Cozy, @Ldoppea

feat(harvest): LaunchTriggerAlert show "disconnected" when expected
  packages/cozy-harvest-lib/src/components/cards/LaunchTriggerAlert.jsx
  packages/cozy-harvest-lib/src/components/cards/helpers.js
  packages/cozy-harvest-lib/src/components/cards/helpers.spec.js
  packages/cozy-harvest-lib/src/locales/en.json
  packages/cozy-harvest-lib/src/locales/fr.json
Owners: @doubleface, @Merkur39, @JF-Cozy

fix(harvest): LaunchTriggerAlert wasn't showing connector icon when
  packages/cozy-harvest-lib/src/components/cards/LaunchTriggerAlert.jsx
Owners: @doubleface, @Merkur39, @JF-Cozy

feat(harvest): LaunchTriggerAlert show disconnected content
  packages/cozy-harvest-lib/src/components/cards/LaunchTriggerAlert.jsx
  packages/cozy-harvest-lib/src/components/cards/LaunchTriggerAlertMenu.jsx
  packages/cozy-harvest-lib/src/components/cards/LaunchTriggerCard.jsx
  packages/cozy-harvest-lib/src/components/cards/helpers.js
  packages/cozy-harvest-lib/src/helpers/konnectors.js
  packages/cozy-harvest-lib/src/locales/en.json
  packages/cozy-harvest-lib/src/locales/fr.json
Owners: @doubleface, @Merkur39, @JF-Cozy

refactor(harvest): Modify arg of makeLabel helper in LaunchTriggerAlert
  packages/cozy-harvest-lib/src/components/cards/LaunchTriggerAlert.jsx
  packages/cozy-harvest-lib/src/components/cards/helpers.js
  packages/cozy-harvest-lib/src/components/cards/helpers.spec.js
Owners: @doubleface, @Merkur39, @JF-Cozy

fix(harvest): Routes for /config with LaunchTriggerAlert was incorrect
  packages/cozy-harvest-lib/src/components/Routes/RoutesV4.jsx
  packages/cozy-harvest-lib/src/components/cards/LaunchTriggerAlertMenu.jsx
Owners: @doubleface, @Merkur39, @JF-Cozy

[skip ci] Publish
  packages/cozy-harvest-lib/CHANGELOG.md
  packages/cozy-harvest-lib/package.json
  packages/cozy-mespapiers-lib/CHANGELOG.md
  packages/cozy-mespapiers-lib/package.json
Owners: @doubleface, @Merkur39, @JF-Cozy

refactor(mespapiers): Extract ConnectorItem into HarvestBanner file
  packages/cozy-mespapiers-lib/src/components/Papers/HarvestBanner.jsx
  packages/cozy-mespapiers-lib/src/components/Papers/PapersList.jsx
Owners: @Merkur39, @JF-Cozy

feat(mespapiers): Upgrade cozy-harvest-lib to 13.0.0 and cozy-ui 80.2.1
  packages/cozy-mespapiers-lib/package.json
  yarn.lock
Owners: @Merkur39, @JF-Cozy, @acezard

feat(mespapiers): Use identifier and accounts to get trigger instead of
  packages/cozy-mespapiers-lib/src/components/Papers/HarvestBanner.jsx
  packages/cozy-mespapiers-lib/src/doctypes/index.js
  packages/cozy-mespapiers-lib/src/helpers/queries.js
Owners: @Merkur39, @JF-Cozy

fix(mespapiers): HarvestBanner wasn't showing connector if disconnected
  packages/cozy-mespapiers-lib/src/components/Papers/HarvestBanner.jsx
  packages/cozy-mespapiers-lib/src/helpers/queries.js
Owners: @Merkur39, @JF-Cozy

feat(mespapiers): Use identifier and accounts to get trigger instead of
  packages/cozy-mespapiers-lib/src/components/Papers/HarvestBanner.jsx
  packages/cozy-mespapiers-lib/src/doctypes/index.js
  packages/cozy-mespapiers-lib/src/helpers/queries.js
Owners: @Merkur39, @JF-Cozy

refactor(mespapiers): Extract ConnectorItem into HarvestBanner file
  packages/cozy-mespapiers-lib/src/components/Papers/HarvestBanner.jsx
  packages/cozy-mespapiers-lib/src/components/Papers/PapersList.jsx
Owners: @Merkur39, @JF-Cozy

fix(mespapiers): HarvestBanner wasn't showing connector if disconnected
  packages/cozy-mespapiers-lib/src/components/Papers/HarvestBanner.jsx
  packages/cozy-mespapiers-lib/src/helpers/queries.js
Owners: @Merkur39, @JF-Cozy

feat(mespapiers): Upgrade cozy-harvest-lib to 13.0.0 and cozy-ui 80.2.1
  packages/cozy-mespapiers-lib/package.json
  yarn.lock
Owners: @Merkur39, @JF-Cozy, @acezard

fix(harvest-lib): Redirection when close EditAccountModal
  packages/cozy-harvest-lib/src/components/EditAccountModal.jsx
Owners: @doubleface, @Merkur39, @JF-Cozy

CODEOWNERS:

# General code owners
*       @acezard

# Based on the Paper of the Technical maintainers of 2022
packages/cozy-harvest-lib            @doubleface @Merkur39 @JF-Cozy
packages/cozy-doctypes/              @doubleface
packages/cozy-flags/                 @acezard @Ldoppea
packages/cozy-app-publish/           @acezard @doubleface
packages/cozy-interapp/              @Ldoppea @acezard
packages/cozy-intent/                @Ldoppea @acezard
packages/cozy-realtime/              @Ldoppea
packages/eslint-config-cozy-app/     @acezard
packages/renovate-config-cozy/       @doubleface
packages/renovate-config-cozy-libs/  @doubleface
packages/cozy-sharing/               @Ldoppea @acezard
packages/cozy-mespapiers-lib/        @Merkur39 @JF-Cozy
