Repository cozy/cozy-libs, changes with the owners that CODEOWNERS names for each.
All owners: @kosssi, @ptbrowne, @cedricmessiant, @cpatchane, @enguerran, @Crash--, @gregorylegarec, @y-lohse, @ylohse, @doubleface

[skip ci] Publish
  packages/cozy-harvest-lib/CHANGELOG.md
  packages/cozy-harvest-lib/package.json
Owners: @gregorylegarec, @cpatchane

fix: Pinned dep
  package.json
  packages/commitlint-config-cozy/package.json
  packages/cozy-authentication/package.json
  packages/cozy-device-helper/package.json
  packages/cozy-doctypes/package.json
  packages/cozy-flags/package.json
  packages/cozy-harvest-lib/package.json
  packages/cozy-interapp/package.json
  packages/playgrounds/package.json
Owners: @kosssi, @enguerran, @cedricmessiant, @ptbrowne, @gregorylegarec, @cpatchane

chore: Upgrade Yarn to 1.16.0
  .travis.yml
Owners: none

chore: Use the new yarn
  .travis.yml
Owners: none

chore: Upgrade Yarn to 1.16.0 (#486)
  .travis.yml
Owners: none

style(harvest): Reorder locales file 🎨
  packages/cozy-harvest-lib/src/locales/en.json
Owners: @gregorylegarec, @cpatchane

style(harvest): Rename HOCs directory 📝
  packages/cozy-harvest-lib/src/components/TriggerLauncher.jsx
  packages/cozy-harvest-lib/src/components/hoc/withKonnectorJob.jsx
Owners: @gregorylegarec, @cpatchane

feat(harvest): Prepare Popup component 📝
  packages/cozy-harvest-lib/src/components/Popup.jsx
  packages/cozy-harvest-lib/test/components/Popup.spec.js
  packages/cozy-harvest-lib/test/components/__snapshots__/Popup.spec.js.snap
Owners: @gregorylegarec, @cpatchane

feat(harvest): Prepare OAuth helper 📝
  packages/cozy-harvest-lib/src/helpers/oauth.js
  packages/cozy-harvest-lib/src/index.js
  packages/cozy-harvest-lib/test/helpers/oauth.spec.js
Owners: @gregorylegarec, @cpatchane

feat(harvest): Prepare prepareOAuth function in helper 📝
  packages/cozy-harvest-lib/package.json
  packages/cozy-harvest-lib/src/helpers/konnectors.js
  packages/cozy-harvest-lib/src/helpers/oauth.js
  packages/cozy-harvest-lib/test/helpers/konnectors.spec.js
Owners: @gregorylegarec, @cpatchane

feat(harvest): Prepare terminateOAuth function in helper 📝
  packages/cozy-harvest-lib/src/helpers/oauth.js
Owners: @gregorylegarec, @cpatchane

feat(harvest): Prepare checkOAuth function in helper 📝
  packages/cozy-harvest-lib/src/helpers/oauth.js
Owners: @gregorylegarec, @cpatchane

feat(harvest): Prepare OAuthWindow component 📝
  packages/cozy-harvest-lib/src/components/OAuthWindow.jsx
  packages/cozy-harvest-lib/src/locales/en.json
Owners: @gregorylegarec, @cpatchane

feat(harvest): Update OAuthForm, move it into TriggerManager ✨
  packages/cozy-harvest-lib/src/components/AccountForm/index.jsx
  packages/cozy-harvest-lib/src/components/OAuthForm.jsx
  packages/cozy-harvest-lib/src/components/TriggerManager.jsx
  packages/cozy-harvest-lib/test/components/AccountForm.spec.js
  packages/cozy-harvest-lib/test/components/OAuthForm.spec.js
  packages/cozy-harvest-lib/test/components/TriggerManager.spec.js
  packages/cozy-harvest-lib/test/components/__snapshots__/AccountForm.spec.js.snap
  packages/cozy-harvest-lib/test/components/__snapshots__/OAuthForm.spec.js.snap
  packages/cozy-harvest-lib/test/components/__snapshots__/TriggerManager.spec.js.snap
Owners: @gregorylegarec, @cpatchane

fix(harvest): NeedsFolderPath should also check folders attribute 📝
  packages/cozy-harvest-lib/src/helpers/konnectors.js
Owners: @gregorylegarec, @cpatchane

feat(harvest): Make OAuthWindow and Popup mobile-compatible ✨
  packages/cozy-harvest-lib/src/components/OAuthWindow.jsx
  packages/cozy-harvest-lib/src/components/Popup.jsx
  packages/cozy-harvest-lib/src/helpers/oauth.js
  packages/cozy-harvest-lib/test/components/Popup.spec.js
  packages/cozy-harvest-lib/test/helpers/oauth.spec.js
Owners: @gregorylegarec, @cpatchane

fix(harvest): LoadStart on Android is not dispatched when redirected
  packages/cozy-harvest-lib/src/components/OAuthWindow.jsx
Owners: @gregorylegarec, @cpatchane

[skip ci] Publish
  packages/cozy-harvest-lib/CHANGELOG.md
  packages/cozy-harvest-lib/package.json
Owners: @gregorylegarec, @cpatchane

chore: Update lerna
  package.json
  yarn.lock
Owners: none

chore: Publish a GitHub release through lerna
  lerna.json
Owners: none

fix: Ignore changes of playgrounds
  lerna.json
Owners: none

feat: Add codemod for flags accessible via "cozy-flags apply"
  packages/cozy-flags/bin/cozy-flags
  packages/cozy-flags/package.json
  packages/cozy-flags/src/flag-codemod.js
Owners: @ptbrowne, @cedricmessiant

feat: Remove unused imports after removing flags
  packages/cozy-flags/src/flag-codemod.js
Owners: @ptbrowne, @cedricmessiant

[skip ci] Publish
  packages/cozy-flags/CHANGELOG.md
  packages/cozy-flags/package.json
Owners: @ptbrowne, @cedricmessiant

feat(harvest): Add DeleteAccountCard component ✨
  packages/cozy-harvest-lib/src/components/KonnectorModal.jsx
  packages/cozy-harvest-lib/src/components/cards/DeleteAccountCard.jsx
  packages/cozy-harvest-lib/src/locales/en.json
  packages/cozy-harvest-lib/test/components/cards/DeleteAccountCard.spec.js
  packages/cozy-harvest-lib/test/components/cards/__snapshots__/DeleteAccountCard.spec.js.snap
Owners: @gregorylegarec, @cpatchane

chore(harvest): Update dependency cozy-ui to v20.14.0 ⬆️
  packages/cozy-harvest-lib/package.json
  yarn.lock
Owners: @gregorylegarec, @cpatchane

[skip ci] Publish
  packages/cozy-harvest-lib/CHANGELOG.md
  packages/cozy-harvest-lib/package.json
Owners: @gregorylegarec, @cpatchane

fix(cozy-mjml): Fsevents as an external
  packages/cozy-mjml/webpack.config.js
Owners: none

fix(cozy-mjml): Fsevents as an external (#493)
  packages/cozy-mjml/webpack.config.js
Owners: none

[skip ci] Publish
  packages/cozy-mjml/CHANGELOG.md
  packages/cozy-mjml/package.json
Owners: none

fix(cozy-authentication): Test if ALLOW_HTTP is defined
  packages/cozy-authentication/src/steps/SelectServer.jsx
Owners: none

docs(playground): Add note about http/https
  packages/playgrounds/README.md
Owners: none

docs(playground): Add note about http/https (#492)
  packages/cozy-authentication/src/steps/SelectServer.jsx
  packages/playgrounds/README.md
Owners: none

[skip ci] Publish
  packages/cozy-authentication/CHANGELOG.md
  packages/cozy-authentication/package.json
  packages/playgrounds/CHANGELOG.md
  packages/playgrounds/package.json
Owners: none

fix(harvest): Rely on messageEvent.source for OAuth message 📝
  packages/cozy-harvest-lib/src/components/Popup.jsx
Owners: @gregorylegarec, @cpatchane

[skip ci] Publish
  packages/cozy-harvest-lib/CHANGELOG.md
  packages/cozy-harvest-lib/package.json
Owners: @gregorylegarec, @cpatchane

feat(harvest): Make HandleOAuthResponse return boolean value ✨
  packages/cozy-harvest-lib/src/helpers/oauth.js
  packages/cozy-harvest-lib/test/helpers/oauth.spec.js
Owners: @gregorylegarec, @cpatchane

feat(harvest): Trigger build including recent translations, second try ⚙
  packages/cozy-harvest-lib/README.md
Owners: @gregorylegarec, @cpatchane

[skip ci] Publish
  packages/cozy-harvest-lib/CHANGELOG.md
  packages/cozy-harvest-lib/package.json
Owners: @gregorylegarec, @cpatchane

feat(harvest): Import tranpiled Cozy-UI components ⚙
  packages/cozy-harvest-lib/src/components/AccountForm/AccountField.jsx
  packages/cozy-harvest-lib/src/components/AccountForm/Error.jsx
  packages/cozy-harvest-lib/src/components/AccountForm/index.jsx
  packages/cozy-harvest-lib/src/components/DeleteAccountButton.jsx
  packages/cozy-harvest-lib/src/components/KonnectorModal.jsx
  packages/cozy-harvest-lib/src/components/OAuthForm.jsx
  packages/cozy-harvest-lib/src/components/OAuthWindow.jsx
  packages/cozy-harvest-lib/src/components/TwoFAForm/index.jsx
  packages/cozy-harvest-lib/src/components/TwoFAModal.jsx
  packages/cozy-harvest-lib/src/components/cards/DeleteAccountCard.jsx
  packages/cozy-harvest-lib/test/components/TwoFAForm.spec.js
  packages/cozy-harvest-lib/test/components/__snapshots__/AccountField.spec.js.snap
Owners: @gregorylegarec, @cpatchane

CODEOWNERS:

packages/cozy-device-helper @kosssi @ptbrowne
packages/cozy-flags @ptbrowne @cedricmessiant
packages/cozy-realtime @kosssi
packages/babel-preset-cozy-app @cpatchane @cedricmessiant
packages/eslint-config-cozy-app @cpatchane @cedricmessiant
packages/commitlint-config-cozy @kosssi @enguerran @cedricmessiant
packages/browserslist-config-cozy @cpatchane @Crash--
packages/cozy-app-publish @cpatchane @gregorylegarec @y-lohse
packages/cozy-ci-utils @y-lohse @cedricmessiant
packages/cozy-harvest-lib @gregorylegarec @cpatchane
packages/cozy-interapp @gregorylegarec @kosssi
packages/cozy-doctypes @ptbrowne @kosssi
packages/cozy-release @gregorylegarec @cpatchane @cedricmessiant
packages/renovate-config-cozy @ylohse @doubleface @kosssi
