Repository cozy/cozy-libs, changes with the owners that CODEOWNERS names for each.
All owners: @trollepierre, @acezard, @doubleface, @Ldoppea, @Merkur39, @JF-Cozy, @PolariTOON

feat: Update methods interface for biometry
  packages/cozy-intent/src/api/models/methods.ts
  packages/cozy-intent/src/api/services/NativeService.ts
  packages/cozy-intent/src/api/services/WebviewService.ts
Owners: @Ldoppea, @acezard

feat: Update FlagshipMetadata interface
  packages/cozy-device-helper/src/flagship.ts
Owners: @trollepierre, @acezard

[skip ci] Publish
  packages/cozy-authentication/CHANGELOG.md
  packages/cozy-authentication/package.json
  packages/cozy-device-helper/CHANGELOG.md
  packages/cozy-device-helper/package.json
  packages/cozy-harvest-lib/CHANGELOG.md
  packages/cozy-harvest-lib/package.json
  packages/cozy-mespapiers-lib/CHANGELOG.md
  packages/cozy-mespapiers-lib/package.json
  packages/cozy-realtime/CHANGELOG.md
  packages/cozy-realtime/package.json
  packages/cozy-scanner/CHANGELOG.md
  packages/cozy-scanner/package.json
  packages/cozy-sharing/CHANGELOG.md
  packages/cozy-sharing/package.json
  packages/playgrounds/CHANGELOG.md
  packages/playgrounds/package.json
Owners: @trollepierre, @acezard, @doubleface, @Merkur39, @JF-Cozy, @PolariTOON, @Ldoppea

fix: Open oauth window for oauth connectors
  packages/cozy-harvest-lib/src/components/OAuthForm.jsx
Owners: @doubleface, @trollepierre

fix: Open oauth window for oauth connectors
  packages/cozy-harvest-lib/src/components/OAuthForm.jsx
Owners: @doubleface, @trollepierre

[skip ci] Publish
  packages/cozy-harvest-lib/CHANGELOG.md
  packages/cozy-harvest-lib/package.json
  packages/cozy-mespapiers-lib/CHANGELOG.md
  packages/cozy-mespapiers-lib/package.json
Owners: @doubleface, @trollepierre, @Merkur39, @JF-Cozy, @PolariTOON

feat: Update methods interface for biometry
  packages/cozy-intent/src/api/models/methods.ts
  packages/cozy-intent/src/api/services/NativeService.ts
  packages/cozy-intent/src/api/services/WebviewService.ts
Owners: @Ldoppea, @acezard

[skip ci] Publish
  packages/cozy-harvest-lib/CHANGELOG.md
  packages/cozy-harvest-lib/package.json
  packages/cozy-intent/CHANGELOG.md
  packages/cozy-intent/package.json
  packages/cozy-mespapiers-lib/CHANGELOG.md
  packages/cozy-mespapiers-lib/package.json
Owners: @doubleface, @trollepierre, @Ldoppea, @acezard, @Merkur39, @JF-Cozy, @PolariTOON

fix: Hide BIContractActivationWindow begin the bi webview flag
  packages/cozy-harvest-lib/src/components/KonnectorConfiguration/ConfigurationTab/Contracts.jsx
Owners: @doubleface, @trollepierre

test: Remove useless tests
  packages/cozy-mespapiers-lib/src/components/AppRouter.spec.jsx
  packages/cozy-mespapiers-lib/src/components/OnboardedGuardedRoute.spec.jsx
  packages/cozy-mespapiers-lib/src/components/Papers/PaperItem.spec.jsx
Owners: @Merkur39, @JF-Cozy, @PolariTOON

fix: Hide BIContractActivationWindow begin the bi webview flag
  packages/cozy-harvest-lib/src/components/KonnectorConfiguration/ConfigurationTab/Contracts.jsx
Owners: @doubleface, @trollepierre

[skip ci] Publish
  packages/cozy-harvest-lib/CHANGELOG.md
  packages/cozy-harvest-lib/package.json
  packages/cozy-mespapiers-lib/CHANGELOG.md
  packages/cozy-mespapiers-lib/package.json
Owners: @doubleface, @trollepierre, @Merkur39, @JF-Cozy, @PolariTOON

feat: Add new extend for TS files in lint conf
  packages/eslint-config-cozy-app/react.js
Owners: @acezard, @trollepierre

feat: Add new extend for TS files in lint conf
  packages/eslint-config-cozy-app/react.js
Owners: @acezard, @trollepierre

[skip ci] Publish
  packages/cozy-codemods/CHANGELOG.md
  packages/cozy-codemods/package.json
  packages/eslint-config-cozy-app/CHANGELOG.md
  packages/eslint-config-cozy-app/package.json
Owners: @trollepierre, @acezard

feat: Update FlagshipMetadata interface
  packages/cozy-device-helper/src/flagship.ts
Owners: @trollepierre, @acezard

feat: Update FlagshipMetadata interface
  packages/cozy-device-helper/src/flagship.ts
Owners: @trollepierre, @acezard

feat(cozy-intent): Update cozy-settings switch API
  packages/cozy-intent/src/api/models/methods.ts
Owners: @Ldoppea, @acezard

[skip ci] Publish
  packages/cozy-authentication/CHANGELOG.md
  packages/cozy-authentication/package.json
  packages/cozy-device-helper/CHANGELOG.md
  packages/cozy-device-helper/package.json
  packages/cozy-harvest-lib/CHANGELOG.md
  packages/cozy-harvest-lib/package.json
  packages/cozy-mespapiers-lib/CHANGELOG.md
  packages/cozy-mespapiers-lib/package.json
  packages/cozy-realtime/CHANGELOG.md
  packages/cozy-realtime/package.json
  packages/cozy-scanner/CHANGELOG.md
  packages/cozy-scanner/package.json
  packages/cozy-sharing/CHANGELOG.md
  packages/cozy-sharing/package.json
  packages/playgrounds/CHANGELOG.md
  packages/playgrounds/package.json
Owners: @trollepierre, @acezard, @doubleface, @Merkur39, @JF-Cozy, @PolariTOON, @Ldoppea

feat(cozy-intent): Update cozy-settings switch API
  packages/cozy-intent/src/api/models/methods.ts
Owners: @Ldoppea, @acezard

[skip ci] Publish
  packages/cozy-harvest-lib/CHANGELOG.md
  packages/cozy-harvest-lib/package.json
  packages/cozy-intent/CHANGELOG.md
  packages/cozy-intent/package.json
  packages/cozy-mespapiers-lib/CHANGELOG.md
  packages/cozy-mespapiers-lib/package.json
Owners: @doubleface, @trollepierre, @Ldoppea, @acezard, @Merkur39, @JF-Cozy, @PolariTOON

fix: Add missing intentsApi prop in DumbEditAccountModal
  packages/cozy-harvest-lib/src/components/EditAccountModal.jsx
Owners: @doubleface, @trollepierre

fix: FilterButton proptypes
  packages/cozy-mespapiers-lib/src/components/Home/FilterButton.jsx
Owners: @Merkur39, @JF-Cozy, @PolariTOON

refactor: Best approach to manage data waiting
  packages/cozy-mespapiers-lib/src/components/Viewer/FileViewerWithQuery.jsx
Owners: @Merkur39, @JF-Cozy, @PolariTOON

fix: Pass only the necessary props on PaperFab component
  packages/cozy-mespapiers-lib/src/components/PapersFab/PapersFab.jsx
Owners: @Merkur39, @JF-Cozy, @PolariTOON

feat: Upgrade react-router-dom to 6.3.0
  packages/cozy-mespapiers-lib/package.json
  yarn.lock
Owners: @Merkur39, @JF-Cozy, @PolariTOON, @trollepierre, @acezard

test: Remove useless tests
  packages/cozy-mespapiers-lib/src/components/AppRouter.spec.jsx
  packages/cozy-mespapiers-lib/src/components/OnboardedGuardedRoute.spec.jsx
  packages/cozy-mespapiers-lib/src/components/Papers/PaperItem.spec.jsx
Owners: @Merkur39, @JF-Cozy, @PolariTOON

refactor: Apply BC of react-router-dom 6
  packages/cozy-mespapiers-lib/src/components/Actions/Items/createPaper.js
  packages/cozy-mespapiers-lib/src/components/Actions/Items/open.js
  packages/cozy-mespapiers-lib/src/components/Actions/Items/select.js
  packages/cozy-mespapiers-lib/src/components/AppRouter.jsx
  packages/cozy-mespapiers-lib/src/components/Home/HomeToolbar.jsx
  packages/cozy-mespapiers-lib/src/components/Multiselect/MultiselectPaperList.jsx
  packages/cozy-mespapiers-lib/src/components/Multiselect/MultiselectView.jsx
  packages/cozy-mespapiers-lib/src/components/OnboardedGuardedRoute.jsx
  packages/cozy-mespapiers-lib/src/components/Papers/PaperGroup.jsx
  packages/cozy-mespapiers-lib/src/components/Papers/PaperItem.jsx
  packages/cozy-mespapiers-lib/src/components/Papers/PapersListWrapper.jsx
  packages/cozy-mespapiers-lib/src/components/Placeholders/FeaturedPlaceholdersList.jsx
  packages/cozy-mespapiers-lib/src/components/Placeholders/PlaceholderListModal/PlaceholderListModal.jsx
  packages/cozy-mespapiers-lib/src/components/Placeholders/PlaceholderListModal/PlaceholdersList.jsx
  packages/cozy-mespapiers-lib/src/components/StepperDialog/CreatePaperModal.jsx
  packages/cozy-mespapiers-lib/src/components/Viewer/FileViewerWithQuery.jsx
  packages/cozy-mespapiers-lib/src/components/Viewer/SelectFileButton.jsx
Owners: @Merkur39, @JF-Cozy, @PolariTOON

[skip ci] Publish
  packages/cozy-mespapiers-lib/CHANGELOG.md
  packages/cozy-mespapiers-lib/package.json
Owners: @Merkur39, @JF-Cozy, @PolariTOON

fix: Add missing intentsApi prop in DumbEditAccountModal
  packages/cozy-harvest-lib/src/components/EditAccountModal.jsx
Owners: @doubleface, @trollepierre

[skip ci] Publish
  packages/cozy-harvest-lib/CHANGELOG.md
  packages/cozy-harvest-lib/package.json
  packages/cozy-mespapiers-lib/CHANGELOG.md
  packages/cozy-mespapiers-lib/package.json
Owners: @doubleface, @trollepierre, @Merkur39, @JF-Cozy, @PolariTOON

feat(mespapiers): Add stylus configuration
  packages/cozy-mespapiers-lib/README.md
  packages/cozy-mespapiers-lib/babel.config.js
  packages/cozy-mespapiers-lib/preprocess.js
Owners: @Merkur39, @JF-Cozy, @PolariTOON

feat(mespapiers): Add stylus configuration
  packages/cozy-mespapiers-lib/README.md
  packages/cozy-mespapiers-lib/babel.config.js
  packages/cozy-mespapiers-lib/preprocess.js
Owners: @Merkur39, @JF-Cozy, @PolariTOON

[skip ci] Publish
  packages/cozy-mespapiers-lib/CHANGELOG.md
  packages/cozy-mespapiers-lib/package.json
Owners: @Merkur39, @JF-Cozy, @PolariTOON

feat(mespapiers): Update cozy-ui to 74.7.0
  packages/cozy-mespapiers-lib/package.json
  yarn.lock
Owners: @Merkur39, @JF-Cozy, @PolariTOON, @trollepierre, @acezard

feat(mespapiers): Add PageEditWrapper component
  packages/cozy-mespapiers-lib/src/components/ModelSteps/Edit/PageEdit/index.jsx
Owners: @Merkur39, @JF-Cozy, @PolariTOON

refactor(mespapiers): Rename getInputsInformationStep helper
  packages/cozy-mespapiers-lib/src/components/ModelSteps/Edit/InformationEditWrapper.jsx
  packages/cozy-mespapiers-lib/src/components/ModelSteps/Information.jsx
  packages/cozy-mespapiers-lib/src/helpers/makeInputsInformationStep.js
  packages/cozy-mespapiers-lib/src/helpers/makeInputsInformationStep.spec.js
Owners: @Merkur39, @JF-Cozy, @PolariTOON

feat(mespapiers): Add two routes for edit file attributes
  packages/cozy-mespapiers-lib/src/components/AppRouter.jsx
Owners: @Merkur39, @JF-Cozy, @PolariTOON

feat(mespapiers): Add helper to manage which input to display
  packages/cozy-mespapiers-lib/src/helpers/getInputsInformationStep.js
  packages/cozy-mespapiers-lib/src/helpers/getInputsInformationStep.spec.js
Owners: @Merkur39, @JF-Cozy, @PolariTOON

refactor(mespapiers): Use of paths rather than history to navigate
  packages/cozy-mespapiers-lib/src/components/Papers/PaperItem.jsx
  packages/cozy-mespapiers-lib/src/components/Placeholders/PlaceholderListModal/PlaceholdersList.jsx
  packages/cozy-mespapiers-lib/src/components/StepperDialog/CreatePaperModal.jsx
  packages/cozy-mespapiers-lib/src/components/Viewer/FileViewerWithQuery.jsx
Owners: @Merkur39, @JF-Cozy, @PolariTOON

CODEOWNERS:

# General code owners
*       @trollepierre @acezard

# Based on the Paper of the Technical maintainers of 2022
packages/cozy-harvest-lib            @doubleface @trollepierre
packages/cozy-doctypes/              @doubleface @trollepierre
packages/cozy-flags/                 @acezard @trollepierre @Ldoppea
packages/cozy-app-publish/           @acezard @doubleface @trollepierre
packages/cozy-interapp/              @Ldoppea @acezard @trollepierre
packages/cozy-intent/                @Ldoppea @acezard
packages/cozy-realtime/              @Ldoppea @trollepierre
packages/eslint-config-cozy-app/     @acezard @trollepierre
packages/renovate-config-cozy/       @doubleface @trollepierre
packages/renovate-config-cozy-libs/  @doubleface @trollepierre
packages/cozy-sharing/               @Ldoppea @acezard @trollepierre
packages/cozy-mespapiers-lib/        @Merkur39 @JF-Cozy @PolariTOON
