Repository cozy/cozy-libs, changes with the owners that CODEOWNERS names for each.
All owners: @kosssi, @ptbrowne, @cedricmessiant, @cpatchane, @enguerran, @Crash--, @gregorylegarec, @y-lohse, @ylohse, @doubleface

[skip ci] Publish
  packages/cozy-harvest-lib/CHANGELOG.md
  packages/cozy-harvest-lib/package.json
Owners: @gregorylegarec, @cpatchane

fix: :pencil2: Missing spread
  packages/cozy-harvest-lib/src/components/DeleteAccountButton.jsx
Owners: @gregorylegarec, @cpatchane

[skip ci] Publish
  packages/cozy-harvest-lib/CHANGELOG.md
  packages/cozy-harvest-lib/package.json
Owners: @gregorylegarec, @cpatchane

feat(procedures): Populate personalData slice with "myself" contact
  packages/cozy-procedures/src/Procedure.jsx
  packages/cozy-procedures/src/components/Overview.jsx
  packages/cozy-procedures/src/containers/PersonalDataForm.jsx
  packages/cozy-procedures/src/redux/personalDataSlice.js
  packages/cozy-procedures/src/redux/personalDataSlice.spec.js
Owners: none

refactor(procedures): Move Procedure container and App to distinct files
  packages/cozy-procedures/src/App.jsx
  packages/cozy-procedures/src/Procedure.jsx
  packages/cozy-procedures/src/containers/Procedure.jsx
  packages/cozy-procedures/src/index.js
Owners: none

refactor(procedures): Add getData selector
  packages/cozy-procedures/src/containers/PersonalDataForm.jsx
  packages/cozy-procedures/src/redux/personalDataSlice.js
Owners: none

[skip ci] Publish
  packages/cozy-harvest-lib/CHANGELOG.md
  packages/cozy-harvest-lib/package.json
Owners: @gregorylegarec, @cpatchane

fix: Dont redirect to root after refresh
  packages/playgrounds/src/common/App.jsx
Owners: none

[skip ci] Publish
  packages/cozy-harvest-lib/CHANGELOG.md
  packages/cozy-harvest-lib/package.json
Owners: @gregorylegarec, @cpatchane

feat(doctypes): Add AdministrativeProcedure model
  packages/cozy-doctypes/src/administrativeProcedures/AdministrativeProcedure.js
  packages/cozy-doctypes/src/administrativeProcedures/AdministrativeProcedure.spec.js
  packages/cozy-doctypes/src/contacts/Contact.js
  packages/cozy-doctypes/src/contacts/Contact.spec.js
  packages/cozy-doctypes/src/index.js
Owners: @ptbrowne, @kosssi

refactor(procedures): Use AdministrativeProcedure model
  packages/cozy-procedures/src/redux/personalDataSlice.js
Owners: none

feat(doctypes): Add getPrimaryAddress to Contact model
  packages/cozy-doctypes/src/contacts/Contact.js
  packages/cozy-doctypes/src/contacts/Contact.spec.js
Owners: @ptbrowne, @kosssi

chore(procedures): Remove trailing commas in json
  packages/cozy-procedures/src/locales/en.json
  packages/cozy-procedures/src/locales/fr.json
Owners: none

fix(procedures): Confirm button label in personal data form
  packages/cozy-procedures/src/components/PersonalDataForm.jsx
Owners: none

docs(doctypes): Use Contact type for contact objects
  packages/cozy-doctypes/src/contacts/Contact.js
Owners: @ptbrowne, @kosssi

feat(doctypes): Add address to personal data mapping
  packages/cozy-doctypes/src/administrativeProcedures/AdministrativeProcedure.js
  packages/cozy-doctypes/src/administrativeProcedures/AdministrativeProcedure.spec.js
Owners: @ptbrowne, @kosssi

test(procedures): Add test for fetchMyself
  packages/cozy-procedures/src/redux/personalDataSlice.spec.js
Owners: none

fix(procedures): Use field type to set default value
  packages/cozy-procedures/src/redux/personalDataSlice.js
  packages/cozy-procedures/src/redux/personalDataSlice.spec.js
Owners: none

feat(procedures): Populate personalData slice with "myself" contact
  packages/cozy-procedures/src/Procedure.jsx
  packages/cozy-procedures/src/components/Overview.jsx
  packages/cozy-procedures/src/containers/PersonalDataForm.jsx
  packages/cozy-procedures/src/redux/personalDataSlice.js
  packages/cozy-procedures/src/redux/personalDataSlice.spec.js
Owners: none

refactor(procedures): Use AdministrativeProcedure model
  packages/cozy-procedures/src/redux/personalDataSlice.js
Owners: none

fix(procedures): Confirm button label in personal data form
  packages/cozy-procedures/src/components/PersonalDataForm.jsx
Owners: none

docs(doctypes): Use Contact type for contact objects
  packages/cozy-doctypes/src/contacts/Contact.js
Owners: @ptbrowne, @kosssi

refactor(procedures): Add getData selector
  packages/cozy-procedures/src/containers/PersonalDataForm.jsx
  packages/cozy-procedures/src/redux/personalDataSlice.js
Owners: none

feat(doctypes): Add AdministrativeProcedure model
  packages/cozy-doctypes/src/administrativeProcedures/AdministrativeProcedure.js
  packages/cozy-doctypes/src/administrativeProcedures/AdministrativeProcedure.spec.js
  packages/cozy-doctypes/src/contacts/Contact.js
  packages/cozy-doctypes/src/contacts/Contact.spec.js
  packages/cozy-doctypes/src/index.js
Owners: @ptbrowne, @kosssi

test(procedures): Add test for fetchMyself
  packages/cozy-procedures/src/redux/personalDataSlice.spec.js
Owners: none

fix(procedures): Use field type to set default value
  packages/cozy-procedures/src/redux/personalDataSlice.js
  packages/cozy-procedures/src/redux/personalDataSlice.spec.js
Owners: none

feat(doctypes): Add address to personal data mapping
  packages/cozy-doctypes/src/administrativeProcedures/AdministrativeProcedure.js
  packages/cozy-doctypes/src/administrativeProcedures/AdministrativeProcedure.spec.js
Owners: @ptbrowne, @kosssi

chore(procedures): Remove trailing commas in json
  packages/cozy-procedures/src/locales/en.json
  packages/cozy-procedures/src/locales/fr.json
Owners: none

refactor(procedures): Move Procedure container and App to distinct files
  packages/cozy-procedures/src/App.jsx
  packages/cozy-procedures/src/Procedure.jsx
  packages/cozy-procedures/src/containers/Procedure.jsx
  packages/cozy-procedures/src/index.js
Owners: none

feat(playgrounds): Add io.cozy.contacts to client's scope
  packages/playgrounds/src/common/client.js
Owners: none

feat(doctypes): Add getPrimaryAddress to Contact model
  packages/cozy-doctypes/src/contacts/Contact.js
  packages/cozy-doctypes/src/contacts/Contact.spec.js
Owners: @ptbrowne, @kosssi

feat(doctypes): Add getPrimaryPhone and getPersonalData on Contact #WIP
  packages/cozy-doctypes/src/contacts/Contact.js
  packages/cozy-doctypes/src/contacts/Contact.spec.js
Owners: @ptbrowne, @kosssi

[skip ci] Publish
  packages/cozy-doctypes/CHANGELOG.md
  packages/cozy-doctypes/package.json
  packages/cozy-procedures/CHANGELOG.md
  packages/cozy-procedures/package.json
Owners: @ptbrowne, @kosssi

feat(harvest): Fetch job right after subscribing realtime 📝
  packages/cozy-harvest-lib/package.json
  packages/cozy-harvest-lib/src/models/konnector/KonnectorJobWatcher.js
  yarn.lock
Owners: @gregorylegarec, @cpatchane

fix: More accurate empty document button
  packages/cozy-procedures/src/components/documents/EmptyDocumentHolder.jsx
Owners: none

feat: Documents fields based on template
  packages/cozy-procedures/src/components/Documents.jsx
  packages/cozy-procedures/src/locales/en.json
  packages/cozy-procedures/src/locales/fr.json
Owners: none

fix: Accurate document holder colors
  packages/cozy-procedures/src/components/Documents.jsx
  packages/cozy-procedures/src/components/documents/DocumentHolder.jsx
  packages/cozy-procedures/src/components/documents/LoadingDocumentHolder.jsx
Owners: none

[skip ci] Publish
  packages/cozy-harvest-lib/CHANGELOG.md
  packages/cozy-harvest-lib/package.json
Owners: @gregorylegarec, @cpatchane

fix: Playground dependencies
  packages/playgrounds/package.json
Owners: none

fix: Remove custom margins on personnal data form
  packages/cozy-procedures/src/components/PersonalDataForm.jsx
Owners: none

CODEOWNERS:

packages/cozy-device-helper @kosssi @ptbrowne
packages/cozy-flags @ptbrowne @cedricmessiant
packages/cozy-realtime @kosssi
packages/babel-preset-cozy-app @cpatchane @cedricmessiant
packages/eslint-config-cozy-app @cpatchane @cedricmessiant
packages/commitlint-config-cozy @kosssi @enguerran @cedricmessiant
packages/browserslist-config-cozy @cpatchane @Crash--
packages/cozy-app-publish @cpatchane @gregorylegarec @y-lohse
packages/cozy-ci-utils @y-lohse @cedricmessiant
packages/cozy-harvest-lib @gregorylegarec @cpatchane
packages/cozy-interapp @gregorylegarec @kosssi
packages/cozy-doctypes @ptbrowne @kosssi
packages/cozy-release @gregorylegarec @cpatchane @cedricmessiant
packages/renovate-config-cozy @ylohse @doubleface @kosssi
