Repository cozy/cozy-libs, changes with the owners that CODEOWNERS names for each.
All owners: @kosssi, @ptbrowne, @cedricmessiant, @cpatchane, @enguerran, @Crash--, @gregorylegarec, @y-lohse, @ylohse, @doubleface

CODEOWNERS:

packages/cozy-device-helper @kosssi @ptbrowne
packages/cozy-flags @ptbrowne @cedricmessiant
packages/cozy-realtime @kosssi
packages/babel-preset-cozy-app @cpatchane @cedricmessiant
packages/eslint-config-cozy-app @cpatchane @cedricmessiant
packages/commitlint-config-cozy @kosssi @enguerran @cedricmessiant
packages/browserslist-config-cozy @cpatchane @Crash--
packages/cozy-app-publish @cpatchane @gregorylegarec @y-lohse
packages/cozy-ci-utils @y-lohse @cedricmessiant
packages/cozy-harvest-lib @gregorylegarec @cpatchane
packages/cozy-interapp @gregorylegarec @kosssi
packages/cozy-doctypes @ptbrowne @kosssi
packages/cozy-release @gregorylegarec @cpatchane @cedricmessiant
packages/renovate-config-cozy @ylohse @doubleface @kosssi

feat(procedure): Redux Store for Documents
  packages/cozy-doctypes/src/File.js
  packages/cozy-procedures/src/Procedure.jsx
  packages/cozy-procedures/src/components/OtherComp.jsx
  packages/cozy-procedures/src/containers/DocumentsDataForm.jsx
  packages/cozy-procedures/src/containers/Procedure.jsx
  packages/cozy-procedures/src/index.js
  packages/cozy-procedures/src/redux/documentsDataSlice.js
  packages/cozy-procedures/src/redux/documentsSlice.js
  packages/cozy-procedures/src/redux/rootReducer.js
Owners: @ptbrowne, @kosssi

feat: Add splitFilename to CozyFile
  packages/cozy-doctypes/src/File.js
  packages/cozy-doctypes/src/File.spec.js
Owners: @ptbrowne, @kosssi

feat: Tmp fetch files
  packages/cozy-procedures/src/Procedure.jsx
  packages/cozy-procedures/src/components/Documents.jsx
  packages/cozy-procedures/src/components/documents/DocumentHolder.jsx
  packages/cozy-procedures/src/components/documents/DocumentsHolder.jsx
  packages/cozy-procedures/src/containers/DocumentsDataForm.jsx
  packages/cozy-procedures/src/index.js
  packages/cozy-procedures/src/redux/documentsDataSlice.js
Owners: none

feat: Add getFilesByRules
  packages/cozy-doctypes/src/administrativeProcedures/AdministrativeProcedure.js
Owners: @ptbrowne, @kosssi

refactor: Use a model to populate our data
  packages/cozy-doctypes/src/administrativeProcedures/AdministrativeProcedure.js
  packages/cozy-doctypes/src/administrativeProcedures/AdministrativeProcedure.spec.js
  packages/cozy-procedures/src/Procedure.jsx
  packages/cozy-procedures/src/components/Documents.jsx
  packages/cozy-procedures/src/redux/documentsDataSlice.js
Owners: @ptbrowne, @kosssi

refactor: Rm unsued function
  packages/cozy-procedures/src/redux/documentsDataSlice.js
Owners: none

refactor: Use DocumentsGroups
  packages/cozy-procedures/src/components/Documents.jsx
  packages/cozy-procedures/src/components/documents/DocumentsGroups.jsx
  packages/cozy-procedures/src/components/documents/DocumentsHolder.jsx
Owners: none

feat: Render children after initiated
  packages/cozy-procedures/src/Procedure.jsx
  packages/cozy-procedures/src/containers/Procedure.jsx
  packages/cozy-procedures/src/redux/documentsDataSlice.js
Owners: none

chore: Add a few propTypes
  packages/cozy-doctypes/src/administrativeProcedures/AdministrativeProcedure.js
  packages/cozy-procedures/src/Procedure.jsx
  packages/cozy-procedures/src/components/Documents.jsx
  packages/cozy-procedures/src/components/documents/DocumentsGroups.jsx
  packages/cozy-procedures/src/redux/documentsDataSlice.js
Owners: @ptbrowne, @kosssi

feat: Unlink a file
  packages/cozy-procedures/src/components/Documents.jsx
  packages/cozy-procedures/src/components/documents/DocumentHolder.jsx
  packages/cozy-procedures/src/components/documents/DocumentsGroups.jsx
  packages/cozy-procedures/src/containers/DocumentsDataForm.jsx
  packages/cozy-procedures/src/redux/documentsDataSlice.js
Owners: none

feat: Upload Doc
  packages/cozy-procedures/src/components/Documents.jsx
  packages/cozy-procedures/src/components/documents/DocumentsGroups.jsx
  packages/cozy-procedures/src/components/documents/EmptyDocumentHolder.jsx
  packages/cozy-procedures/src/containers/DocumentsDataForm.jsx
  packages/cozy-procedures/src/redux/documentsDataSlice.js
Owners: none

feat: Upgrade cozy-client to use metaData
  packages/playgrounds/package.json
  yarn.lock
Owners: none

docs(harvest): Add comment about error type in AccountForm 📝
  packages/cozy-harvest-lib/src/components/AccountForm/index.jsx
Owners: @gregorylegarec, @cpatchane

[skip ci] Publish
  packages/cozy-harvest-lib/CHANGELOG.md
  packages/cozy-harvest-lib/package.json
Owners: @gregorylegarec, @cpatchane

fix: Topbar back button
  packages/cozy-procedures/src/components/Topbar.jsx
  packages/cozy-procedures/src/locales/en.json
  packages/cozy-procedures/src/locales/fr.json
Owners: none

fix: Remove conditions on mime and class ATM
  packages/cozy-procedures/src/templates/creditApplicationTemplate.js
Owners: none

fix: Remove conditions on mime and class ATM (#547)
  packages/cozy-procedures/src/templates/creditApplicationTemplate.js
Owners: none

[skip ci] Publish
  packages/cozy-procedures/CHANGELOG.md
  packages/cozy-procedures/package.json
Owners: none

fix: Import path for procedures
  packages/cozy-procedures/src/Procedure.jsx
  packages/cozy-procedures/src/components/Amount.jsx
  packages/cozy-procedures/src/components/Documents.jsx
  packages/cozy-procedures/src/components/Duration.jsx
  packages/cozy-procedures/src/components/Overview.jsx
  packages/cozy-procedures/src/components/PersonalDataForm.jsx
  packages/cozy-procedures/src/index.js
Owners: none

fix: Copy files after build
  packages/cozy-procedures/package.json
Owners: none

[skip ci] Publish
  packages/cozy-procedures/CHANGELOG.md
  packages/cozy-procedures/package.json
Owners: none

fix: Import path for procedures
  packages/cozy-procedures/src/Procedure.jsx
  packages/cozy-procedures/src/components/Amount.jsx
  packages/cozy-procedures/src/components/Documents.jsx
  packages/cozy-procedures/src/components/Duration.jsx
  packages/cozy-procedures/src/components/Overview.jsx
  packages/cozy-procedures/src/components/PersonalDataForm.jsx
  packages/cozy-procedures/src/index.js
Owners: none

[skip ci] Publish
  packages/cozy-procedures/CHANGELOG.md
  packages/cozy-procedures/package.json
Owners: none

fix: --copy-files instead of yarn run copy-files
  packages/cozy-procedures/package.json
Owners: none

feat(playground): Add files access
  packages/cozy-doctypes/src/File.js
  packages/cozy-procedures/src/components/OtherComp.jsx
  packages/cozy-procedures/src/containers/DocumentsDataForm.jsx
  packages/cozy-procedures/src/index.js
  packages/playgrounds/src/common/client.js
Owners: @ptbrowne, @kosssi

feat(procedure): Redux Store for Documents
  packages/cozy-doctypes/src/File.js
  packages/cozy-procedures/src/Procedure.jsx
  packages/cozy-procedures/src/components/OtherComp.jsx
  packages/cozy-procedures/src/containers/DocumentsDataForm.jsx
  packages/cozy-procedures/src/containers/Procedure.jsx
  packages/cozy-procedures/src/index.js
  packages/cozy-procedures/src/redux/documentsDataSlice.js
  packages/cozy-procedures/src/redux/documentsSlice.js
  packages/cozy-procedures/src/redux/rootReducer.js
Owners: @ptbrowne, @kosssi

feat: Add splitFilename to CozyFile
  packages/cozy-doctypes/src/File.js
  packages/cozy-doctypes/src/File.spec.js
Owners: @ptbrowne, @kosssi

feat: Add getFilesByRules
  packages/cozy-doctypes/src/administrativeProcedures/AdministrativeProcedure.js
Owners: @ptbrowne, @kosssi

feat: Tmp fetch files
  packages/cozy-procedures/src/Procedure.jsx
  packages/cozy-procedures/src/components/Documents.jsx
  packages/cozy-procedures/src/components/documents/DocumentHolder.jsx
  packages/cozy-procedures/src/components/documents/DocumentsHolder.jsx
  packages/cozy-procedures/src/containers/DocumentsDataForm.jsx
  packages/cozy-procedures/src/index.js
  packages/cozy-procedures/src/redux/documentsDataSlice.js
Owners: none

refactor: Rm unsued function
  packages/cozy-procedures/src/redux/documentsDataSlice.js
Owners: none

refactor: Use a model to populate our data
  packages/cozy-doctypes/src/administrativeProcedures/AdministrativeProcedure.js
  packages/cozy-doctypes/src/administrativeProcedures/AdministrativeProcedure.spec.js
  packages/cozy-procedures/src/Procedure.jsx
  packages/cozy-procedures/src/components/Documents.jsx
  packages/cozy-procedures/src/redux/documentsDataSlice.js
Owners: @ptbrowne, @kosssi

feat: Render children after initiated
  packages/cozy-procedures/src/Procedure.jsx
  packages/cozy-procedures/src/containers/Procedure.jsx
  packages/cozy-procedures/src/redux/documentsDataSlice.js
Owners: none

refactor: Use DocumentsGroups
  packages/cozy-procedures/src/components/Documents.jsx
  packages/cozy-procedures/src/components/documents/DocumentsGroups.jsx
  packages/cozy-procedures/src/components/documents/DocumentsHolder.jsx
Owners: none

chore: Add a few propTypes
  packages/cozy-doctypes/src/administrativeProcedures/AdministrativeProcedure.js
  packages/cozy-procedures/src/Procedure.jsx
  packages/cozy-procedures/src/components/Documents.jsx
  packages/cozy-procedures/src/components/documents/DocumentsGroups.jsx
  packages/cozy-procedures/src/redux/documentsDataSlice.js
Owners: @ptbrowne, @kosssi

fix: First round of review
  packages/cozy-doctypes/src/administrativeProcedures/AdministrativeProcedure.js
  packages/cozy-procedures/src/Procedure.jsx
  packages/cozy-procedures/src/components/Documents.jsx
  packages/cozy-procedures/src/components/documents/DocumentsGroup.jsx
  packages/cozy-procedures/src/containers/Procedure.jsx
  packages/cozy-procedures/src/redux/documentsDataSlice.js
Owners: @ptbrowne, @kosssi

fix: Move the logic to the component instead of Model
  packages/cozy-doctypes/src/administrativeProcedures/AdministrativeProcedure.js
  packages/cozy-doctypes/src/administrativeProcedures/AdministrativeProcedure.spec.js
  packages/cozy-procedures/src/components/Documents.jsx
  packages/cozy-procedures/src/components/Documents.spec.jsx
Owners: @ptbrowne, @kosssi

fix: Use files as the word to describe documents from the store
  packages/cozy-procedures/src/components/Documents.jsx
  packages/cozy-procedures/src/components/Documents.spec.jsx
  packages/cozy-procedures/src/components/documents/DocumentsGroup.jsx
  packages/cozy-procedures/src/containers/DocumentsDataForm.jsx
  packages/cozy-procedures/src/redux/documentsDataSlice.js
Owners: none

fix: Revert 33f337e66fce64174135e38c49579e81fc5c2d54
  packages/cozy-procedures/package.json
Owners: none

Feat/match doc (#531)
  packages/cozy-doctypes/src/File.js
  packages/cozy-doctypes/src/File.spec.js
  packages/cozy-doctypes/src/administrativeProcedures/AdministrativeProcedure.js
  packages/cozy-procedures/package.json
  packages/cozy-procedures/src/Procedure.jsx
  packages/cozy-procedures/src/components/Documents.jsx
  packages/cozy-procedures/src/components/Documents.spec.jsx
  packages/cozy-procedures/src/components/documents/DocumentHolder.jsx
  packages/cozy-procedures/src/components/documents/DocumentsGroup.jsx
  packages/cozy-procedures/src/containers/DocumentsDataForm.jsx
  packages/cozy-procedures/src/containers/Procedure.jsx
  packages/cozy-procedures/src/index.js
  packages/cozy-procedures/src/redux/documentsDataSlice.js
  packages/cozy-procedures/src/redux/documentsSlice.js
  packages/cozy-procedures/src/redux/rootReducer.js
  packages/playgrounds/src/common/client.js
Owners: @ptbrowne, @kosssi

[skip ci] Publish
  packages/cozy-doctypes/CHANGELOG.md
  packages/cozy-doctypes/package.json
  packages/cozy-procedures/CHANGELOG.md
  packages/cozy-procedures/package.json
Owners: @ptbrowne, @kosssi
