Repository cozy/cozy-libs, changes with the owners that CODEOWNERS names for each.
All owners: @kosssi, @ptbrowne, @cedricmessiant, @cpatchane, @enguerran, @Crash--, @gregorylegarec, @y-lohse, @ylohse, @doubleface

CODEOWNERS:

packages/cozy-device-helper @kosssi @ptbrowne
packages/cozy-flags @ptbrowne @cedricmessiant
packages/cozy-realtime @kosssi
packages/babel-preset-cozy-app @cpatchane @cedricmessiant
packages/eslint-config-cozy-app @cpatchane @cedricmessiant
packages/commitlint-config-cozy @kosssi @enguerran @cedricmessiant
packages/browserslist-config-cozy @cpatchane @Crash--
packages/cozy-app-publish @cpatchane @gregorylegarec @y-lohse
packages/cozy-ci-utils @y-lohse @cedricmessiant
packages/cozy-harvest-lib @gregorylegarec @cpatchane
packages/cozy-interapp @gregorylegarec @kosssi
packages/cozy-doctypes @ptbrowne @kosssi
packages/cozy-release @gregorylegarec @cpatchane @cedricmessiant
packages/renovate-config-cozy @ylohse @doubleface @kosssi

refactor(procedures): Use get*Fields selectors in Overview
  packages/cozy-procedures/src/components/Overview.jsx
  packages/cozy-procedures/src/containers/Overview.jsx
Owners: none

feat(procedures): Add form status to personal data form
  packages/cozy-procedures/src/components/FormFillingStatus.jsx
  packages/cozy-procedures/src/components/FormFillingStatus.spec.jsx
  packages/cozy-procedures/src/components/PersonalDataForm.jsx
  packages/cozy-procedures/src/components/__snapshots__/FormFillingStatus.spec.jsx.snap
  packages/cozy-procedures/src/containers/FormFillingStatus.jsx
  packages/cozy-procedures/src/containers/FormFillingStatus.spec.jsx
  packages/cozy-procedures/src/locales/en.json
  packages/cozy-procedures/src/locales/fr.json
  packages/cozy-procedures/src/redux/personalDataSlice.js
  packages/cozy-procedures/src/redux/personalDataSlice.spec.js
Owners: none

fix(procedures): Pluralize FormFillingStatus
  packages/cozy-procedures/src/components/FormFillingStatus.jsx
  packages/cozy-procedures/src/components/__snapshots__/FormFillingStatus.spec.jsx.snap
  packages/cozy-procedures/src/locales/en.json
  packages/cozy-procedures/src/locales/fr.json
Owners: none

[skip ci] Publish
  packages/cozy-procedures/CHANGELOG.md
  packages/cozy-procedures/package.json
Owners: none

feat(auth): Update cozy-ui
  packages/cozy-authentication/package.json
  packages/cozy-authentication/src/steps/Welcome.jsx
Owners: none

chore: Update yarn.lock
  yarn.lock
Owners: none

[skip ci] Publish
  packages/cozy-authentication/CHANGELOG.md
  packages/cozy-authentication/package.json
  packages/playgrounds/CHANGELOG.md
  packages/playgrounds/package.json
Owners: none

feat(harvest): Prepare frequency methods 📝
  packages/cozy-harvest-lib/src/helpers/cron.js
  packages/cozy-harvest-lib/src/helpers/triggers.js
  packages/cozy-harvest-lib/test/helpers/cron.spec.js
Owners: @gregorylegarec, @cpatchane

feat(harvest): Add frequency in LaunchTriggerCard ✨
  packages/cozy-harvest-lib/package.json
  packages/cozy-harvest-lib/src/components/cards/LaunchTriggerCard.jsx
  packages/cozy-harvest-lib/src/locales/en.json
  packages/cozy-harvest-lib/test/components/__snapshots__/DeleteAccountButton.spec.js.snap
  yarn.lock
Owners: @gregorylegarec, @cpatchane

feat(harvest): Prepare last success date methods 📝
  packages/cozy-harvest-lib/package.json
  packages/cozy-harvest-lib/src/helpers/triggers.js
  yarn.lock
Owners: @gregorylegarec, @cpatchane

feat(harvest): Add last success date in LaunchTriggerCard ✨
  packages/cozy-harvest-lib/src/components/cards/LaunchTriggerCard.jsx
  packages/cozy-harvest-lib/src/locales/en.json
Owners: @gregorylegarec, @cpatchane

feat(harvest): Refetch trigger after success or error in Launcher 📝
  packages/cozy-harvest-lib/package.json
  packages/cozy-harvest-lib/src/components/TriggerLauncher.jsx
  packages/cozy-harvest-lib/src/components/cards/LaunchTriggerCard.jsx
  packages/cozy-harvest-lib/src/connections/triggers.js
  packages/cozy-harvest-lib/test/components/TriggerLauncher.spec.js
  yarn.lock
Owners: @gregorylegarec, @cpatchane

feat(harvest): Arrange desktop flex layout for LaunchTriggerCard 💄
  packages/cozy-harvest-lib/src/components/cards/LaunchTriggerCard.jsx
Owners: @gregorylegarec, @cpatchane

feat(harvest): Make LaunchTriggerCard responsive 📱
  packages/cozy-harvest-lib/src/components/cards/LaunchTriggerCard.jsx
Owners: @gregorylegarec, @cpatchane

[skip ci] Publish
  packages/cozy-harvest-lib/CHANGELOG.md
  packages/cozy-harvest-lib/package.json
Owners: @gregorylegarec, @cpatchane

fix: Handle missing ME contact
  packages/cozy-procedures/src/redux/personalDataSlice.js
  packages/cozy-procedures/src/redux/personalDataSlice.spec.js
Owners: none

feat: Responsive topbar
  packages/cozy-procedures/src/components/Topbar.jsx
Owners: none

fix: Better english label
  packages/cozy-procedures/src/locales/en.json
Owners: none

fix: General margins
  packages/cozy-procedures/src/Procedure.jsx
Owners: none

fix(playgrounds): Use react
  packages/playgrounds/package.json
Owners: none

fix(procedures): Handle errors correctly in personalDataSlice
  packages/cozy-procedures/src/redux/personalDataSlice.js
  packages/cozy-procedures/src/redux/personalDataSlice.spec.js
Owners: none

fix: Better english label
  packages/cozy-procedures/src/locales/en.json
Owners: none

fix: General margins
  packages/cozy-procedures/src/Procedure.jsx
Owners: none

feat: Responsive topbar
  packages/cozy-procedures/src/components/Topbar.jsx
Owners: none

[skip ci] Publish
  packages/cozy-procedures/CHANGELOG.md
  packages/cozy-procedures/package.json
Owners: none

chore(harvest): Update dependency cozy-ui to v21.2.3 ⬆️
  packages/cozy-harvest-lib/package.json
  yarn.lock
Owners: @gregorylegarec, @cpatchane

fix: Handle missing ME contact
  packages/cozy-procedures/src/redux/personalDataSlice.js
  packages/cozy-procedures/src/redux/personalDataSlice.spec.js
Owners: none

[skip ci] Publish
  packages/cozy-procedures/CHANGELOG.md
  packages/cozy-procedures/package.json
Owners: none

fix(playgrounds): Use react
  packages/playgrounds/package.json
Owners: none

fix(procedures): Handle errors correctly in personalDataSlice
  packages/cozy-procedures/src/redux/personalDataSlice.js
  packages/cozy-procedures/src/redux/personalDataSlice.spec.js
Owners: none

feat(procedure): Redux Store for Documents
  packages/cozy-doctypes/src/File.js
  packages/cozy-procedures/src/Procedure.jsx
  packages/cozy-procedures/src/components/OtherComp.jsx
  packages/cozy-procedures/src/containers/DocumentsDataForm.jsx
  packages/cozy-procedures/src/containers/Procedure.jsx
  packages/cozy-procedures/src/index.js
  packages/cozy-procedures/src/redux/documentsDataSlice.js
  packages/cozy-procedures/src/redux/documentsSlice.js
  packages/cozy-procedures/src/redux/rootReducer.js
  packages/cozy-procedures/src/templates/creditApplicationTemplate.js
Owners: @ptbrowne, @kosssi

feat(playground): Add files access
  packages/cozy-doctypes/src/File.js
  packages/cozy-procedures/src/components/OtherComp.jsx
  packages/cozy-procedures/src/containers/DocumentsDataForm.jsx
  packages/cozy-procedures/src/index.js
  packages/playgrounds/src/common/client.js
Owners: @ptbrowne, @kosssi

feat: Add splitFilename to CozyFile
  packages/cozy-doctypes/src/File.js
  packages/cozy-doctypes/src/File.spec.js
Owners: @ptbrowne, @kosssi

feat: Add getFilesByRules
  packages/cozy-doctypes/src/administrativeProcedures/AdministrativeProcedure.js
Owners: @ptbrowne, @kosssi

refactor: Use a model to populate our data
  packages/cozy-doctypes/src/administrativeProcedures/AdministrativeProcedure.js
  packages/cozy-doctypes/src/administrativeProcedures/AdministrativeProcedure.spec.js
  packages/cozy-procedures/src/Procedure.jsx
  packages/cozy-procedures/src/components/Documents.jsx
  packages/cozy-procedures/src/redux/documentsDataSlice.js
Owners: @ptbrowne, @kosssi

feat: Tmp fetch files
  packages/cozy-procedures/src/Procedure.jsx
  packages/cozy-procedures/src/components/Documents.jsx
  packages/cozy-procedures/src/components/documents/DocumentHolder.jsx
  packages/cozy-procedures/src/components/documents/DocumentsHolder.jsx
  packages/cozy-procedures/src/containers/DocumentsDataForm.jsx
  packages/cozy-procedures/src/index.js
  packages/cozy-procedures/src/redux/documentsDataSlice.js
  packages/cozy-procedures/src/templates/creditApplicationTemplate.js
Owners: none

refactor: Rm unsued function
  packages/cozy-procedures/src/redux/documentsDataSlice.js
Owners: none

refactor: Use DocumentsGroups
  packages/cozy-procedures/src/components/Documents.jsx
  packages/cozy-procedures/src/components/documents/DocumentsGroups.jsx
  packages/cozy-procedures/src/components/documents/DocumentsHolder.jsx
Owners: none

feat: Render children after initiated
  packages/cozy-procedures/src/Procedure.jsx
  packages/cozy-procedures/src/containers/Procedure.jsx
  packages/cozy-procedures/src/redux/documentsDataSlice.js
Owners: none

chore: Add a few propTypes
  packages/cozy-doctypes/src/administrativeProcedures/AdministrativeProcedure.js
  packages/cozy-procedures/src/Procedure.jsx
  packages/cozy-procedures/src/components/Documents.jsx
  packages/cozy-procedures/src/components/documents/DocumentsGroups.jsx
  packages/cozy-procedures/src/redux/documentsDataSlice.js
Owners: @ptbrowne, @kosssi
