Repository cozy/cozy-libs, changes with the owners that CODEOWNERS names for each.
All owners: @trollepierre, @acezard, @doubleface, @Ldoppea, @Merkur39, @JF-Cozy, @PolariTOON

fix: Rename build job
  .travis.yml
Owners: @trollepierre, @acezard

fix(mespapiers-lib): Prevent implicit submission for disabled buttons
  packages/cozy-mespapiers-lib/src/components/ModelSteps/ContactList.jsx
  packages/cozy-mespapiers-lib/src/components/ModelSteps/ContactWrapper.jsx
Owners: @Merkur39, @JF-Cozy, @PolariTOON

feat: Add codemods for mui styles imports
  packages/cozy-codemods/src/transforms/__testfixtures__/transform-mui-styles-imports.input.js
  packages/cozy-codemods/src/transforms/__testfixtures__/transform-mui-styles-imports.output.js
  packages/cozy-codemods/src/transforms/__tests__/transform-mui-styles-imports.spec.js
  packages/cozy-codemods/src/transforms/transform-mui-styles-imports.js
Owners: @trollepierre, @acezard

feat: Add codemods for mui styles imports
  packages/cozy-codemods/src/transforms/__testfixtures__/transform-mui-styles-imports.input.js
  packages/cozy-codemods/src/transforms/__testfixtures__/transform-mui-styles-imports.output.js
  packages/cozy-codemods/src/transforms/__tests__/transform-mui-styles-imports.spec.js
  packages/cozy-codemods/src/transforms/transform-mui-styles-imports.js
Owners: @trollepierre, @acezard

[skip ci] Publish
  packages/cozy-codemods/CHANGELOG.md
  packages/cozy-codemods/package.json
Owners: @trollepierre, @acezard

fix(mespapiers-lib): Prevent implicit submission for disabled buttons
  packages/cozy-mespapiers-lib/src/components/ModelSteps/ContactList.jsx
  packages/cozy-mespapiers-lib/src/components/ModelSteps/ContactWrapper.jsx
Owners: @Merkur39, @JF-Cozy, @PolariTOON

[skip ci] Publish
  packages/cozy-mespapiers-lib/CHANGELOG.md
  packages/cozy-mespapiers-lib/package.json
Owners: @Merkur39, @JF-Cozy, @PolariTOON

fix(harvest): Handle not existing applications
  packages/cozy-harvest-lib/src/components/Routes.jsx
  packages/cozy-harvest-lib/src/helpers/useKonnectorWithTriggers.js
  packages/cozy-harvest-lib/src/locales/en.json
  packages/cozy-harvest-lib/src/locales/fr.json
Owners: @doubleface, @trollepierre

fix(mespapiers-lib): Apply breaking changes from cozy/cozy-ui#2204
  packages/cozy-mespapiers-lib/src/components/Actions/ActionMenuItemWrapper.jsx
  packages/cozy-mespapiers-lib/src/components/CompositeHeader/CompositeHeader.jsx
  packages/cozy-mespapiers-lib/src/components/CompositeHeader/CompositeHeaderImage.jsx
  packages/cozy-mespapiers-lib/src/components/Home/FilterButton.jsx
  packages/cozy-mespapiers-lib/src/components/ImportDropdown/ImportDropdownItems.jsx
  packages/cozy-mespapiers-lib/src/components/ModelSteps/AcquisitionResult.jsx
  packages/cozy-mespapiers-lib/src/components/ModelSteps/widgets/InputDateAdapter.jsx
  packages/cozy-mespapiers-lib/src/components/Multiselect/GhostButton.jsx
  packages/cozy-mespapiers-lib/src/components/Multiselect/MultiselectViewActions.jsx
  packages/cozy-mespapiers-lib/src/components/Papers/PaperCardItem.jsx
  packages/cozy-mespapiers-lib/src/components/Papers/PaperItem.jsx
  packages/cozy-mespapiers-lib/src/components/Papers/Renaming/RenameInput.jsx
  packages/cozy-mespapiers-lib/src/components/PapersFab/PapersFab.jsx
  packages/cozy-mespapiers-lib/src/components/Placeholders/PlaceholderListModal/PlaceholdersList.jsx
  packages/cozy-mespapiers-lib/src/components/SearchInput/SearchInput.jsx
  packages/cozy-mespapiers-lib/src/components/StepperDialog/StepperDialog.jsx
Owners: @Merkur39, @JF-Cozy, @PolariTOON

chore(mespapiers-lib): Apply lint fixes
  packages/cozy-mespapiers-lib/src/components/Home/Home.jsx
Owners: @Merkur39, @JF-Cozy, @PolariTOON

feat(mespapiers-lib): Upgrade cozy-ui to 72.0.0
  packages/cozy-mespapiers-lib/package.json
  yarn.lock
Owners: @Merkur39, @JF-Cozy, @PolariTOON, @trollepierre, @acezard

fix(mespapiers-lib): Apply breaking changes from cozy/cozy-ui#2215
  packages/cozy-mespapiers-lib/src/components/Viewer/SelectFileButton.jsx
Owners: @Merkur39, @JF-Cozy, @PolariTOON

docs: Misleading example konnectors request in readme file
  packages/cozy-harvest-lib/README.md
Owners: @doubleface, @trollepierre

docs: Misleading example konnectors request in readme file
  packages/cozy-harvest-lib/README.md
Owners: @doubleface, @trollepierre

[skip ci] Publish
  packages/cozy-harvest-lib/CHANGELOG.md
  packages/cozy-harvest-lib/package.json
  packages/cozy-mespapiers-lib/CHANGELOG.md
  packages/cozy-mespapiers-lib/package.json
Owners: @doubleface, @trollepierre, @Merkur39, @JF-Cozy, @PolariTOON

fix(harvest): Handle not existing applications
  packages/cozy-harvest-lib/src/components/Routes.jsx
  packages/cozy-harvest-lib/src/helpers/useKonnectorWithTriggers.js
  packages/cozy-harvest-lib/src/locales/en.json
  packages/cozy-harvest-lib/src/locales/fr.json
Owners: @doubleface, @trollepierre

[skip ci] Publish
  packages/cozy-harvest-lib/CHANGELOG.md
  packages/cozy-harvest-lib/package.json
  packages/cozy-mespapiers-lib/CHANGELOG.md
  packages/cozy-mespapiers-lib/package.json
Owners: @doubleface, @trollepierre, @Merkur39, @JF-Cozy, @PolariTOON

feat: Add TS support for cozy-flags
  packages/cozy-flags/package.json
  packages/cozy-flags/src/index.d.ts
  packages/cozy-flags/tsconfig.json
Owners: @acezard, @trollepierre, @Ldoppea

fix: Use bookmark if present
  packages/cozy-doctypes/src/Document.js
Owners: @doubleface, @trollepierre

[skip ci] Publish
  packages/cozy-doctypes/CHANGELOG.md
  packages/cozy-doctypes/package.json
  packages/cozy-harvest-lib/CHANGELOG.md
  packages/cozy-harvest-lib/package.json
  packages/cozy-mespapiers-lib/CHANGELOG.md
  packages/cozy-mespapiers-lib/package.json
  packages/cozy-sharing/CHANGELOG.md
  packages/cozy-sharing/package.json
  packages/playgrounds/CHANGELOG.md
  packages/playgrounds/package.json
Owners: @doubleface, @trollepierre, @Merkur39, @JF-Cozy, @PolariTOON, @Ldoppea, @acezard

fix: Add prepublish script
  packages/cozy-authentication/package.json
  packages/cozy-codemods/package.json
  packages/cozy-doctypes/package.json
  packages/cozy-interapp/package.json
  packages/cozy-logger/package.json
  packages/cozy-mjml/package.json
  packages/cozy-procedures/package.json
  packages/cozy-scanner/package.json
Owners: @trollepierre, @acezard, @doubleface, @Ldoppea

fix: Add prepublish script
  packages/cozy-authentication/package.json
  packages/cozy-codemods/package.json
  packages/cozy-doctypes/package.json
  packages/cozy-interapp/package.json
  packages/cozy-logger/package.json
  packages/cozy-mjml/package.json
  packages/cozy-procedures/package.json
  packages/cozy-scanner/package.json
Owners: @trollepierre, @acezard, @doubleface, @Ldoppea

[skip ci] Publish
  packages/cozy-authentication/CHANGELOG.md
  packages/cozy-authentication/package.json
  packages/cozy-codemods/CHANGELOG.md
  packages/cozy-codemods/package.json
  packages/cozy-doctypes/CHANGELOG.md
  packages/cozy-doctypes/package.json
  packages/cozy-harvest-lib/CHANGELOG.md
  packages/cozy-harvest-lib/package.json
  packages/cozy-intent/CHANGELOG.md
  packages/cozy-intent/package.json
  packages/cozy-interapp/CHANGELOG.md
  packages/cozy-interapp/package.json
  packages/cozy-logger/CHANGELOG.md
  packages/cozy-logger/package.json
  packages/cozy-mespapiers-lib/CHANGELOG.md
  packages/cozy-mespapiers-lib/package.json
  packages/cozy-mjml/CHANGELOG.md
  packages/cozy-mjml/package.json
  packages/cozy-procedures/CHANGELOG.md
  packages/cozy-procedures/package.json
  packages/cozy-scanner/CHANGELOG.md
  packages/cozy-scanner/package.json
  packages/cozy-sharing/CHANGELOG.md
  packages/cozy-sharing/package.json
  packages/playgrounds/CHANGELOG.md
  packages/playgrounds/package.json
Owners: @trollepierre, @acezard, @doubleface, @Ldoppea, @Merkur39, @JF-Cozy, @PolariTOON

fix: Mask of vehicle registration
  packages/cozy-mespapiers-lib/src/constants/papersDefinitions.json
Owners: @Merkur39, @JF-Cozy, @PolariTOON

fix: Mask of vehicle registration
  packages/cozy-mespapiers-lib/src/constants/papersDefinitions.json
Owners: @Merkur39, @JF-Cozy, @PolariTOON

[skip ci] Publish
  packages/cozy-mespapiers-lib/CHANGELOG.md
  packages/cozy-mespapiers-lib/package.json
Owners: @Merkur39, @JF-Cozy, @PolariTOON

feat: Update eslint-config-cozy-app
  packages/eslint-config-cozy-app/package.json
  yarn.lock
Owners: @acezard, @trollepierre

fix: Better msg on ACCOUNT_WITH_SAME_IDENTIFIER_ALREADY_DEFINED error
  packages/cozy-harvest-lib/src/locales/en.json
  packages/cozy-harvest-lib/src/locales/fr.json
Owners: @doubleface, @trollepierre

fix: Add realtime on bank accounts
  packages/cozy-harvest-lib/src/components/DisconnectedAccountModal.spec.jsx
  packages/cozy-harvest-lib/src/components/KonnectorConfiguration/ConfigurationTab/Contracts.jsx
Owners: @doubleface, @trollepierre

fix: Add realtime on bank accounts
  packages/cozy-harvest-lib/src/components/DisconnectedAccountModal.spec.jsx
  packages/cozy-harvest-lib/src/components/KonnectorConfiguration/ConfigurationTab/Contracts.jsx
Owners: @doubleface, @trollepierre

fix: Better msg on ACCOUNT_WITH_SAME_IDENTIFIER_ALREADY_DEFINED error
  packages/cozy-harvest-lib/src/locales/en.json
  packages/cozy-harvest-lib/src/locales/fr.json
Owners: @doubleface, @trollepierre

[skip ci] Publish
  packages/cozy-harvest-lib/CHANGELOG.md
  packages/cozy-harvest-lib/package.json
  packages/cozy-mespapiers-lib/CHANGELOG.md
  packages/cozy-mespapiers-lib/package.json
Owners: @doubleface, @trollepierre, @Merkur39, @JF-Cozy, @PolariTOON

feat: Update eslint-config-cozy-app
  packages/eslint-config-cozy-app/package.json
  yarn.lock
Owners: @acezard, @trollepierre

[skip ci] Publish
  packages/cozy-codemods/CHANGELOG.md
  packages/cozy-codemods/package.json
  packages/eslint-config-cozy-app/CHANGELOG.md
  packages/eslint-config-cozy-app/package.json
Owners: @trollepierre, @acezard

refactor: Best approach to manage data waiting
  packages/cozy-mespapiers-lib/src/components/Viewer/FileViewerWithQuery.jsx
Owners: @Merkur39, @JF-Cozy, @PolariTOON

fix: Pass only the necessary props on PaperFab component
  packages/cozy-mespapiers-lib/src/components/PapersFab/PapersFab.jsx
Owners: @Merkur39, @JF-Cozy, @PolariTOON

refactor: Apply BC of react-router-dom 6
  packages/cozy-mespapiers-lib/src/components/Actions/Items/createPaper.js
  packages/cozy-mespapiers-lib/src/components/Actions/Items/open.js
  packages/cozy-mespapiers-lib/src/components/Actions/Items/select.js
  packages/cozy-mespapiers-lib/src/components/AppRouter.jsx
  packages/cozy-mespapiers-lib/src/components/Home/HomeToolbar.jsx
  packages/cozy-mespapiers-lib/src/components/Multiselect/MultiselectPaperList.jsx
  packages/cozy-mespapiers-lib/src/components/Multiselect/MultiselectView.jsx
  packages/cozy-mespapiers-lib/src/components/OnboardedGuardedRoute.jsx
  packages/cozy-mespapiers-lib/src/components/Papers/PaperGroup.jsx
  packages/cozy-mespapiers-lib/src/components/Papers/PaperItem.jsx
  packages/cozy-mespapiers-lib/src/components/Papers/PapersListWrapper.jsx
  packages/cozy-mespapiers-lib/src/components/Placeholders/FeaturedPlaceholdersList.jsx
  packages/cozy-mespapiers-lib/src/components/Placeholders/PlaceholderListModal/PlaceholderListModal.jsx
  packages/cozy-mespapiers-lib/src/components/Placeholders/PlaceholderListModal/PlaceholdersList.jsx
  packages/cozy-mespapiers-lib/src/components/StepperDialog/CreatePaperModal.jsx
  packages/cozy-mespapiers-lib/src/components/Viewer/FileViewerWithQuery.jsx
  packages/cozy-mespapiers-lib/src/components/Viewer/SelectFileButton.jsx
Owners: @Merkur39, @JF-Cozy, @PolariTOON

fix: FilterButton proptypes
  packages/cozy-mespapiers-lib/src/components/Home/FilterButton.jsx
Owners: @Merkur39, @JF-Cozy, @PolariTOON

feat: Upgrade react-router-dom to 6.3.0
  packages/cozy-mespapiers-lib/package.json
  yarn.lock
Owners: @Merkur39, @JF-Cozy, @PolariTOON, @trollepierre, @acezard

feat: Update FlagshipMetadata interface
  packages/cozy-device-helper/src/flagship.ts
Owners: @trollepierre, @acezard

CODEOWNERS:

# General code owners
*       @trollepierre @acezard

# Based on the Paper of the Technical maintainers of 2022
packages/cozy-harvest-lib            @doubleface @trollepierre
packages/cozy-doctypes/              @doubleface @trollepierre
packages/cozy-flags/                 @acezard @trollepierre @Ldoppea
packages/cozy-app-publish/           @acezard @doubleface @trollepierre
packages/cozy-interapp/              @Ldoppea @acezard @trollepierre
packages/cozy-intent/                @Ldoppea @acezard
packages/cozy-realtime/              @Ldoppea @trollepierre
packages/eslint-config-cozy-app/     @acezard @trollepierre
packages/renovate-config-cozy/       @doubleface @trollepierre
packages/renovate-config-cozy-libs/  @doubleface @trollepierre
packages/cozy-sharing/               @Ldoppea @acezard @trollepierre
packages/cozy-mespapiers-lib/        @Merkur39 @JF-Cozy @PolariTOON
